In [ ]:
# fillna 使用

In [1]:
import pandas as pd

In [18]:
df = pd.DataFrame({"a": [1, None, 3], "b": [4, 5, None]})

df

     a    b
0  1.0  4.0
1  NaN  5.0
2  3.0  NaN

In [19]:
df2 = pd.DataFrame({"a": [1, 2, 3], "b": [4, 5, None]})

df2

   a    b
0  1  4.0
1  2  5.0
2  3  NaN

In [16]:
df.a.fillna(df.b)

0    1.0
1    5.0
2    3.0
Name: a, dtype: float64

In [17]:
df.fillna(df2)

     a    b
0  1.0  4.0
1  2.0  5.0
2  3.0  NaN