## pandas字符串处理(四)

### 字符串其它操作
#### cat center startswith endswith join repeat

In [1]:
from faker import Faker
fake = Faker('zh_CN')

In [2]:
import pandas as pd
df=pd.DataFrame(data=[ [fake.name(),fake.company()] for x in range(10) ],columns=['user','company'])

In [3]:
df #生成的测试数据来演示

  user      company
0  张秀云   中建创业信息有限公司
1   张华     七喜科技有限公司
2   蒋勇   方正科技信息有限公司
3  陈玉华     维涛传媒有限公司
4   胡龙  数字100传媒有限公司
5   庄丽     盟新网络有限公司
6   莫刚     明腾网络有限公司
7  吴金凤   通际名联科技有限公司
8  高桂珍   通际名联传媒有限公司
9  赵雪梅  新宇龙信息信息有限公司

In [4]:
df.user.str.cat(df.company,sep='_') #合并两列

0     张秀云_中建创业信息有限公司
1        张华_七喜科技有限公司
2      蒋勇_方正科技信息有限公司
3       陈玉华_维涛传媒有限公司
4     胡龙_数字100传媒有限公司
5        庄丽_盟新网络有限公司
6        莫刚_明腾网络有限公司
7     吴金凤_通际名联科技有限公司
8     高桂珍_通际名联传媒有限公司
9    赵雪梅_新宇龙信息信息有限公司
Name: user, dtype: object

In [5]:
df.user.str.center(5,'*') # 字符串统一长度，两侧填充指定字符

0    *张秀云*
1    **张华*
2    **蒋勇*
3    *陈玉华*
4    **胡龙*
5    **庄丽*
6    **莫刚*
7    *吴金凤*
8    *高桂珍*
9    *赵雪梅*
Name: user, dtype: object

In [6]:
df.user.str.startswith('范') #字符串以某个字符串开头

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: user, dtype: bool

In [7]:
df.user.str.endswith('静') #字符串以某个字符串结尾

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: user, dtype: bool

In [8]:
df.user.str.join('-') # 将每个字符串元素视为一个字符列表，用指定的字符分隔符拼接

0    张-秀-云
1      张-华
2      蒋-勇
3    陈-玉-华
4      胡-龙
5      庄-丽
6      莫-刚
7    吴-金-凤
8    高-桂-珍
9    赵-雪-梅
Name: user, dtype: object

In [9]:
df.user.str.repeat(2) # 字符串重复指定次数

0    张秀云张秀云
1      张华张华
2      蒋勇蒋勇
3    陈玉华陈玉华
4      胡龙胡龙
5      庄丽庄丽
6      莫刚莫刚
7    吴金凤吴金凤
8    高桂珍高桂珍
9    赵雪梅赵雪梅
Name: user, dtype: object

In [10]:
df.user.str.repeat(repeats=range(10)) # 字符串重复指定次数,每一行指定不同重复次数

0
1                             张华
2                           蒋勇蒋勇
3                      陈玉华陈玉华陈玉华
4                       胡龙胡龙胡龙胡龙
5                     庄丽庄丽庄丽庄丽庄丽
6                   莫刚莫刚莫刚莫刚莫刚莫刚
7          吴金凤吴金凤吴金凤吴金凤吴金凤吴金凤吴金凤
8       高桂珍高桂珍高桂珍高桂珍高桂珍高桂珍高桂珍高桂珍
9    赵雪梅赵雪梅赵雪梅赵雪梅赵雪梅赵雪梅赵雪梅赵雪梅赵雪梅
Name: user, dtype: object