## pandas字符串处理(五)

### 字符串其它操作
#### pad partition strip lstrip rstrip wrap zfill

In [1]:
from faker import Faker
fake = Faker('zh_CN')

In [2]:
import pandas as pd
df=pd.DataFrame(data=[ [fake.name(),fake.company(),fake.numerify(),'空格 空格2'] for x in range(10) ],columns=['user','company','number','空格列'])

In [3]:
df #生成的测试数据来演示

  user        company number     空格列
0  侯志强       时刻信息有限公司    687  空格 空格2
1   韩建    诺依曼软件网络有限公司    249  空格 空格2
2   刘燕       四通传媒有限公司    818  空格 空格2
3  杨冬梅  雨林木风计算机网络有限公司    801  空格 空格2
4  郝桂荣      飞利信网络有限公司    236  空格 空格2
5  孙红霞       明腾传媒有限公司    751  空格 空格2
6  刘凤英    新宇龙信息信息有限公司    663  空格 空格2
7   何辉      易动力传媒有限公司    603  空格 空格2
8   谢刚     网新恒天科技有限公司    594  空格 空格2
9   段宁     网新恒天信息有限公司    827  空格 空格2

In [4]:
df.user.str.pad(5,side='both',fillchar='*') # 将字符串“展开”到指定字符数量宽度，空白以指定字符填充

0    *侯志强*
1    **韩建*
2    **刘燕*
3    *杨冬梅*
4    *郝桂荣*
5    *孙红霞*
6    *刘凤英*
7    **何辉*
8    **谢刚*
9    **段宁*
Name: user, dtype: object

In [5]:
df.空格列.str.partition(' ') # 将字符串以指定字符分开

    0  1    2
0  空格     空格2
1  空格     空格2
2  空格     空格2
3  空格     空格2
4  空格     空格2
5  空格     空格2
6  空格     空格2
7  空格     空格2
8  空格     空格2
9  空格     空格2

In [7]:
df.user.str.pad(5,side='both',fillchar='*').str.strip('*') # 将字符串两侧的指定字符去掉

0    侯志强
1     韩建
2     刘燕
3    杨冬梅
4    郝桂荣
5    孙红霞
6    刘凤英
7     何辉
8     谢刚
9     段宁
Name: user, dtype: object

In [8]:
df.user.str.pad(5,side='both',fillchar='*').str.lstrip('*') # 将字符串左侧的指定字符去掉

0    侯志强*
1     韩建*
2     刘燕*
3    杨冬梅*
4    郝桂荣*
5    孙红霞*
6    刘凤英*
7     何辉*
8     谢刚*
9     段宁*
Name: user, dtype: object

In [11]:
df.user.str.pad(5,side='both',fillchar='*').str.rstrip('*') # 将字符串右侧的指定字符去掉

0    *侯志强
1    **韩建
2    **刘燕
3    *杨冬梅
4    *郝桂荣
5    *孙红霞
6    *刘凤英
7    **何辉
8    **谢刚
9    **段宁
Name: user, dtype: object

In [14]:
df.user.str.wrap(1) # 将字符串限制在指定宽度，加换行符

0    侯\n志\n强
1       韩\n建
2       刘\n燕
3    杨\n冬\n梅
4    郝\n桂\n荣
5    孙\n红\n霞
6    刘\n凤\n英
7       何\n辉
8       谢\n刚
9       段\n宁
Name: user, dtype: object

In [18]:
df.number.str.zfill(4) # 将字符串“展开”到指定宽度，左侧补零

0    0687
1    0249
2    0818
3    0801
4    0236
5    0751
6    0663
7    0603
8    0594
9    0827
Name: number, dtype: object