## pandas输入和输出（二）

### 比较常用的读写 csv(压缩文件) html hdf

In [28]:
from faker import Faker
fake = Faker('zh_CN')

In [29]:
import pandas as pd
df=pd.DataFrame(data=[ [fake.name(),fake.company(),fake.numerify(),'空格 空格2 空格3'] for x in range(10) ],columns=['user','company','number','空格列'])

In [30]:
df #生成的测试数据来演示

  user      company number         空格列
0   周丹   华远软件网络有限公司    231  空格 空格2 空格3
1  王冬梅     创亿科技有限公司    915  空格 空格2 空格3
2   蔡超  新格林耐特传媒有限公司    586  空格 空格2 空格3
3   柳佳     七喜科技有限公司    765  空格 空格2 空格3
4  吴玉梅   商软冠联传媒有限公司    882  空格 空格2 空格3
5   王萍   艾提科信网络有限公司    532  空格 空格2 空格3
6   李杨   合联电子信息有限公司    005  空格 空格2 空格3
7  周婷婷    飞利信信息有限公司    211  空格 空格2 空格3
8  刘淑兰     佳禾网络有限公司    222  空格 空格2 空格3
9   覃霞   华远软件科技有限公司    495  空格 空格2 空格3

In [32]:
 df.to_csv('demo.zip',index=False,compression=dict(method='zip',archive_name='demo.csv'))# 保存成csv，压缩格式。可以选其它格式

In [33]:
pd.read_csv('demo.zip') #读取压缩文件中的csv

  user      company  number         空格列
0   周丹   华远软件网络有限公司     231  空格 空格2 空格3
1  王冬梅     创亿科技有限公司     915  空格 空格2 空格3
2   蔡超  新格林耐特传媒有限公司     586  空格 空格2 空格3
3   柳佳     七喜科技有限公司     765  空格 空格2 空格3
4  吴玉梅   商软冠联传媒有限公司     882  空格 空格2 空格3
5   王萍   艾提科信网络有限公司     532  空格 空格2 空格3
6   李杨   合联电子信息有限公司       5  空格 空格2 空格3
7  周婷婷    飞利信信息有限公司     211  空格 空格2 空格3
8  刘淑兰     佳禾网络有限公司     222  空格 空格2 空格3
9   覃霞   华远软件科技有限公司     495  空格 空格2 空格3

In [36]:
df.to_html('demo.html') # 保存成html表格

In [38]:
pd.read_html('demo.html',encoding='utf-8') # 读取html表格

[   Unnamed: 0 user      company  number         空格列
 0           0   周丹   华远软件网络有限公司     231  空格 空格2 空格3
 1           1  王冬梅     创亿科技有限公司     915  空格 空格2 空格3
 2           2   蔡超  新格林耐特传媒有限公司     586  空格 空格2 空格3
 3           3   柳佳     七喜科技有限公司     765  空格 空格2 空格3
 4           4  吴玉梅   商软冠联传媒有限公司     882  空格 空格2 空格3
 5           5   王萍   艾提科信网络有限公司     532  空格 空格2 空格3
 6           6   李杨   合联电子信息有限公司       5  空格 空格2 空格3
 7           7  周婷婷    飞利信信息有限公司     211  空格 空格2 空格3
 8           8  刘淑兰     佳禾网络有限公司     222  空格 空格2 空格3
 9           9   覃霞   华远软件科技有限公司     495  空格 空格2 空格3]

In [39]:
df.to_hdf('demo.h5',key='df') # 保存成hdf文件

In [40]:
pd.read_hdf('demo.h5') # 读取hdf文件

  user      company number         空格列
0   周丹   华远软件网络有限公司    231  空格 空格2 空格3
1  王冬梅     创亿科技有限公司    915  空格 空格2 空格3
2   蔡超  新格林耐特传媒有限公司    586  空格 空格2 空格3
3   柳佳     七喜科技有限公司    765  空格 空格2 空格3
4  吴玉梅   商软冠联传媒有限公司    882  空格 空格2 空格3
5   王萍   艾提科信网络有限公司    532  空格 空格2 空格3
6   李杨   合联电子信息有限公司    005  空格 空格2 空格3
7  周婷婷    飞利信信息有限公司    211  空格 空格2 空格3
8  刘淑兰     佳禾网络有限公司    222  空格 空格2 空格3
9   覃霞   华远软件科技有限公司    495  空格 空格2 空格3