## 102 prod乘积

### prod 计算值的乘积
参数 axis=None, skipna=None, level=None, numeric_only=None, min_count=0, **kwargs

In [1]:
import numpy  as np
import pandas as pd

df=pd.DataFrame(data=np.random.randint(100,100000,size=(10, 1)),columns=['a'])
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)
df['b']=np.random.randint(100,100000,size=(10, 1))
df.iloc[1,2:4]=np.nan

### 演示数据

In [2]:
df # 随机生成的数据

  dept dept1        a        b
0  部门1  小部门1  27153.0  65219.0
1  部门1  小部门1      NaN      NaN
2  部门1  小部门2  60593.0  86546.0
3  部门1  小部门2  77702.0  86777.0
4  部门1  小部门2   2385.0  59182.0
5  部门2  小部门3  87246.0  62164.0
6  部门2  小部门4  60174.0  30154.0
7  部门2  小部门4  75849.0  24112.0
8  部门2  小部门4  84730.0  23018.0
9  部门2  小部门4  25499.0  57573.0

In [21]:
df.product() # 等效用法

a    2.623164e+41
b    1.736277e+42
dtype: float64

In [19]:
df.prod(min_count=10) # min_count 要求的最少数字个数，如果不够返回nan

a   NaN
b   NaN
dtype: float64

In [15]:
df.prod(numeric_only=True) # numeric_only 是否仅仅计算数字列/行

a    2.623164e+41
b    1.736277e+42
dtype: float64

In [13]:
df.set_index(['dept','dept1']).prod(level='dept1') # level 指定 多索引的层级

                  a             b
dept1
小部门1   2.715300e+04  6.521900e+04
小部门2   1.122905e+13  4.444688e+14
小部门3   8.724600e+04  6.216400e+04
小部门4   9.860958e+18  9.635286e+17

In [12]:
df.set_index(['dept','dept1']).prod(level=0) # level 指定 多索引的层级

                 a             b
dept
部门1   3.049024e+17  2.898781e+19
部门2   8.603291e+23  5.989679e+22

In [10]:
df.prod(axis=0,skipna=False) # 数字的乘积。skipna 计算是否排除nan

a   NaN
b   NaN
dtype: float64

In [8]:
df.prod(axis=1) # 行上数字的乘积

0    1.770892e+09
1    1.000000e+00
2    5.244082e+09
3    6.742746e+09
4    1.411491e+08
5    5.423560e+09
6    1.814487e+09
7    1.828871e+09
8    1.950315e+09
9    1.468054e+09
dtype: float64

In [5]:
df.loc[:2]

  dept dept1        a        b
0  部门1  小部门1  27153.0  65219.0
1  部门1  小部门1      NaN      NaN
2  部门1  小部门2  60593.0  86546.0

In [6]:
df.loc[:2].prod()

a    1.645282e+09
b    5.644444e+09
dtype: float64

In [7]:
27153.0*60593.0

1645281729.0

In [3]:
df.prod() # 列上数字的乘积

a    2.623164e+41
b    1.736277e+42
dtype: float64