## 103 quantile分位数计算

### quantile 返回给定的分位数对应的值
参数 q=0.5, axis=0, numeric_only=True, interpolation={‘linear’, ‘lower’, ‘higher’, ‘midpoint’, ‘nearest’}

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['时间']=pd.date_range(start='2020-01-01',periods=10,freq='D')
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept 1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)
df.iloc[1,1]=np.nan #  修改成nan

### 演示数据

In [2]:
df # 随机生成的数据

  dept dept 1 name    销售额         时间
0  部门1   小部门1  伍秀云  19565 2020-01-01
1  部门1    NaN   金晨  27108 2020-01-02
2  部门1   小部门2   李晶  73363 2020-01-03
3  部门1   小部门2   王丽   5410 2020-01-04
4  部门1   小部门2  陈桂芳  96968 2020-01-05
5  部门2   小部门3   杨兵  98158 2020-01-06
6  部门2   小部门4  邹志强   2365 2020-01-07
7  部门2   小部门4   夏佳  43175 2020-01-08
8  部门2   小部门4  吴建华  85795 2020-01-09
9  部门2   小部门4   蔡坤  32299 2020-01-10

In [ ]:
df.quantile(axis=1,q=[.25,.5,.75],interpolation='nearest',numeric_only=False) #  axis 轴参数

In [18]:
df.quantile(q=[.25,.5,.75],interpolation='nearest',numeric_only=False) #  numeric_only 如果，False会计算 时间和时差类型数据

     dept dept 1 name    销售额         时间
0.25  部门1   小部门2   夏佳  19565 2020-01-03
0.50  部门1   小部门3   杨兵  32299 2020-01-05
0.75  部门2   小部门4  邹志强  85795 2020-01-08

In [8]:
df.销售额.describe()

count       10.000000
mean     48420.600000
std      37110.874385
min       2365.000000
25%      21450.750000
50%      37737.000000
75%      82687.000000
max      98158.000000
Name: 销售额, dtype: float64

In [12]:
21450-19565,21450-27108

(1885, -5658)

In [11]:
df.quantile(q=[.25,.5,.75],interpolation='nearest') # z最近的值

        销售额
0.25  19565
0.50  32299
0.75  85795

In [10]:
df.quantile(q=[.25,.5,.75],interpolation='midpoint') # minpoint 最近的两个值的均值

          销售额
0.25  23336.5
0.50  37737.0
0.75  79579.0

In [9]:
df.quantile(q=[.25,.5,.75],interpolation='higher') # 比它大的最近的

        销售额
0.25  27108
0.50  43175
0.75  85795

In [7]:
df.quantile(q=[.25,.5,.75],interpolation='lower') # 比它小的最近的

        销售额
0.25  19565
0.50  32299
0.75  73363

In [5]:
df.quantile(q=[.25,.5,.75]) # 返回对应的分位数的值

           销售额
0.25  21450.75
0.50  37737.00
0.75  82687.00

In [4]:
df.quantile(q=0.5) # 返回对应的分位数的值

销售额    37737.0
Name: 0.5, dtype: float64