## 106 统计不同元素个数

### unique 返回不同元素 
### nunique 返回不同元素的个数
参数 axis=0, dropna=True
### value_counts 返回不同元素的个数
参数 subset=None, normalize=False, sort=True, ascending=False

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['时间']=pd.date_range(start='2020-01-01',periods=10,freq='D')
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept 1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)
df.iloc[1,3]=np.nan #  修改成nan

### 演示数据

In [2]:
df # 随机生成的数据

  dept dept 1 name      销售额         时间
0  部门1   小部门1  王淑珍  56964.0 2020-01-01
1  部门1   小部门1   孙云      NaN 2020-01-02
2  部门1   小部门2  张建华  34873.0 2020-01-03
3  部门1   小部门2   杨红  24140.0 2020-01-04
4  部门1   小部门2   陈阳  37500.0 2020-01-05
5  部门2   小部门3   杨超  30003.0 2020-01-06
6  部门2   小部门4  王丽丽  21058.0 2020-01-07
7  部门2   小部门4   张倩   2620.0 2020-01-08
8  部门2   小部门4   乔荣  95599.0 2020-01-09
9  部门2   小部门4   曾浩  39327.0 2020-01-10

In [27]:
df.value_counts(subset=['dept 1'],normalize=True,ascending=True) # ascending 升序

dept 1
小部门3      0.1
小部门1      0.2
小部门2      0.3
小部门4      0.4
dtype: float64

In [25]:
df.value_counts(subset=['dept 1'],normalize=True,sort=False) # sort 不排序

dept 1
小部门1      0.2
小部门2      0.3
小部门3      0.1
小部门4      0.4
dtype: float64

In [24]:
df.value_counts(subset=['dept 1'],normalize=True,sort=True) # sort 降序

dept 1
小部门4      0.4
小部门2      0.3
小部门1      0.2
小部门3      0.1
dtype: float64

In [16]:
df.value_counts(subset=['销售额','时间'],normalize=True) # normalize 类似每个元素个数的占比

销售额      时间
2620.0   2020-01-08    0.111111
21058.0  2020-01-07    0.111111
24140.0  2020-01-04    0.111111
30003.0  2020-01-06    0.111111
34873.0  2020-01-03    0.111111
37500.0  2020-01-05    0.111111
39327.0  2020-01-10    0.111111
56964.0  2020-01-01    0.111111
95599.0  2020-01-09    0.111111
dtype: float64

In [15]:
df.value_counts(subset=['销售额','时间']) # subset 限定子集列

销售额      时间
2620.0   2020-01-08    1
21058.0  2020-01-07    1
24140.0  2020-01-04    1
30003.0  2020-01-06    1
34873.0  2020-01-03    1
37500.0  2020-01-05    1
39327.0  2020-01-10    1
56964.0  2020-01-01    1
95599.0  2020-01-09    1
dtype: int64

In [13]:
df.销售额.value_counts() # 统计不同值的个数

2620.0     1
37500.0    1
21058.0    1
24140.0    1
34873.0    1
30003.0    1
39327.0    1
56964.0    1
95599.0    1
Name: 销售额, dtype: int64

In [12]:
df.value_counts()  # 统计不同值的个数

dept  dept 1  name  销售额      时间
部门1   小部门1    王淑珍   56964.0  2020-01-01    1
      小部门2    张建华   34873.0  2020-01-03    1
              杨红    24140.0  2020-01-04    1
              陈阳    37500.0  2020-01-05    1
部门2   小部门3    杨超    30003.0  2020-01-06    1
      小部门4    乔荣    95599.0  2020-01-09    1
              张倩    2620.0   2020-01-08    1
              曾浩    39327.0  2020-01-10    1
              王丽丽   21058.0  2020-01-07    1
dtype: int64

In [11]:
df.nunique(dropna=False) # 返回各个列中不同元素的个数。dropna 是否统计nan

dept       2
dept 1     4
name      10
销售额       10
时间        10
dtype: int64

In [9]:
df.unique() # df上不能使用

AttributeError: 'DataFrame' object has no attribute 'unique'

In [8]:
df.nunique() # 返回各个列中不同元素的个数

dept       2
dept 1     4
name      10
销售额        9
时间        10
dtype: int64

In [7]:
df.index.nunique() # 返回不同元素的个数。用在索引上

10

In [6]:
df.dept.nunique() # 返回不同元素的个数

2

In [5]:
df.index.unique() # 用在索引上

RangeIndex(start=0, stop=10, step=1)

In [4]:
df.dept.unique() # dept列中的不同元素。等效

array(['部门1', '部门2'], dtype=object)

In [3]:
pd.unique(df.dept) # dept列中的不同元素

array(['部门1', '部门2'], dtype=object)