## 112 truncate截取数据

### truncate ：根据条件按照索引值截取数据，去掉before之前和after之后的数据。对照loc
参数 before=None, after=None, axis=None, copy=True

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['时间']=pd.date_range(start='2020-01-01',periods=10,freq='3H')
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept 1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)
df.iloc[1,3]=np.nan #  修改成nan

### 演示数据

In [2]:
df

  dept dept 1 name      销售额                  时间
0  部门1   小部门1  赵桂珍  58426.0 2020-01-01 00:00:00
1  部门1   小部门1   王浩      NaN 2020-01-01 03:00:00
2  部门1   小部门2   伍刚   3695.0 2020-01-01 06:00:00
3  部门1   小部门2  李玉梅  35878.0 2020-01-01 09:00:00
4  部门1   小部门2  李秀云  33160.0 2020-01-01 12:00:00
5  部门2   小部门3   刘俊  43919.0 2020-01-01 15:00:00
6  部门2   小部门4   许帆  83097.0 2020-01-01 18:00:00
7  部门2   小部门4   刘晨  40959.0 2020-01-01 21:00:00
8  部门2   小部门4   王斌  87024.0 2020-01-02 00:00:00
9  部门2   小部门4   李阳  99815.0 2020-01-02 03:00:00

In [9]:
df.set_index('时间').loc['2020-01-01':'2020-01-02'] # 注意'2020-01-02'，说明日期部分匹配就可以

                    dept dept 1 name      销售额
时间
2020-01-01 00:00:00  部门1   小部门1  赵桂珍  58426.0
2020-01-01 03:00:00  部门1   小部门1   王浩      NaN
2020-01-01 06:00:00  部门1   小部门2   伍刚   3695.0
2020-01-01 09:00:00  部门1   小部门2  李玉梅  35878.0
2020-01-01 12:00:00  部门1   小部门2  李秀云  33160.0
2020-01-01 15:00:00  部门2   小部门3   刘俊  43919.0
2020-01-01 18:00:00  部门2   小部门4   许帆  83097.0
2020-01-01 21:00:00  部门2   小部门4   刘晨  40959.0
2020-01-02 00:00:00  部门2   小部门4   王斌  87024.0
2020-01-02 03:00:00  部门2   小部门4   李阳  99815.0

In [7]:
df.set_index('时间').truncate(before='2020-01-01',after='2020-01-02') # 提示：只能作用于有序索引
# 2020-01-02 == 2020-01-02 00:00:00

                    dept dept 1 name      销售额
时间
2020-01-01 00:00:00  部门1   小部门1  赵桂珍  58426.0
2020-01-01 03:00:00  部门1   小部门1   王浩      NaN
2020-01-01 06:00:00  部门1   小部门2   伍刚   3695.0
2020-01-01 09:00:00  部门1   小部门2  李玉梅  35878.0
2020-01-01 12:00:00  部门1   小部门2  李秀云  33160.0
2020-01-01 15:00:00  部门2   小部门3   刘俊  43919.0
2020-01-01 18:00:00  部门2   小部门4   许帆  83097.0
2020-01-01 21:00:00  部门2   小部门4   刘晨  40959.0
2020-01-02 00:00:00  部门2   小部门4   王斌  87024.0

In [5]:
df.truncate(before=2,after=6) # 提示：只能作用于有序索引

ValueError: truncate requires a sorted index

In [3]:
df.truncate(2,6) # “掐掉”2之前和6 之后的 行，留下中间的

  dept dept 1 name      销售额                  时间
2  部门1   小部门2   伍刚   3695.0 2020-01-01 06:00:00
3  部门1   小部门2  李玉梅  35878.0 2020-01-01 09:00:00
4  部门1   小部门2  李秀云  33160.0 2020-01-01 12:00:00
5  部门2   小部门3   刘俊  43919.0 2020-01-01 15:00:00
6  部门2   小部门4   许帆  83097.0 2020-01-01 18:00:00