## 116 shift移动数据索引

### shift：索引不变，移动数据；或者数据不变，调整索引
参数 periods=1, freq=None (DateOffset, tseries.offsets, timedelta, or str, optional), axis=0, fill_value=<no_default>

In [1]:
import numpy  as np
import pandas as pd
df = pd.DataFrame({"Col1": [10, 20, 15, 30, 45],
                   "Col2": [13, 23, 18, 33, 48],
                   "Col3": [17, 27, 22, 37, 52]},
                  index=pd.date_range("2020-01-01", "2020-01-05"))

### 演示数据

In [2]:
df

            Col1  Col2  Col3
2020-01-01    10    13    17
2020-01-02    20    23    27
2020-01-03    15    18    22
2020-01-04    30    33    37
2020-01-05    45    48    52

In [11]:
df.shift(periods=2,freq='MS') #  freq 如果非空，则是索引调整相应个周期的时间偏移单位

            Col1  Col2  Col3
2020-03-01    10    13    17
2020-03-01    20    23    27
2020-03-01    15    18    22
2020-03-01    30    33    37
2020-03-01    45    48    52

In [9]:
df.shift(periods=1,freq='D') #  freq 如果非空，则是索引调整相应个周期的时间偏移单位

            Col1  Col2  Col3
2020-01-02    10    13    17
2020-01-03    20    23    27
2020-01-04    15    18    22
2020-01-05    30    33    37
2020-01-06    45    48    52

In [8]:
df.shift(periods=1,axis=1,fill_value=0) #  fill_value 数据移动后的nan怎么填充

            Col1  Col2  Col3
2020-01-01     0    10    13
2020-01-02     0    20    23
2020-01-03     0    15    18
2020-01-04     0    30    33
2020-01-05     0    45    48

In [7]:
df.shift(periods=1,axis=1) #  axis 数据移动方向

            Col1  Col2  Col3
2020-01-01   NaN    10    13
2020-01-02   NaN    20    23
2020-01-03   NaN    15    18
2020-01-04   NaN    30    33
2020-01-05   NaN    45    48

In [5]:
df.shift(periods=3) #  periods 数据移动的行数

            Col1  Col2  Col3
2020-01-01   NaN   NaN   NaN
2020-01-02   NaN   NaN   NaN
2020-01-03   NaN   NaN   NaN
2020-01-04  10.0  13.0  17.0
2020-01-05  20.0  23.0  27.0

In [4]:
df.shift() #  默认情况，数据向下移动一行，尾行删除，首行变成nan

            Col1  Col2  Col3
2020-01-01   NaN   NaN   NaN
2020-01-02  10.0  13.0  17.0
2020-01-03  20.0  23.0  27.0
2020-01-04  15.0  18.0  22.0
2020-01-05  30.0  33.0  37.0