## 117 xs根据行列索引层次查询数据

### xs：根据行列索引层次查询数据
参数 key=label or tuple of label, axis=0, level=None(object, defaults to first n levels (n=1 or len(key))), drop_level=True

In [1]:
import numpy  as np
import pandas as pd
d = {'num_legs': [4, 4, 2, 2],
     'num_wings': [0, 0, 2, 2],
     'class': ['mammal', 'mammal', 'mammal', 'bird'],
     'animal': ['cat', 'dog', 'bat', 'penguin'],
     'locomotion': ['walks', 'walks', 'flies', 'walks']}
df = pd.DataFrame(data=d)
df = df.set_index(['class', 'animal', 'locomotion'])

### 演示数据

In [2]:
df

                           num_legs  num_wings
class  animal  locomotion
mammal cat     walks              4          0
       dog     walks              4          0
       bat     flies              2          2
bird   penguin walks              2          2

In [4]:
df.index # 索引

MultiIndex([('mammal',     'cat', 'walks'),
            ('mammal',     'dog', 'walks'),
            ('mammal',     'bat', 'flies'),
            (  'bird', 'penguin', 'walks')],
           names=['class', 'animal', 'locomotion'])

In [3]:
df.xs('mammal') # 获取mammal 下的数据

                   num_legs  num_wings
animal locomotion
cat    walks              4          0
dog    walks              4          0
bat    flies              2          2

In [6]:
df.xs(key='cat',level=1) # 第一层级中的cat的数据

                   num_legs  num_wings
class  locomotion
mammal walks              4          0

In [11]:
df.xs(key='cat',level=1,drop_level=False) #  drop_level 结果中是否删除层级

                          num_legs  num_wings
class  animal locomotion
mammal cat    walks              4          0

In [7]:
df.xs(key=('cat','walks'),level=[1,2]) # 第一层 cat 第二层级 walks 下相关数据

        num_legs  num_wings
class
mammal         4          0

In [8]:
df.xs(key=('num_legs'),axis=1) # axis 依然是轴方向

class   animal   locomotion
mammal  cat      walks         4
        dog      walks         4
        bat      flies         2
bird    penguin  walks         2
Name: num_legs, dtype: int64

In [10]:
df.xs(key=('num_legs'),axis=1,drop_level=False) # drop_level 结果中是否删除层级

                           num_legs
class  animal  locomotion
mammal cat     walks              4
       dog     walks              4
       bat     flies              2
bird   penguin walks              2