## 118 update更新表格

### update：更新表格
参数 other, join='left', overwrite=True, filter_func=None, errors='ignore'

In [36]:
import numpy  as np
import pandas as pd
df = pd.DataFrame({'A': [1, 2, 3],
                   'B': [400, 500, 600]})
new_df = pd.DataFrame({'B': [4, 5, 6],
                       'C': [7, 8, 9]})

In [37]:
df.update(new_df) # 更新到目标表，而非返回副本

In [38]:
df # 对应位置更新

   A  B
0  1  4
1  2  5
2  3  6

In [39]:
df1 = pd.DataFrame({'A': ['a', 'b', 'c'],
                   'B': ['x', 'y', 'z']})
new_df1 = pd.DataFrame({'B': ['d', 'e', 'f', 'g', 'h', 'i']})

In [41]:
df1.update(new_df1)

In [42]:
df1 # 目标表 不会因为 数据源表行数更多 而改变自己的行数

   A  B
0  a  d
1  b  e
2  c  f

In [43]:
df2 = pd.DataFrame({'A': ['a', 'b', 'c'],
                   'B': ['x', 'y', 'z']})
new_column2 = pd.Series(['d', 'e'], name='B', index=[0, 2])

In [45]:
df2.update(new_column2) # 使用序列更新表格

In [46]:
df2

   A  B
0  a  d
1  b  y
2  c  e

In [47]:
df3 = pd.DataFrame({'A': [1, 2, 3],
                   'B': [400, 500, 600]})
new_df3 = pd.DataFrame({'B': [4, np.nan, 6]})

In [48]:
df3.update(new_df3) # nan 未参与更新

In [49]:
df3

   A      B
0  1    4.0
1  2  500.0
2  3    6.0

In [53]:
df4 = pd.DataFrame({'A': [1, 2, 3],
                   'B': [400, 500, np.nan]})
new_df4 = pd.DataFrame({'B': [4, np.nan, 6]})

In [51]:
df4.update(new_df4) # 默认 true，正常更新

In [52]:
df4

   A      B
0  1    4.0
1  2  500.0
2  3    6.0

In [54]:
df4.update(new_df4,overwrite=False) # overwrite False 只更新目标表中对应列的nan值；

In [55]:
df4

   A      B
0  1  400.0
1  2  500.0
2  3    6.0