## 121 combine_first表格合并

### combine_first:表格合并,更新null
参数 other

In [1]:
import numpy  as np 
import pandas as pd
df1 = pd.DataFrame({'A': [0, 0], 'B': [4, np.nan]})
df2 = pd.DataFrame({'A': [1, 1,1], 'C': [3, 3,np.nan]})
take_smaller = lambda s1, s2: s1 if s1.sum() < s2.sum() else s2

In [2]:
df1

   A    B
0  0  4.0
1  0  NaN

In [3]:
df2

   A    C
0  1  3.0
1  1  3.0
2  1  NaN

In [4]:
df1.combine_first(df2) # 将df1 的null ，利用df2 同样位置的非null值 更新。结果的行列索引是两个表的组合

     A    B    C
0  0.0  4.0  3.0
1  0.0  NaN  3.0
2  1.0  NaN  NaN

In [5]:
df1.A.combine_first(df2.A) # 可以用在列上

0    0.0
1    0.0
2    1.0
Name: A, dtype: float64