## 122 diff计算相邻元素差

### diff：计算相邻元素差
参数 periods=1, axis=0

In [9]:
import numpy  as np
import pandas as pd
from faker import Faker
df = pd.DataFrame({'a': [1, 2, 3, 4, 5, 6],
                   'b': [1, 1, 2, 3, 5, 8],
                   'c': [1, 4, 9, 16, 25, 36]})

In [10]:
df

   a  b   c
0  1  1   1
1  2  1   4
2  3  2   9
3  4  3  16
4  5  5  25
5  6  8  36

In [17]:
df.c.diff() # 也可以用在列上

0     NaN
1     3.0
2     5.0
3     7.0
4     9.0
5    11.0
Name: c, dtype: float64

In [14]:
df.diff(periods=2,axis=1) # axis 轴方向

    a   b   c
0 NaN NaN   0
1 NaN NaN   2
2 NaN NaN   6
3 NaN NaN  12
4 NaN NaN  20
5 NaN NaN  30

In [15]:
df.diff(periods=-2) # periods 负数，反向

     a    b     c
0 -2.0 -1.0  -8.0
1 -2.0 -2.0 -12.0
2 -2.0 -3.0 -16.0
3 -2.0 -5.0 -20.0
4  NaN  NaN   NaN
5  NaN  NaN   NaN

In [13]:
df.diff(periods=2) # periods 多少行/列数

     a    b     c
0  NaN  NaN   NaN
1  NaN  NaN   NaN
2  2.0  1.0   8.0
3  2.0  2.0  12.0
4  2.0  3.0  16.0
5  2.0  5.0  20.0

In [11]:
df.diff() # 计算 相邻元素的差，默认后者减去前者，行方向

     a    b     c
0  NaN  NaN   NaN
1  1.0  0.0   3.0
2  1.0  1.0   5.0
3  1.0  1.0   7.0
4  1.0  2.0   9.0
5  1.0  3.0  11.0