## 125 squeeze和to_frame

###  squeeze：单元素序列或表转换成标量值；单序列表格转换成单个序列
参数 axis=None
###  to_frame：序列转换成表格（dateframe）
参数 name=None

In [1]:
import numpy  as np
import pandas as pd
primes = pd.Series([2, 3, 5, 7])
df = pd.DataFrame([[1, 2], [3, 4]], columns=['a', 'b'])

In [2]:
primes

0    2
1    3
2    5
3    7
dtype: int64

In [4]:
primes.to_frame(name='primes') #将序列转换成df 表格。name  列名

   primes
0       2
1       3
2       5
3       7

In [5]:
df

   a  b
0  1  2
1  3  4

In [27]:
df.squeeze()# 不符合条件，保持不变

   a  b
0  1  2
1  3  4

In [7]:
df.loc[df.a==1,'a']

0    1
Name: a, dtype: int64

In [8]:
type(df.loc[df.a==1,'a'])

pandas.core.series.Series

In [9]:
df.loc[df.a==1,'a'].squeeze() # 单元素序列转换成标量值

1

In [11]:
df.loc[0,'a'],df.iloc[0,0]

(1, 1)

In [21]:
df.loc[df.a==1,['a']]

   a
0  1

In [22]:
df.loc[df.a==1,['a']].squeeze()

1

In [20]:
type(df.loc[df.a==1,['a']])

pandas.core.frame.DataFrame

In [24]:
type(df[['a']])

pandas.core.frame.DataFrame

In [25]:
df[['a']].squeeze() # 单序列表格 “挤压”成了 序列类型

0    1
1    3
Name: a, dtype: int64

In [26]:
type(df[['a']].squeeze())

pandas.core.series.Series