## 129 pop返回删除的列或元素

### pop：返回删除的列或元素。
参数 item

In [30]:
import numpy  as np
import pandas as pd
data = {'col_0': [9, -3, 0, -1, 5], 'col_1': [-2, -7, 6, 8, -5]}
df = pd.DataFrame(data)

In [31]:
df

   col_0  col_1
0      9     -2
1     -3     -7
2      0      6
3     -1      8
4      5     -5

In [32]:
df.col_1

0   -2
1   -7
2    6
3    8
4   -5
Name: col_1, dtype: int64

In [33]:
df.col_1.pop(item=0) # “弹出” col_1 列的0行元素。就是将这个元素从列中删除，并返回删除的这个元素的值

-2

In [12]:
df

   col_1
0     -2
1     -7
2      6
3      8
4     -5

In [11]:
df.pop(item='col_0') # “弹出” col_0 列。就是将这列从表中删除，并返回删除的列

0    9
1   -3
2    0
3   -1
4    5
Name: col_0, dtype: int64