## 130 ravel返回扁平化的数组

### ravel：返回序列或索引扁平化的数组
参数 order='C'

In [1]:
import numpy  as np
import pandas as pd
data = {'col_0': [9, -3, 0, -1, 5], 'col_1': [-2, -7, 6, 8, -5]}
df = pd.DataFrame(data)

In [2]:
df

   col_0  col_1
0      9     -2
1     -3     -7
2      0      6
3     -1      8
4      5     -5

In [6]:
df.col_0.ravel() # 序列扁平化成数组返回。

array([ 9, -3,  0, -1,  5], dtype=int64)

In [3]:
df.index.ravel() # 索引扁平化成数组返回。注意warning

C:\Users\ADMINI~1\AppData\Local\Temp\1/ipykernel_544/934222693.py:1: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  df.index.ravel()

array([0, 1, 2, 3, 4], dtype=int64)

In [4]:
df.columns

Index(['col_0', 'col_1'], dtype='object')

In [5]:
df.set_index(['col_0', 'col_1']).index.ravel() # 索引扁平化成数组返回。注意warning。二级索引的

C:\Users\ADMINI~1\AppData\Local\Temp\1/ipykernel_544/2596401100.py:1: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  df.set_index(['col_0', 'col_1']).index.ravel() # 索引扁平化成数组返回。注意warning

array([(9, -2), (-3, -7), (0, 6), (-1, 8), (5, -5)], dtype=object)