## 132 view获取视图

### view：获取视图。获取原序列数据的新序列，两者共享内存中的数据，新类型必须与原类型有同样大小的字节数，否则会导致索引混乱
参数 dtype=None

In [28]:
import numpy  as np
import pandas as pd
data = {'col_0': [9, -3, 0, -1, 5], 'col_1': [-2, -7, 6, 8, -5]}
df = pd.DataFrame(data,dtype='int16')

In [29]:
df

   col_0  col_1
0      9     -2
1     -3     -7
2      0      6
3     -1      8
4      5     -5

In [34]:
df.col_0.view() # 默认类型 可能与原来的指定类型不同

ValueError: When changing to a larger dtype, its size must be a divisor of the total size in bytes of the last axis of the array.

In [32]:
df.col_0.view(dtype='uint16') # 获取视图 ，指定类型

0        9
1    65533
2        0
3    65535
4        5
Name: col_0, dtype: uint16

In [33]:
df.col_0.view(dtype='uint32') # 提示， 由于新老两种类型的字节数大小不同导致问题

ValueError: When changing to a larger dtype, its size must be a divisor of the total size in bytes of the last axis of the array.