## 136 isin判断是否属于

### isin判断是否属于
参数 values=iterable, Series, DataFrame or dict

In [15]:
import numpy  as np
import pandas as pd
df = pd.DataFrame({'num_legs': [2, 4], 'num_wings': [2, 0]},
                  index=['falcon', 'dog'])
isin_dict={'num_wings': [0, 3]}
other = pd.DataFrame({'num_legs': [8, 2], 'num_wings': [0, 2]},
                     index=['spider', 'falcon'])

### 演示数据

In [2]:
df

        num_legs  num_wings
falcon         2          2
dog            4          0

In [16]:
df.isin(values=isin_dict) # 使用字典

        num_legs  num_wings
falcon     False      False
dog        False       True

In [10]:
other

        num_legs  num_wings
spider         8          0
falcon         2          2

In [9]:
df.isin(other) # 使用df做判断

        num_legs  num_wings
falcon      True       True
dog        False      False

In [8]:
df.num_legs

falcon    2
dog       4
Name: num_legs, dtype: int64

In [7]:
df.isin(df.num_legs) # 使用序列

        num_legs  num_wings
falcon      True       True
dog         True      False

In [6]:
df.isin([2,0]) # df中每个元素是不是包含在[2,0]

        num_legs  num_wings
falcon      True       True
dog        False       True

In [4]:
df==2 # 等效

        num_legs  num_wings
falcon      True       True
dog        False      False

In [3]:
df.isin([2]) # df中每个元素是不是包含在[2]

        num_legs  num_wings
falcon      True       True
dog        False      False