## 138 round四舍五入小数位数

###  round：四舍五入小数位数
参数 decimals=0, *args, **kwargs

In [3]:
import numpy  as np
import pandas as pd
df = pd.DataFrame([(.21, .32), (.01, .67), (-.66, .03), (.21, .18)],
                  columns=['dogs', 'cats'])
decimals = pd.Series([0, 1], index=['cats', 'dogs'])

### 演示数据

In [4]:
df

   dogs  cats
0  0.21  0.32
1  0.01  0.67
2 -0.66  0.03
3  0.21  0.18

In [11]:
df.round(decimals=decimals) # 四舍五入.不同的列保留位数不同.使用序列

   dogs  cats
0   0.2   0.0
1   0.0   1.0
2  -0.7   0.0
3   0.2   0.0

In [9]:
df.round(decimals={'dogs':1,'cats':0}) # 四舍五入.不同的列保留位数不同。使用子弹

   dogs  cats
0   0.2   0.0
1   0.0   1.0
2  -0.7   0.0
3   0.2   0.0

In [8]:
df.round(decimals=3) # 四舍五入，保留3位小数

   dogs  cats
0  0.21  0.32
1  0.01  0.67
2 -0.66  0.03
3  0.21  0.18

In [6]:
df.round(decimals=1) # 四舍五入，保留1位小数

   dogs  cats
0   0.2   0.3
1   0.0   0.7
2  -0.7   0.0
3   0.2   0.2

In [5]:
df.round() # 四舍五入，保留0位小数

   dogs  cats
0   0.0   0.0
1   0.0   1.0
2  -1.0   0.0
3   0.0   0.0