## 140 dot矩阵乘法

### dot：矩阵乘法
符号 @ 也可以计算矩阵乘法

In [1]:
import numpy  as np
import pandas as pd
df = pd.DataFrame([[0, 1, -2, -1], [1, 1, 1, 1]])
s = pd.Series([1, 1, 2, 1])
other = pd.DataFrame([[0, 1], [1, 2], [-1, -1], [2, 0]])
arr = np.array([[0, 1], [1, 2], [-1, -1], [2, 0]])

### 演示数据

In [2]:
df

   0  1  2  3
0  0  1 -2 -1
1  1  1  1  1

In [3]:
s

0    1
1    1
2    2
3    1
dtype: int64

In [9]:
df @ s # 矩阵乘法 二维*一维

0   -4
1    5
dtype: int64

In [4]:
df.dot(s) # 矩阵乘法 二维*一维

0   -4
1    5
dtype: int64

In [6]:
other

   0  1
0  0  1
1  1  2
2 -1 -1
3  2  0

In [5]:
df.dot(other) # 矩阵乘法。两行两列结果。两个二维矩阵

   0  1
0  1  4
1  2  2

In [7]:
df.dot(arr) # 可以乘以数组

   0  1
0  1  4
1  2  2