## 146 选项设置

### 选项设置
##### get_option() 获取选项 ， set_option() 设置选项，reset_option()重置选项为默认值 ，describe_option() 描述选项，
##### option_context() 代码块执行环境选项（即选项仅仅在代码块执行时起作用，执行完后恢复原先设置）
##### 选项很多，使用技巧也多，这里简单展示常用的。具体参考官方文档

In [1]:

import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['时间']=pd.date_range(start='2020-01-01',periods=10,freq='D')
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept 1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)
df.iloc[1,1]=np.nan #  修改成nan

In [41]:
df

   dept  ...         时间
0   部门1  ... 2020-01-01
1   部门1  ... 2020-01-02
..  ...  ...        ...
8   部门2  ... 2020-01-09
9   部门2  ... 2020-01-10

[10 rows x 5 columns]

In [40]:
pd.set_option('max_rows',5,'max_columns',2)  # 设同时设置两个选项

In [39]:
with pd.option_context('max_rows',5,'max_columns',2): # 同时设置两个选项。其它函数用法类似
    print(df)

   dept  ...         时间
0   部门1  ... 2020-01-01
1   部门1  ... 2020-01-02
..  ...  ...        ...
8   部门2  ... 2020-01-09
9   部门2  ... 2020-01-10

[10 rows x 5 columns]

In [33]:
with pd.option_context('max_rows',5): # 执行输出时显示5行，执行完成后 max_rows 恢复原先的设置
    print(df)

   dept dept 1 name    销售额         时间
0   部门1   小部门1  王雪梅  65026 2020-01-01
1   部门1    NaN   杨鹏  79428 2020-01-02
..  ...    ...  ...    ...        ...
8   部门2   小部门4   郭欢  27024 2020-01-09
9   部门2   小部门4   李丹   4019 2020-01-10

[10 rows x 5 columns]

In [36]:
pd.describe_option('max_rows')  # 描述磨具个属性的内容和当前值

display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 5]

In [25]:
pd.reset_option('max_rows')  # 重置最大行数为默认值

In [35]:
pd.set_option('max_rows',5)  # 设置为最多显示5行

In [20]:
pd.get_option('max_rows')

60

In [8]:
pd.get_option('display.max_rows') #查看最多显示5行

5

In [5]:
pd.options.display.max_rows # 查看最多显示5行

5

In [23]:
pd.options.display.max_rows=5 # 设置为最多显示5行