## 148 mode计算众数

### mode：计算众数。就是返回出现次数最多的元素
参数 axis=0, numeric_only=False, dropna=True

In [1]:
import numpy  as np
import pandas as pd

df = pd.DataFrame([('bird', 2, 2),
                   ('mammal', 4, np.nan),
                   ('arthropod', 8, 0),
                   ('bird', 2, np.nan)],
                  index=('falcon', 'horse', 'spider', 'ostrich'),
                  columns=('species', 'legs', 'wings'))

In [2]:
df

           species  legs  wings
falcon        bird     2    2.0
horse       mammal     4    NaN
spider   arthropod     8    0.0
ostrich       bird     2    NaN

In [12]:
df.legs.mode(dropna=False) # 也可以使用在列上（就是序列上）

0    2
dtype: int64

In [10]:
df.mode(axis=0,numeric_only=False,dropna=False) # dropna :如果是False，nan也会参与计算

  species  legs  wings
0    bird     2    NaN

In [6]:
df.mode(axis=1,numeric_only=True) # numeric_only ：是否只计算数字类型数据。注意结果的数量不同，会产生nan进行补位置
# 刚才的错误提示，是因为行方向上既有数字，也有字符串，发生比较错误。

           0    1
falcon   2.0  NaN
horse    4.0  NaN
spider   0.0  8.0
ostrich  2.0  NaN

In [3]:
df.mode() # 简单给出各个列上的众数。默认排除nan

  species  legs  wings
0    bird   2.0    0.0
1     NaN   NaN    2.0