## 149 pandas数据抽样（三）

### resample：重采样时序数据。实现频率转换和时序数据重采样，df必须有类似时间索引
参数 rule, axis=0, closed=None, label=None, convention='start', kind=None, loffset=None, base=None, on=None, level=None, origin='start_day', offset=None

In [1]:
import pandas as pd
index = pd.date_range('1/1/2000', periods=9, freq='T')
series = pd.Series(range(9), index=index)

s = pd.Series([1, 2], index=pd.period_range('2012-01-01',
                                            freq='A',
                                            periods=2))

q = pd.Series([1, 2, 3, 4], index=pd.period_range('2018-01-01',
                                                  freq='Q',
                                                  periods=4))

d = {'price': [10, 11, 9, 13, 14, 18, 17, 19],
     'volume': [50, 60, 40, 100, 50, 100, 40, 50]}
df = pd.DataFrame(d)
df['week_starting'] = pd.date_range('01/01/2018',
                                    periods=8,
                                    freq='W')

days = pd.date_range('1/1/2000', periods=4, freq='D')
d2 = {'price': [10, 11, 9, 13, 14, 18, 17, 19],
      'volume': [50, 60, 40, 100, 50, 100, 40, 50]}
df2 = pd.DataFrame(
    d2,
    index=pd.MultiIndex.from_product(
        [days, ['morning', 'afternoon']]
    )
)

In [2]:
series

2000-01-01 00:00:00    0
2000-01-01 00:01:00    1
2000-01-01 00:02:00    2
2000-01-01 00:03:00    3
2000-01-01 00:04:00    4
2000-01-01 00:05:00    5
2000-01-01 00:06:00    6
2000-01-01 00:07:00    7
2000-01-01 00:08:00    8
Freq: T, dtype: int64

In [3]:
series.resample(rule='3T').sum() # 划分成3分钟区间，区间内的值求和 rule ：转换规则

2000-01-01 00:00:00     3
2000-01-01 00:03:00    12
2000-01-01 00:06:00    21
Freq: 3T, dtype: int64

In [4]:
series.resample(rule='3T',closed='left').sum() # closed 区间包含左边界还是右边界

2000-01-01 00:00:00     3
2000-01-01 00:03:00    12
2000-01-01 00:06:00    21
Freq: 3T, dtype: int64

In [5]:
series.resample(rule='3T',closed='right').sum() # closed 区间包含左边界还是右边界

1999-12-31 23:57:00     0
2000-01-01 00:00:00     6
2000-01-01 00:03:00    15
2000-01-01 00:06:00    15
Freq: 3T, dtype: int64

In [6]:
series.resample(rule='3T',closed='right',label='left').sum() # label 区间组的标签使用 左边界 还是右边界

1999-12-31 23:57:00     0
2000-01-01 00:00:00     6
2000-01-01 00:03:00    15
2000-01-01 00:06:00    15
Freq: 3T, dtype: int64

In [7]:
series.resample(rule='3T',closed='right',label='right').sum() # label 区间组的标签使用 左边界 还是右边界

2000-01-01 00:00:00     0
2000-01-01 00:03:00     6
2000-01-01 00:06:00    15
2000-01-01 00:09:00    15
Freq: 3T, dtype: int64

In [8]:
df

   price  volume week_starting
0     10      50    2018-01-07
1     11      60    2018-01-14
2      9      40    2018-01-21
3     13     100    2018-01-28
4     14      50    2018-02-04
5     18     100    2018-02-11
6     17      40    2018-02-18
7     19      50    2018-02-25

In [10]:
df.resample('M',on='week_starting').sum() # 使用非索引的时间类型的列 进行计算datetime类型

               price  volume
week_starting
2018-01-31        43     250
2018-02-28        68     240