## 153 ohlc计算各时间段的开高低收

### ohlc：计算各时间段的开高低收，会排除空值。配合groupby和resample使用

In [1]:
import pandas as pd
import numpy as np
index = pd.date_range('1/1/2000', periods=12, freq='6H')
series = pd.Series([0.0, None, 2.0, 3.0]+[0.0, None, 5.0, 3.0]+[0.0, None, 2.0, 10.0], index=index)
df = pd.DataFrame({'s': series})

In [2]:
df

                        s
2000-01-01 00:00:00   0.0
2000-01-01 06:00:00   NaN
2000-01-01 12:00:00   2.0
2000-01-01 18:00:00   3.0
2000-01-02 00:00:00   0.0
2000-01-02 06:00:00   NaN
2000-01-02 12:00:00   5.0
2000-01-02 18:00:00   3.0
2000-01-03 00:00:00   0.0
2000-01-03 06:00:00   NaN
2000-01-03 12:00:00   2.0
2000-01-03 18:00:00  10.0

In [7]:
df.resample('.5D').ohlc() # 可以调整时间区间（频率）

                       s
                    open  high  low close
2000-01-01 00:00:00  0.0   0.0  0.0   0.0
2000-01-01 12:00:00  2.0   3.0  2.0   3.0
2000-01-02 00:00:00  0.0   0.0  0.0   0.0
2000-01-02 12:00:00  5.0   5.0  3.0   3.0
2000-01-03 00:00:00  0.0   0.0  0.0   0.0
2000-01-03 12:00:00  2.0  10.0  2.0  10.0

In [8]:
df.resample('M').ohlc() #  月度

              s
           open  high  low close
2000-01-31  0.0  10.0  0.0  10.0

In [9]:
df.resample('MS').ohlc() # 注意与上面的结果的日期的区别

              s
           open  high  low close
2000-01-01  0.0  10.0  0.0  10.0

In [3]:
df.resample('D').ohlc() # 计算每天的开高低收

              s
           open  high  low close
2000-01-01  0.0   3.0  0.0   3.0
2000-01-02  0.0   5.0  0.0   3.0
2000-01-03  0.0  10.0  0.0  10.0

In [5]:
index.astype('period[D]')

PeriodIndex(['2000-01-01', '2000-01-01', '2000-01-01', '2000-01-01',
             '2000-01-02', '2000-01-02', '2000-01-02', '2000-01-02',
             '2000-01-03', '2000-01-03', '2000-01-03', '2000-01-03'],
            dtype='period[D]')

In [4]:
df.groupby( index.astype('period[D]') ).ohlc() # 计算每天的开高低收。等效上面resample计算

              s
           open  high  low close
2000-01-01  0.0   3.0  0.0   3.0
2000-01-02  0.0   5.0  0.0   3.0
2000-01-03  0.0  10.0  0.0  10.0