##  pandas分组聚合统计

### 分组聚合统计
#### groupby mean sum min max median describe

In [41]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

In [42]:
df['salary']=np.random.randint(100,100000,size=(10, 1))

In [43]:
df.insert(0,'dept',['部门1']*5+['部门2']*5)

In [44]:
df # 随机生成的数据

  dept name  salary
0  部门1   吴健   87665
1  部门1  田桂珍   31840
2  部门1  王春梅   72090
3  部门1   陈伟   83708
4  部门1   权霞   22177
5  部门2  郑秀荣   71673
6  部门2  杜建华   41404
7  部门2  孙志强    7081
8  部门2  许桂英   74388
9  部门2  潘丹丹   14055

In [45]:
df.salary.describe() # 描述性统计，含个数 均值 最大最小等信息，具体参考官方文档定义

count       10.000000
mean     50608.100000
std      30578.723425
min       7081.000000
25%      24592.750000
50%      56538.500000
75%      73813.500000
max      87665.000000
Name: salary, dtype: float64

In [46]:
df.salary.mean() # salary的均值

50608.1

In [47]:
df.salary.min() # 最小值

7081

In [48]:
df.salary.max() # 最大值

87665

In [49]:
df.salary.sum() # 合计

506081

In [50]:
df.salary.median() # 中位数

56538.5

In [51]:
df.groupby('dept').agg({'salary':'mean'}) # 按部门计算salary的均值

       salary
dept
部门1   59496.0
部门2   41720.2

In [52]:
df.groupby('dept').agg({'salary':['mean','sum','min','max','median']}) # 按部门计算salary的多个统计指标，含义参考上文

       salary
         mean     sum    min    max median
dept
部门1   59496.0  297480  22177  87665  72090
部门2   41720.2  208601   7081  74388  41404