## 174 asof查找条件有效值

### asof查找条件有效值（即非空）。对照first_valid_index
where, subset=None

In [1]:
import numpy  as np
import pandas as pd

In [2]:
s = pd.Series([1, 2, np.nan, 4], index=[10, 20, 30, 40])
df = pd.DataFrame({'a': [10, 20, 30, 40, 50],
                   'b': [None, None, None, None, 500]},
                  index=pd.DatetimeIndex(['2018-02-27 09:01:00',
                                          '2018-02-27 09:02:00',
                                          '2018-02-27 09:03:00',
                                          '2018-02-27 09:04:00',
                                          '2018-02-27 09:05:00']))

In [3]:
s

10    1.0
20    2.0
30    NaN
40    4.0
dtype: float64

In [4]:
s.asof(where=20)

2.0

In [5]:
s.asof(where=30) #  不超过30 的 有效值

2.0

In [7]:
s.asof(where=[30,10]) #  多个

30    2.0
10    1.0
dtype: float64

In [9]:
s.asof(where=[50,0]) #  出界情况下

50    4.0
0     NaN
dtype: float64

In [10]:
df

                      a      b
2018-02-27 09:01:00  10    NaN
2018-02-27 09:02:00  20    NaN
2018-02-27 09:03:00  30    NaN
2018-02-27 09:04:00  40    NaN
2018-02-27 09:05:00  50  500.0

In [17]:
df.asof(pd.DatetimeIndex(['2018-02-27 09:02:10','2018-02-27 09:03:10','2018-02-27 09:05:10']))

                        a      b
2018-02-27 09:02:10   NaN    NaN
2018-02-27 09:03:10   NaN    NaN
2018-02-27 09:05:10  50.0  500.0

In [11]:
df.asof(pd.DatetimeIndex(['2018-02-27 09:02:00']))

                      a   b
2018-02-27 09:02:00 NaN NaN

In [12]:
df.asof(pd.DatetimeIndex(['2018-02-27 09:02:00']),subset=['a']) # subset 作用于指定的列的子集

                        a   b
2018-02-27 09:02:00  20.0 NaN