##  pandas窗口函数

### 窗口函数
#### rolling expanding
#### 可以使用 count sum mean std 等常规统计函数，不再一一示例

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

In [2]:
df['销售额']=np.random.randint(100,100000,size=(10, 1))

In [3]:
df.insert(0,'dept',['部门1']*5+['部门2']*5)

In [4]:
df # 随机生成的数据

  dept name    销售额
0  部门1  刘秀英  36741
1  部门1   章辉  52573
2  部门1  武桂芝  51938
3  部门1   周涛  48193
4  部门1   曾雷  98505
5  部门2   熊宁  55224
6  部门2  贺玉华  56646
7  部门2   刘利  43944
8  部门2   詹彬  99967
9  部门2  宋桂芝   2502

In [5]:
df.销售额.rolling(window=3).mean() # 移动窗口平均，制定窗口大小3

0             NaN
1             NaN
2    47084.000000
3    50901.333333
4    66212.000000
5    67307.333333
6    70125.000000
7    51938.000000
8    66852.333333
9    48804.333333
Name: 销售额, dtype: float64

In [8]:
df.销售额.rolling(window=3,center=True).mean() # 移动窗口平均，指定窗口大小3,指定窗口中心

0             NaN
1    47084.000000
2    50901.333333
3    66212.000000
4    67307.333333
5    70125.000000
6    51938.000000
7    66852.333333
8    48804.333333
9             NaN
Name: 销售额, dtype: float64

In [9]:
df.销售额.expanding().sum() # 滚动累加

0     36741.0
1     89314.0
2    141252.0
3    189445.0
4    287950.0
5    343174.0
6    399820.0
7    443764.0
8    543731.0
9    546233.0
Name: 销售额, dtype: float64

In [11]:
df.销售额.rolling(window=len(df),min_periods=1).sum() # 与 “滚动累加”鲜果相同，指定了最小窗口

0     36741.0
1     89314.0
2    141252.0
3    189445.0
4    287950.0
5    343174.0
6    399820.0
7    443764.0
8    543731.0
9    546233.0
Name: 销售额, dtype: float64

In [13]:
df.groupby('dept').rolling(window=3).mean() # 分组滚动窗口计算均值，窗口大小3

                 销售额
dept
部门1  0           NaN
     1           NaN
     2  47084.000000
     3  50901.333333
     4  66212.000000
部门2  5           NaN
     6           NaN
     7  51938.000000
     8  66852.333333
     9  48804.333333

In [14]:
df.groupby('dept').expanding().sum() # 分组滚动窗口累加

             销售额
dept
部门1  0   36741.0
     1   89314.0
     2  141252.0
     3  189445.0
     4  287950.0
部门2  5   55224.0
     6  111870.0
     7  155814.0
     8  255781.0
     9  258283.0