##  pandas数据查询选择修改

### 数据的查询 和选择
#### loc iloc at iat & | head tail ~（取反）

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

In [2]:
df['销售额']=np.random.randint(100,100000,size=(10, 1))

In [3]:
df.insert(0,'dept',['部门1']*5+['部门2']*5)

In [4]:
df # 随机生成的数据

  dept name    销售额
0  部门1  詹志强  76675
1  部门1   姜婷  72822
2  部门1  徐凤兰   8072
3  部门1  张建军  81172
4  部门1   张璐  81996
5  部门2   丁颖  60047
6  部门2   庞杰  94096
7  部门2  王桂英  54048
8  部门2  谷海燕   6518
9  部门2   冯辉  53367

In [13]:
df.head(1) # 选择最前面一行

  dept name    销售额
0  部门1   王瑞  63609

In [15]:
df.tail(3) # 选择最3行

  dept name    销售额
7  部门2   伊斌  10075
8  部门2   王梅  97768
9  部门2   程芳  49716

In [20]:
df.loc[1:3,['dept','name']] # loc位置标签选择

  dept name
1  部门1   兰荣
2  部门1  林桂花
3  部门1  谢冬梅

In [29]:
df.at[1,'dept'] # 另一种选择方式

'部门1'

In [24]:
df.iloc[1,0] # “位置号“选择

'部门1'

In [25]:
df.iat[1,0] # “位置号“选择 同上

'部门1'

In [8]:
df[df.销售额>50000] # 条件查询

  dept name    销售额
0  部门1  詹志强  76675
1  部门1   姜婷  72822
3  部门1  张建军  81172
4  部门1   张璐  81996
5  部门2   丁颖  60047
6  部门2   庞杰  94096
7  部门2  王桂英  54048
9  部门2   冯辉  53367

In [9]:
df[~(df.销售额>50000)] # 条件查询，取反

  dept name   销售额
2  部门1  徐凤兰  8072
8  部门2  谷海燕  6518

In [31]:
df[ (df.销售额>50000) & (df.dept=='部门1')] # 多条件查询，& 相当于and

  dept name    销售额
0  部门1   王瑞  63609
1  部门1   兰荣  86675

In [32]:
df[ (df.销售额>50000) | (df.dept=='部门1')] # 多条件查询，| 相当于or

  dept name    销售额
0  部门1   王瑞  63609
1  部门1   兰荣  86675
2  部门1  林桂花  27354
3  部门1  谢冬梅  40684
4  部门1   李刚  31702
8  部门2   王梅  97768