##  21 pandas数据查询选择修改

### 数据查询选择修改
#### loc iloc insert 等

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

In [2]:
df['销售额']=np.random.randint(100,100000,size=(10, 1))

In [3]:
df.insert(0,'dept',['部门1']*5+['部门2']*5)

In [25]:
df # 随机生成的数据

    新列1 dept  name   新列5    销售额    新列
0  新列内容  部门7  修改名字  新列内容  80629  新列内容
1  新列内容  部门7   吕玉梅  新列内容  84098  新列内容
2  新列内容  部门7   李秀荣  新列内容  69126  新列内容
3  新列内容  部门7    班芳  新列内容  83259  新列内容
4  新列内容  部门7   魏红梅  新列内容  53022  新列内容
5  新列内容  部门7    王柳  新列内容  49497  新列内容
6  新列内容  部门7   吕淑兰  新列内容  53530  新列内容
7  新列内容  部门7   李桂芝  新列内容  28519  新列内容
8  新列内容  部门7    刘彬  新列内容  20653  新列内容
9  新列内容  部门7   谭秀芳  新列内容  27008  新列内容

In [6]:
df.loc[0,'dept'] = '部门3' # 修改方式1，某个单元格的值

In [8]:
df.loc[:3,'dept'] = '部门4' # 修改方式2 范围修改

In [10]:
df.loc[:,'dept'] = '部门5' # 修改方式3 整列修改

In [13]:
df['dept'] = '部门6' # 修改方式4 整列修改。同上

In [15]:
df.dept = '部门7' # 修改方式5 整列修改。同上

In [18]:
df.iloc[0,1]='修改名字' # iloc修改

In [20]:
df['新列']='新列内容' # 如果不存在这个列名，在尾部新增一列并赋值

In [24]:
df.insert(3,'新列5','新列内容') # 如果不存在这个列名，在指定位置插入一列