##  pandas基本操作

### 基本操作
#### index columns dtypes info rename

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

In [2]:
df['销售额']=np.random.randint(100,100000,size=(10, 1))

In [3]:
df.insert(0,'dept',['部门1']*5+['部门2']*5)

In [12]:
df # 随机生成的数据

    部门 name    销售额
0  部门1   向博   9861
1  部门1   朱柳   5406
2  部门1   成楠  51699
3  部门1   谭云  36372
4  部门1   谢丽  85395
5  部门2   陈荣  32705
6  部门2   李俊  93233
7  部门2  李秀芳  12311
8  部门2   杜鹏  46586
9  部门2   张宁  19587

In [5]:
df.index  # 获取索引信息

RangeIndex(start=0, stop=10, step=1)

In [6]:
df.columns # 获取列名信息

Index(['dept', 'name', '销售额'], dtype='object')

In [7]:
df.dtypes # 获取列的类型信息

dept    object
name    object
销售额      int64
dtype: object

In [11]:
df.rename({'dept':'部门'},axis=1,inplace=True) # 修改列明，用dict 表示 原名：修改名 的映射，可以一次修改多个列名
# inplace=True 直接在原来的df上修改，而非在副本上修改

In [14]:
df.info() # 获取一个df对象的基本信息 ，含 列 名称 类型 统计 内存使用 索引等

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   部门      10 non-null     object
 1   name    10 non-null     object
 2   销售额     10 non-null     int64
dtypes: int64(1), object(2)
memory usage: 368.0+ bytes