##  30 pandas数据查询选择修改

### 数据查询选择修改
#### 若干种灵活的条件修改方式

In [34]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

In [35]:
df['销售额']=np.random.randint(100,100000,size=(10, 1))

In [36]:
df.insert(0,'dept',['部门1']*5+['部门2']*5)

In [39]:
df # 随机生成的数据

  dept name    销售额
0  部门1  贺桂香  70919
1  部门1  滕淑华  11213
2  部门1   吴英  68268
3  部门1  韦秀云  86186
4  部门1  朱婷婷  18949
5  部门1  张桂芳  70919
6  部门1   宋磊  11213
7  部门1   解平  68268
8  部门1  张玉英  86186
9  部门1   田英  18949

In [5]:
df['dept'][df.dept.str.contains('1')]='部门3' # 将部门包含字符串'1'的行的部门名称改成 部门3.有警告一般是有风险，此处可以修改成功

d:\datacenterkun\jupyter\venv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [6]:
df.loc[df.dept.str.contains('3'),'dept']='部门4'  # 同上，无警告的方法

In [7]:
df.loc[df.dept.str.contains('4'),['dept']]='部门5'  # 同上，无警告的另一种方法

In [8]:
df.loc[df.dept.str.contains('5'),['dept','销售额']]=['部门6',10000]  # 同时根据条件修改两列

In [38]:
df.loc[df.dept.str.contains('2'),['dept','销售额']]=df[['dept','销售额']][:5].values  # 同时根据条件修改两列。注意 不加values的 错误用法