## pandas缺失值/空值处理

### fillna 进阶

In [1]:
import  numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, 5],
                   [np.nan, 3, np.nan, 4]],
                  columns=list('ABCD'))

In [3]:
df

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5
3  NaN  3.0 NaN  4

In [5]:
df.fillna(0) # df中的空均以0代替

     A    B    C  D
0  0.0  2.0  0.0  0
1  3.0  4.0  0.0  1
2  0.0  0.0  0.0  5
3  0.0  3.0  0.0  4

In [6]:
df.fillna('zifu') # df中的空均以字符串代替

      A     B     C  D
0  zifu     2  zifu  0
1     3     4  zifu  1
2  zifu  zifu  zifu  5
3  zifu     3  zifu  4

In [7]:
df.fillna(method='pad') # pad模式替换空，即以前一个非空值替换空。默认沿y轴方向

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  3.0  4.0 NaN  5
3  3.0  3.0 NaN  4

In [8]:
df.fillna(method='ffill') # 同上效果

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  3.0  4.0 NaN  5
3  3.0  3.0 NaN  4

In [9]:
df.fillna(method='bfill') # 与上述方向相反，即以后一个非空值替换当前空

     A    B   C  D
0  3.0  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  3.0 NaN  5
3  NaN  3.0 NaN  4

In [10]:
df.fillna(method='backfill') # 与上述方法效果相同

     A    B   C  D
0  3.0  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  3.0 NaN  5
3  NaN  3.0 NaN  4

In [11]:
df.fillna(method='backfill',limit=1) # 与上述方法效果相同,但是限制替换长度为1

     A    B   C  D
0  3.0  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  3.0 NaN  5
3  NaN  3.0 NaN  4

In [12]:
df.fillna(method='backfill',limit=1,axis=1) # axis=1,沿着水平方向

     A    B    C    D
0  2.0  2.0  0.0  0.0
1  3.0  4.0  1.0  1.0
2  NaN  NaN  5.0  5.0
3  3.0  3.0  4.0  4.0

In [17]:
df

     A    B   C  D
0  3.0  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  3.0 NaN  5
3  NaN  3.0 NaN  4

In [15]:
df.fillna(method='backfill',limit=1,axis=0,inplace=True) # 替换df，而不是一个副本

In [18]:
df.A.fillna(0) # 也可以在序列上使用

0    3.0
1    3.0
2    0.0
3    0.0
Name: A, dtype: float64