##  41 pandas分组聚合统计（二）

### groupby agg 分组聚合统计进阶

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['奖金']=np.random.randint(100,100000,size=(10, 1))

df.insert(0,'dept',['部门1']*5+['部门2']*5)

df.insert(1,'dept1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)

### 数据和示例

In [2]:
df # 随机生成的数据

  dept dept1 name    销售额     奖金
0  部门1  小部门1  邓秀英  45778  74547
1  部门1  小部门1   吴静  22304  27499
2  部门1  小部门2   高颖   1731  20171
3  部门1  小部门2  陈志强  16987   6029
4  部门1  小部门2  王秀梅  46915  43937
5  部门2  小部门3   卢雪  65484  90916
6  部门2  小部门4   刘佳  86604  44799
7  部门2  小部门4   李鹏   5416  45024
8  部门2  小部门4   金东  42893  74883
9  部门2  小部门4   彭静   7355  43434

In [10]:
df.groupby(['dept','dept1']).groups # 给出 所分成的组的信息，每个组和其包含的行的索引

{('部门1', '小部门1'): [0, 1], ('部门1', '小部门2'): [2, 3, 4], ('部门2', '小部门3'): [5], ('部门2', '小部门4'): [6, 7, 8, 9]}

In [8]:
df.groupby(['dept','dept1'])['销售额'].sum() # 单列某个统计指标计算可以这么写

dept  dept1
部门1   小部门1      68082
      小部门2      65633
部门2   小部门3      65484
      小部门4     142268
Name: 销售额, dtype: int64

In [7]:
df.groupby(['dept','dept1']).agg({'销售额':['sum','mean','max'],'奖金':['sum','mean']}) # 按照dept 和dept1 分组，进行 销售额 和 奖金的 和 和 平均 统计.统计指标可以根据实际需求调整

               销售额                           奖金
               sum          mean    max     sum   mean
dept dept1
部门1  小部门1    68082  34041.000000  45778  102046  51023
     小部门2    65633  21877.666667  46915   70137  23379
部门2  小部门3    65484  65484.000000  65484   90916  90916
     小部门4   142268  35567.000000  86604  208140  52035

In [6]:
df.groupby(['dept','dept1']).agg({'销售额':['sum','mean'],'奖金':['sum','mean']}) # 按照dept 和dept1 分组，进行 销售额 和 奖金的 和 和 平均 统计

               销售额                    奖金
               sum          mean     sum   mean
dept dept1
部门1  小部门1    68082  34041.000000  102046  51023
     小部门2    65633  21877.666667   70137  23379
部门2  小部门3    65484  65484.000000   90916  90916
     小部门4   142268  35567.000000  208140  52035