##  43 pandas分组聚合统计（四）

### 分组聚合统计
#### groupby  by  as_index dropna

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])
df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['奖金']=np.random.randint(100,100000,size=(10, 1))
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)

In [5]:
df # 随机生成的数据

  dept dept1 name      销售额     奖金
0  部门1   NaN   高宇      NaN  72342
1  部门1  小部门1  张玉珍  96975.0   6967
2  部门1  小部门2   傅燕  34519.0  90357
3  部门1  小部门2   屈楠  17319.0  20822
4  部门1  小部门2   陈红  99682.0  22589
5  部门2  小部门3   李佳  75452.0  53421
6  部门2  小部门4  文淑兰  91965.0  40826
7  部门2  小部门4  刘春梅  87081.0  80507
8  部门2  小部门4   朱旭  20138.0  82734
9  部门2  小部门4   梁波  63673.0  79650

In [4]:
df.loc[0,['dept1','销售额']]=np.nan # 先修改成nan

In [3]:
df.groupby(by=['dept','dept1'])['销售额','奖金'].sum()

d:\datacenterkun\jupyter\venv\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

               销售额      奖金
dept dept1
部门1  小部门1   187870   79309
     小部门2   151520  133768
部门2  小部门3    75452   53421
     小部门4   262857  283717

In [9]:
df.groupby(by=['dept','dept1'],dropna=False)['销售额','奖金'].sum() # 对比两个，dropna 可以跳过或保留 分组key列的nan

d:\datacenterkun\jupyter\venv\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                 销售额      奖金
dept dept1
部门1  小部门1    96975.0    6967
     小部门2   151520.0  133768
     NaN         0.0   72342
部门2  小部门3    75452.0   53421
     小部门4   262857.0  283717

In [11]:
df.groupby(by=['dept','dept1'],dropna=False,as_index=False)['销售额','奖金'].sum() # 分组的列不转换成索隐列

d:\datacenterkun\jupyter\venv\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

  dept dept1       销售额      奖金
0  部门1  小部门1   96975.0    6967
1  部门1  小部门2  151520.0  133768
2  部门1   NaN       0.0   72342
3  部门2  小部门3   75452.0   53421
4  部门2  小部门4  262857.0  283717

In [13]:
df.groupby(by=['dept','dept1'],dropna=False)['销售额','奖金'].sum().reset_index() # 分组的列不转换成索隐列。效果同上

d:\datacenterkun\jupyter\venv\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

  dept dept1       销售额      奖金
0  部门1  小部门1   96975.0    6967
1  部门1  小部门2  151520.0  133768
2  部门1   NaN       0.0   72342
3  部门2  小部门3   75452.0   53421
4  部门2  小部门4  262857.0  283717