##  48 pandas分组聚合统计（九）

### 分组聚合统计
#### groupby  agg 使用 apply 实现灵活的自定义计算方式

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])
df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['奖金']=np.random.randint(100,100000,size=(10, 1))
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)

In [2]:
df # 随机生成的数据

  dept dept1 name    销售额     奖金
0  部门1  小部门1   张燕  46323  50819
1  部门1  小部门1   赵娜  33396  40308
2  部门1  小部门2   周旭  24679  86008
3  部门1  小部门2   张欣  51276  37459
4  部门1  小部门2   王想  54515  35409
5  部门2  小部门3   孙鹏  14633  99245
6  部门2  小部门4   吴浩  34069  41247
7  部门2  小部门4   黄兵  52308  78575
8  部门2  小部门4   萧旭  20944  82971
9  部门2  小部门4   谢雷  11365  70479

In [22]:
def compute(df): # 顶一个简单的函数
    return pd.DataFrame({
        'name':df.name
    })

def compute1(df): # 多加一列计算结果
    return pd.DataFrame({
        'name':df.name,
        '销售额 占比':df.groupby(['dept','dept1'])['销售额'].transform(lambda x:x/x.sum()) # 列名可以自定义
    })

In [21]:
compute1(df)

  name    销售额 占比
0   张燕  0.581079
1   赵娜  0.418921
2   周旭  0.189155
3   张欣  0.393010
4   王想  0.417836
5   孙鹏  1.000000
6   吴浩  0.287052
7   黄兵  0.440726
8   萧旭  0.176466
9   谢雷  0.095757

In [10]:
compute(df)

  name
0   张燕
1   赵娜
2   周旭
3   张欣
4   王想
5   孙鹏
6   吴浩
7   黄兵
8   萧旭
9   谢雷

In [8]:
df.groupby(['dept','dept1'])[['销售额','奖金']].apply(lambda x:x/x.sum()) # 使用apply 统计。多列。使用lambda 表达式。计算再复杂一点

        销售额        奖金
0  0.581079  0.557672
1  0.418921  0.442328
2  0.189155  0.541353
3  0.393010  0.235775
4  0.417836  0.222872
5  1.000000  1.000000
6  0.287052  0.150938
7  0.440726  0.287534
8  0.176466  0.303621
9  0.095757  0.257908

In [7]:
df.groupby(['dept','dept1'])[['销售额','奖金']].apply(lambda x:x.sum()) # 使用apply 统计。多列。使用lambda 表达式

               销售额      奖金
dept dept1
部门1  小部门1    79719   91127
     小部门2   130470  158876
部门2  小部门3    14633   99245
     小部门4   118686  273272

In [6]:
df.groupby(['dept','dept1'])[['销售额','奖金']].apply(sum) # 使用apply 统计。多列

               销售额      奖金
dept dept1
部门1  小部门1    79719   91127
     小部门2   130470  158876
部门2  小部门3    14633   99245
     小部门4   118686  273272

In [4]:
df.groupby(['dept','dept1'])['销售额'].apply(sum) # 使用apply 统计。单列

dept  dept1
部门1   小部门1      79719
      小部门2     130470
部门2   小部门3      14633
      小部门4     118686
Name: 销售额, dtype: int64

In [3]:
df.groupby(['dept','dept1']).apply(sum) # 使用apply 统计。注意 结果中文本内容的处理方式

                    dept             dept1      name     销售额      奖金
dept dept1
部门1  小部门1         部门1部门1          小部门1小部门1      张燕赵娜   79719   91127
     小部门2      部门1部门1部门1      小部门2小部门2小部门2    周旭张欣王想  130470  158876
部门2  小部门3            部门2              小部门3        孙鹏   14633   99245
     小部门4   部门2部门2部门2部门2  小部门4小部门4小部门4小部门4  吴浩黄兵萧旭谢雷  118686  273272