## 58 pandas重复数据处理

### duplicated drop_duplicates has_duplicates 。表格/列/索引上是否有重复数据

In [1]:
import numpy  as np
import pandas as pd

In [2]:
df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5]
})

In [25]:
df

     brand style  rating
0  Yum Yum   cup     4.0
1  Indomie   cup     3.5
2  Indomie  pack     5.0

In [24]:
df.drop_duplicates(subset=['brand','style'],keep='last',inplace=True,ignore_index=1) # 注意索引变化，忽略原索引

In [22]:
df.drop_duplicates(subset=['brand','style'],keep='last',inplace=True) # 修改原df，而非返回一个副本

In [20]:
df.drop_duplicates(subset=['brand','style'],keep='last') # 指定保留第一个出现的还是最后一个出现的重复行

     brand style  rating
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
4  Indomie  pack     5.0

In [19]:
df.drop_duplicates(subset=['brand','style']) # 去除重复行。参考 duplicated 进行对比。指定参考的 列。可以多列。类似sql distinct

     brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0

In [18]:
df.drop_duplicates(subset=['brand']) # 去除重复行。参考 duplicated 进行对比。指定参考的 列

     brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5

In [17]:
df.drop_duplicates() # 去除重复行。参考 duplicated 进行对比

     brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [16]:
df.index.has_duplicates # 与下面对照

False

In [15]:
df.set_index('brand').index.has_duplicates # 判断是否有重复索引

True

In [14]:
df.set_index('brand').index.duplicated(keep='first') # 在索引上使用，这里将 brand 设置为索引列

array([False,  True, False,  True,  True])

In [12]:
df.brand.duplicated(keep='last') # 也可以在某一列上使用。方法类似

0     True
1    False
2     True
3     True
4    False
Name: brand, dtype: bool

In [11]:
df.brand.duplicated() # 也可以在某一列上使用。方法类似

0    False
1     True
2    False
3     True
4     True
Name: brand, dtype: bool

In [10]:
df.duplicated(subset=['brand','style','rating'],keep='first') # 指定子集，即 以哪些列 判定 是否重复。可以多列。等效默认

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [9]:
df.duplicated(subset=['brand','style'],keep='first') # 指定子集，即 以哪些列 判定 是否重复。可以多列

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [8]:
df.duplicated(subset=['brand'],keep='first') # 指定子集，即 以哪些列 判定 是否重复

0    False
1     True
2    False
3     True
4     True
dtype: bool

In [7]:
df.duplicated(keep='last') # 注意与 first的区别

0     True
1    False
2    False
3    False
4    False
dtype: bool

In [6]:
df.duplicated(keep='first') # 默认

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [5]:
df.duplicated() # 找到标记表格的重复数据。默认全表的列，认为第一个发现的行为不重复行，再发现则认为重复

0    False
1     True
2    False
3    False
4    False
dtype: bool