## 59 pandas重复数据处理（二）

### 标签是否重复。即 列/索引 是否重复（列头和行头）

In [1]:
import numpy  as np
import pandas as pd

In [2]:
df =pd.DataFrame([[0, 1, 2], [3, 4, 5]], columns=["A", "A", "B"])

In [3]:
df

   A  A  B
0  0  1  2
1  3  4  5

In [4]:
df.B

0    2
1    5
Name: B, dtype: int64

In [5]:
df.A # 有两列列名都是 A ，都会显示出来。

   A  A
0  0  1
1  3  4

In [6]:
df.columns.is_unique # 判断列头是否都是唯一值。有重复，返回False

False

In [7]:
df.index.is_unique # 判断行头（即索引）是否都是唯一值。此处无重复，返回True

True

In [8]:
df1 =pd.DataFrame([[0, 1, 2], [3, 4, 5], [3, 4, 5]], columns=["A", "A", "B"])

In [9]:
df1

   A  A  B
0  0  1  2
1  3  4  5
2  3  4  5

In [12]:
df1.set_index('B') # 提示 A 列不能索引，因为两个A 列

   A  A
B
2  0  1
5  3  4
5  3  4

In [13]:
df1.set_index('B').index.is_unique # 索引B 有重复，返回False

False

In [15]:
df1.groupby('B').mean() # 可以groupby

   A  A
B
2  0  1
5  3  4

In [16]:
df1.groupby('A').mean() # 提示：A 重复，不可以groupby

ValueError: Grouper for 'A' not 1-dimensional