## 60 pandas窗口函数（三）

### 窗口函数加权
#### rolling  窗口加权。仅展示使用，数学物理意义参考网络。本功能需要环境中安装scipy
#### win_type 参数参考 https://docs.scipy.org/doc/scipy/reference/signal.windows.html#module-scipy.signal.windows

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

In [2]:
df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['时间']=pd.date_range(start='2020-01-01',periods=10,freq='D')

In [3]:
df.insert(0,'dept',['部门1']*5+['部门2']*5)

In [4]:
df # 随机生成的数据

  dept name    销售额         时间
0  部门1   陈东  97013 2020-01-01
1  部门1   樊杨   3607 2020-01-02
2  部门1   郭洋  55848 2020-01-03
3  部门1   祝林   9582 2020-01-04
4  部门1   李彬  50773 2020-01-05
5  部门2   刘敏  74458 2020-01-06
6  部门2   吕明  64216 2020-01-07
7  部门2  黄海燕  24820 2020-01-08
8  部门2   但琳  62604 2020-01-09
9  部门2  张红霞   1719 2020-01-10

In [5]:
df.销售额.rolling(window=5).sum()

0         NaN
1         NaN
2         NaN
3         NaN
4    216823.0
5    194268.0
6    254877.0
7    223849.0
8    276871.0
9    227817.0
Name: 销售额, dtype: float64

In [6]:
df.销售额.rolling(window=5,win_type='triang').sum() # win_type 参数 指定加权函数名称

0              NaN
1              NaN
2              NaN
3              NaN
4    113902.666667
5    106684.333333
6    146821.000000
7    162584.666667
8    168193.666667
9    134759.000000
Name: 销售额, dtype: float64

In [8]:
df.销售额.rolling(window=5).mean()

0        NaN
1        NaN
2        NaN
3        NaN
4    43364.6
5    38853.6
6    50975.4
7    44769.8
8    55374.2
9    45563.4
Name: 销售额, dtype: float64

In [7]:
df.销售额.rolling(window=5,win_type='triang').mean() # win_type 参数 指定加权函数名称

0             NaN
1             NaN
2             NaN
3             NaN
4    37967.555556
5    35561.444444
6    48940.333333
7    54194.888889
8    56064.555556
9    44919.666667
Name: 销售额, dtype: float64

In [9]:
df.销售额.rolling(window=5,win_type='triang').var() # win_type 参数 指定加权函数名称

0             NaN
1             NaN
2             NaN
3             NaN
4    1.191979e+09
5    8.848490e+08
6    6.059035e+08
7    6.944569e+08
8    4.474398e+08
9    7.390234e+08
Name: 销售额, dtype: float64

In [10]:
df.销售额.rolling(window=5,win_type='triang').std() # win_type 参数 指定加权函数名称。其它参数选择 参考 开头 链接

0             NaN
1             NaN
2             NaN
3             NaN
4    34525.051054
5    29746.411017
6    24615.107728
7    26352.549514
8    21152.772989
9    27184.985613
Name: 销售额, dtype: float64