## 61 pandas分类数据（一）

### 分类数据 Categorical data （也有翻译为范畴数据）
#### 分类数据的创建操作

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

In [2]:
df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['时间']=pd.date_range(start='2020-01-01',periods=10,freq='D')

In [3]:
df.insert(0,'dept',['部门1']*5+['部门2']*5)

In [4]:
df # 随机生成的数据

  dept name    销售额         时间
0  部门1   刘璐   2387 2020-01-01
1  部门1  魏桂英  20235 2020-01-02
2  部门1   原坤  37653 2020-01-03
3  部门1   孟强  51038 2020-01-04
4  部门1   胡宁  92851 2020-01-05
5  部门2   刘娟  64950 2020-01-06
6  部门2  莫丹丹  77021 2020-01-07
7  部门2   徐明   2572 2020-01-08
8  部门2  朱玉梅  17734 2020-01-09
9  部门2   何玲  48867 2020-01-10

In [14]:
df.dept.unique()

array(['部门1', '部门2'], dtype=object)

In [15]:
df.dept.astype('category') # dept列转化为分类列

0    部门1
1    部门1
2    部门1
3    部门1
4    部门1
5    部门2
6    部门2
7    部门2
8    部门2
9    部门2
Name: dept, dtype: category
Categories (2, object): ['部门1', '部门2']

In [16]:
df.dept.astype(pd.CategoricalDtype()) # dept列转化为分类列.效果同上

0    部门1
1    部门1
2    部门1
3    部门1
4    部门1
5    部门2
6    部门2
7    部门2
8    部门2
9    部门2
Name: dept, dtype: category
Categories (2, object): ['部门1', '部门2']

In [17]:
pd.Series(['a','b','b'],dtype=pd.CategoricalDtype()) #指定序列类型未分类类型

0    a
1    b
2    b
dtype: category
Categories (2, object): ['a', 'b']

In [18]:
pd.Series(['a','b','b'],dtype='category') #指定序列类型未分类类型。效果同上

0    a
1    b
2    b
dtype: category
Categories (2, object): ['a', 'b']

In [19]:
category=pd.Categorical(['a','b','b'],categories=['a','b'])

In [20]:
category # 利用分类定义创建

['a', 'b', 'b']
Categories (2, object): ['a', 'b']

In [21]:
category1=pd.Categorical(['a','b','b'],categories=['a','b'],ordered=True)

In [22]:
category1 # 同刚才，但是定义了一个有序分类

['a', 'b', 'b']
Categories (2, object): ['a' < 'b']

In [23]:
pd.Series(category) # 根据 category创建一个 分类序列

0    a
1    b
2    b
dtype: category
Categories (2, object): ['a', 'b']

In [24]:
df['category']=df.dept.astype('category')

In [25]:
df # df中新增分类型列（序列）

  dept name    销售额         时间 category
0  部门1   刘璐   2387 2020-01-01      部门1
1  部门1  魏桂英  20235 2020-01-02      部门1
2  部门1   原坤  37653 2020-01-03      部门1
3  部门1   孟强  51038 2020-01-04      部门1
4  部门1   胡宁  92851 2020-01-05      部门1
5  部门2   刘娟  64950 2020-01-06      部门2
6  部门2  莫丹丹  77021 2020-01-07      部门2
7  部门2   徐明   2572 2020-01-08      部门2
8  部门2  朱玉梅  17734 2020-01-09      部门2
9  部门2   何玲  48867 2020-01-10      部门2

In [26]:
df.dtypes

dept                object
name                object
销售额                  int32
时间          datetime64[ns]
category          category
dtype: object