## 62 pandas分类数据（二）

### 分类数据 Categorical data （也有翻译为范畴数据）
#### 分类数据的创建和转换

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

In [2]:
df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['时间']=pd.date_range(start='2020-01-01',periods=10,freq='D')

In [3]:
df.insert(0,'dept',['部门1']*5+['部门2']*5)

In [4]:
df # 随机生成的数据

  dept name    销售额         时间
0  部门1   陈磊  95743 2020-01-01
1  部门1  刘桂香  83999 2020-01-02
2  部门1   吴宁  99643 2020-01-03
3  部门1  李桂珍  67554 2020-01-04
4  部门1   王鹏   8416 2020-01-05
5  部门2  章秀云  35920 2020-01-06
6  部门2   孙畅  36497 2020-01-07
7  部门2   佘博  14867 2020-01-08
8  部门2   周倩  85618 2020-01-09
9  部门2   刘杰  26883 2020-01-10

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   dept    10 non-null     object
 1   name    10 non-null     object
 2   销售额     10 non-null     int32
 3   时间      10 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int32(1), object(2)
memory usage: 408.0+ bytes

In [8]:
df.astype('category').info() # 数据帧（表）转换成分类数据类型

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   dept    10 non-null     category
 1   name    10 non-null     category
 2   销售额     10 non-null     category
 3   时间      10 non-null     category
dtypes: category(4)
memory usage: 1.4 KB

In [10]:
t=df.dept.astype('category')

In [11]:
t

0    部门1
1    部门1
2    部门1
3    部门1
4    部门1
5    部门2
6    部门2
7    部门2
8    部门2
9    部门2
Name: dept, dtype: category
Categories (2, object): ['部门1', '部门2']

In [12]:
t.astype(str) # 分类数据类型转换成 str(object 对象类型)

0    部门1
1    部门1
2    部门1
3    部门1
4    部门1
5    部门2
6    部门2
7    部门2
8    部门2
9    部门2
Name: dept, dtype: object

In [14]:
t.astype('string') # 分类数据类型转换成 string

0    部门1
1    部门1
2    部门1
3    部门1
4    部门1
5    部门2
6    部门2
7    部门2
8    部门2
9    部门2
Name: dept, dtype: string

In [17]:
category=pd.Categorical(['a', 'b','c', 'c','a']*2,categories=['a','b','c'])

In [18]:
category

['a', 'b', 'c', 'c', 'a', 'a', 'b', 'c', 'c', 'a']
Categories (3, object): ['a', 'b', 'c']

In [19]:
df['category']=category # 尾部增加列，数据为category

In [20]:
df

  dept name    销售额         时间 category
0  部门1   陈磊  95743 2020-01-01        a
1  部门1  刘桂香  83999 2020-01-02        b
2  部门1   吴宁  99643 2020-01-03        c
3  部门1  李桂珍  67554 2020-01-04        c
4  部门1   王鹏   8416 2020-01-05        a
5  部门2  章秀云  35920 2020-01-06        a
6  部门2   孙畅  36497 2020-01-07        b
7  部门2   佘博  14867 2020-01-08        c
8  部门2   周倩  85618 2020-01-09        c
9  部门2   刘杰  26883 2020-01-10        a

In [22]:
pd.DataFrame(data=['1','b',2,3],columns=['category']).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   category  4 non-null      object
dtypes: object(1)
memory usage: 160.0+ bytes

In [24]:
pd.DataFrame(data=['1','b',2,3],columns=['category'],dtype='category').info() # 在创建 数据帧时指定为分类数据类型

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   category  4 non-null      category
dtypes: category(1)
memory usage: 324.0 bytes