## 65 pandas分类数据（五）

### 分类数据 Categorical data （也有翻译为范畴数据）
#### 分类数据操作：排序

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['时间']=pd.date_range(start='2020-01-01',periods=10,freq='D')
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)

In [2]:
df # 随机生成的数据

  dept dept1 name    销售额         时间
0  部门1  小部门1   朱东  18152 2020-01-01
1  部门1  小部门1   查璐  58596 2020-01-02
2  部门1  小部门2  杨玉英  47171 2020-01-03
3  部门1  小部门2   钱倩   3373 2020-01-04
4  部门1  小部门2   陈林  88914 2020-01-05
5  部门2  小部门3   陈红  34219 2020-01-06
6  部门2  小部门4   张建  51049 2020-01-07
7  部门2  小部门4   张晶  52944 2020-01-08
8  部门2  小部门4   钱勇  59554 2020-01-09
9  部门2  小部门4  谈秀华  16040 2020-01-10

In [3]:
t=df.dept.astype(pd.CategoricalDtype())

In [5]:
t

0    部门1
1    部门1
2    部门1
3    部门1
4    部门1
5    部门2
6    部门2
7    部门2
8    部门2
9    部门2
Name: dept, dtype: category
Categories (2, object): ['部门1', '部门2']

In [6]:
t.cat.as_ordered() # 调整为 分类有序

0    部门1
1    部门1
2    部门1
3    部门1
4    部门1
5    部门2
6    部门2
7    部门2
8    部门2
9    部门2
Name: dept, dtype: category
Categories (2, object): ['部门1' < '部门2']

In [7]:
t.cat.as_unordered() # 调整为 分类无序

0    部门1
1    部门1
2    部门1
3    部门1
4    部门1
5    部门2
6    部门2
7    部门2
8    部门2
9    部门2
Name: dept, dtype: category
Categories (2, object): ['部门1', '部门2']

In [8]:
t.sort_values()

0    部门1
1    部门1
2    部门1
3    部门1
4    部门1
5    部门2
6    部门2
7    部门2
8    部门2
9    部门2
Name: dept, dtype: category
Categories (2, object): ['部门1', '部门2']

In [12]:
t=t.cat.reorder_categories(['部门2', '部门1'],ordered=True) #调整分类数据 的殊顺序

In [13]:
t

0    部门1
1    部门1
2    部门1
3    部门1
4    部门1
5    部门2
6    部门2
7    部门2
8    部门2
9    部门2
Name: dept, dtype: category
Categories (2, object): ['部门2' < '部门1']

In [14]:
t.sort_values() # 调整后 按照 分类数据顺序排序。对照区别。不再是字典排序

5    部门2
6    部门2
7    部门2
8    部门2
9    部门2
0    部门1
1    部门1
2    部门1
3    部门1
4    部门1
Name: dept, dtype: category
Categories (2, object): ['部门2' < '部门1']

In [18]:
df

  dept dept1 name    销售额         时间
0  部门1  小部门1   朱东  18152 2020-01-01
1  部门1  小部门1   查璐  58596 2020-01-02
2  部门1  小部门2  杨玉英  47171 2020-01-03
3  部门1  小部门2   钱倩   3373 2020-01-04
4  部门1  小部门2   陈林  88914 2020-01-05
5  部门2  小部门3   陈红  34219 2020-01-06
6  部门2  小部门4   张建  51049 2020-01-07
7  部门2  小部门4   张晶  52944 2020-01-08
8  部门2  小部门4   钱勇  59554 2020-01-09
9  部门2  小部门4  谈秀华  16040 2020-01-10

In [16]:
df.dept= df.dept.astype(pd.CategoricalDtype())

In [17]:
df.dept1= df.dept1.astype(pd.CategoricalDtype())

In [20]:
df.sort_values(by=['dept','dept1']) # 原始字典排序

  dept dept1 name    销售额         时间
0  部门1  小部门1   朱东  18152 2020-01-01
1  部门1  小部门1   查璐  58596 2020-01-02
2  部门1  小部门2  杨玉英  47171 2020-01-03
3  部门1  小部门2   钱倩   3373 2020-01-04
4  部门1  小部门2   陈林  88914 2020-01-05
5  部门2  小部门3   陈红  34219 2020-01-06
6  部门2  小部门4   张建  51049 2020-01-07
7  部门2  小部门4   张晶  52944 2020-01-08
8  部门2  小部门4   钱勇  59554 2020-01-09
9  部门2  小部门4  谈秀华  16040 2020-01-10

In [21]:
df.dept= df.dept.cat.reorder_categories(['部门2','部门1'],ordered=True)

In [22]:
df.dept # 分类数据顺序改变

0    部门1
1    部门1
2    部门1
3    部门1
4    部门1
5    部门2
6    部门2
7    部门2
8    部门2
9    部门2
Name: dept, dtype: category
Categories (2, object): ['部门2' < '部门1']

In [23]:
df.sort_values(by=['dept','dept1']) # 排序发生变化，dept列按照dept 分类数据顺序

  dept dept1 name    销售额         时间
5  部门2  小部门3   陈红  34219 2020-01-06
6  部门2  小部门4   张建  51049 2020-01-07
7  部门2  小部门4   张晶  52944 2020-01-08
8  部门2  小部门4   钱勇  59554 2020-01-09
9  部门2  小部门4  谈秀华  16040 2020-01-10
0  部门1  小部门1   朱东  18152 2020-01-01
1  部门1  小部门1   查璐  58596 2020-01-02
2  部门1  小部门2  杨玉英  47171 2020-01-03
3  部门1  小部门2   钱倩   3373 2020-01-04
4  部门1  小部门2   陈林  88914 2020-01-05