## 67 pandas分类数据（七）

### 分类数据 Categorical data （也有翻译为范畴数据）
#### 分类数据操作：常规统计

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['时间']=pd.date_range(start='2020-01-01',periods=10,freq='D')
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)

In [2]:
df # 随机生成的数据

  dept dept1 name    销售额         时间
0  部门1  小部门1   王帅   3114 2020-01-01
1  部门1  小部门1  唐淑珍  61647 2020-01-02
2  部门1  小部门2   王成  58224 2020-01-03
3  部门1  小部门2   徐欣  33701 2020-01-04
4  部门1  小部门2  傅秀珍  31754 2020-01-05
5  部门2  小部门3  陈淑兰  67552 2020-01-06
6  部门2  小部门4   周想  45605 2020-01-07
7  部门2  小部门4  孙玉英  98854 2020-01-08
8  部门2  小部门4  卢玉兰  93458 2020-01-09
9  部门2  小部门4   叶晶  63959 2020-01-10

In [3]:
df.groupby(['dept']).sum()

         销售额
dept
部门1   188440
部门2   369428

In [4]:
df.dept=df.dept.astype(pd.CategoricalDtype())

In [6]:
df.dtypes

dept           category
dept1            object
name             object
销售额               int32
时间       datetime64[ns]
dtype: object

In [7]:
df.groupby(['dept']).sum() # 在分类数据上分组统计

         销售额
dept
部门1   188440
部门2   369428

In [9]:
df.groupby(['dept']).agg({'销售额':['sum','mean','min','max','median']}) # 在分类数据上分组统计,使用聚合

         销售额
         sum     mean    min    max median
dept
部门1   188440  37688.0   3114  61647  33701
部门2   369428  73885.6  45605  98854  67552

In [10]:
df.dept.describe() # 分类数据类型列上的描述性统计

count      10
unique      2
top       部门1
freq        5
Name: dept, dtype: object

In [11]:
df.dept.value_counts() # 值的个数统计

部门1    5
部门2    5
Name: dept, dtype: int64

In [13]:
df.dept.map(lambda x :x[0]) # 可以使用map 加  lambda 表达式

0    部
1    部
2    部
3    部
4    部
5    部
6    部
7    部
8    部
9    部
Name: dept, dtype: object

In [15]:
df.dept.apply(lambda x :x[-1]) # 可以使用apply 加  lambda 表达式

0    1
1    1
2    1
3    1
4    1
5    2
6    2
7    2
8    2
9    2
Name: dept, dtype: category
Categories (2, object): ['1', '2']