## 69 pandas分类数据（九）

### 分类数据 Categorical data （也有翻译为范畴数据）
#### 分类数据操作：使用.dt和.str和自定义函数

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['时间']=pd.date_range(start='2020-01-01',periods=10,freq='D')
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)

In [2]:
df # 随机生成的数据

  dept dept1 name    销售额         时间
0  部门1  小部门1  沈秀英  57879 2020-01-01
1  部门1  小部门1  夏淑英  56089 2020-01-02
2  部门1  小部门2  陶秀珍  94814 2020-01-03
3  部门1  小部门2  黄桂珍  50933 2020-01-04
4  部门1  小部门2   史丹  77101 2020-01-05
5  部门2  小部门3   唐霞  28809 2020-01-06
6  部门2  小部门4   曾柳  85608 2020-01-07
7  部门2  小部门4   丁强  68350 2020-01-08
8  部门2  小部门4   吴红  79499 2020-01-09
9  部门2  小部门4  黄桂英   2020 2020-01-10

In [3]:
df.dept=df.dept.astype('category')

In [5]:
df.dept

0    部门1
1    部门1
2    部门1
3    部门1
4    部门1
5    部门2
6    部门2
7    部门2
8    部门2
9    部门2
Name: dept, dtype: category
Categories (2, object): ['部门1', '部门2']

In [6]:
df.dept.str.contains('1') # 使用 .str函数。判断是否包含字符串'1'。 当然，也可以使用.str的其它函数，此处仅仅举一个例子。只要 元素本身可以是str类型就可以使用.str

0     True
1     True
2     True
3     True
4     True
5    False
6    False
7    False
8    False
9    False
Name: dept, dtype: bool

In [12]:
df.dept.map(lambda x :x.count('1')) # 使用map 自定义函数，统计字符串'1'的个数

0    1
1    1
2    1
3    1
4    1
5    0
6    0
7    0
8    0
9    0
Name: dept, dtype: category
Categories (2, int64): [1, 0]

In [7]:
df.时间=df.时间.astype('category')

In [8]:
df.时间

0   2020-01-01
1   2020-01-02
2   2020-01-03
3   2020-01-04
4   2020-01-05
5   2020-01-06
6   2020-01-07
7   2020-01-08
8   2020-01-09
9   2020-01-10
Name: 时间, dtype: category
Categories (10, datetime64[ns]): [2020-01-01, 2020-01-02, 2020-01-03, 2020-01-04, ..., 2020-01-07, 2020-01-08, 2020-01-09, 2020-01-10]

In [9]:
df.时间.dt.date # 使用 .dt函数。返回每个元素的date。 当然，也可以使用.dt的其它函数，此处仅仅举一个例子。只要 元素本身可以是datetime64类型就可以使用.dt

0    2020-01-01
1    2020-01-02
2    2020-01-03
3    2020-01-04
4    2020-01-05
5    2020-01-06
6    2020-01-07
7    2020-01-08
8    2020-01-09
9    2020-01-10
Name: 时间, dtype: object

In [10]:
df.时间.apply(lambda x :x.date) # 使用apply自定义函数实现同样效果

0    2020-01-01
1    2020-01-02
2    2020-01-03
3    2020-01-04
4    2020-01-05
5    2020-01-06
6    2020-01-07
7    2020-01-08
8    2020-01-09
9    2020-01-10
Name: 时间, dtype: category
Categories (10, object): [2020-01-01, 2020-01-02, 2020-01-03, 2020-01-04, ..., 2020-01-07, 2020-01-08, 2020-01-09, 2020-01-10]