## 80 eval查询计算修改

### eval 将字符串描述的运算操作作用于表格的列。

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['时间']=pd.date_range(start='2020-01-01',periods=10,freq='D')
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept 1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)

### 演示数据

In [2]:
df.iloc[0,3]=np.nan #  修改成nan
df.iloc[1,3]=df.iloc[5,3] #  修改成一样

In [12]:
df # 随机生成的数据

  dept dept 1 name      销售额         时间
0  部门1   小部门1   杨颖      NaN 2020-01-01
1  部门1   小部门1  侯婷婷  46064.0 2020-01-02
2  部门1   小部门2   秦楠  19799.0 2020-01-03
3  部门1   小部门2   张兵  55830.0 2020-01-04
4  部门1   小部门2  李秀芳  87647.0 2020-01-05
5  部门2   小部门3   张华  46064.0 2020-01-06
6  部门2   小部门4  殷秀珍  63625.0 2020-01-07
7  部门2   小部门4   袁勇  51770.0 2020-01-08
8  部门2   小部门4  张桂花  33423.0 2020-01-09
9  部门2   小部门4  岳凤兰  85151.0 2020-01-10

In [18]:
dept_name='部门1'
df.eval('''1000<销售额<50000 and dept==@dept_name ''') # 多条件查询 。numexpr语法模式.@引入外部参数

0    False
1     True
2     True
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [19]:
df.eval('''1000<销售额<50000 and dept=='部门1' ''') # 多条件查询 。numexpr语法模式

0    False
1     True
2     True
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [13]:
df.eval('''销售额>10000 ''') # 查询 。类似query

0    False
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
dtype: bool

In [11]:
pd.eval('''提成= df.销售额*.1''',target=df) # pd上的用法

  dept dept 1 name      销售额         时间      提成
0  部门1   小部门1   杨颖      NaN 2020-01-01     NaN
1  部门1   小部门1  侯婷婷  46064.0 2020-01-02  4606.4
2  部门1   小部门2   秦楠  19799.0 2020-01-03  1979.9
3  部门1   小部门2   张兵  55830.0 2020-01-04  5583.0
4  部门1   小部门2  李秀芳  87647.0 2020-01-05  8764.7
5  部门2   小部门3   张华  46064.0 2020-01-06  4606.4
6  部门2   小部门4  殷秀珍  63625.0 2020-01-07  6362.5
7  部门2   小部门4   袁勇  51770.0 2020-01-08  5177.0
8  部门2   小部门4  张桂花  33423.0 2020-01-09  3342.3
9  部门2   小部门4  岳凤兰  85151.0 2020-01-10  8515.1

In [10]:
df.eval('''提成= 销售额*.1
提成_修正= 提成*1.1
''') # 再增加 提成—_修正 列= 提成*1.1. 多列模式
#  根据提示 ，不可修改。仅仅支持numexpr 支持的操作符号

ValueError: data type must provide an itemsize

In [6]:
df.eval('''提成= 销售额*.1
提成_修正= 提成*1.1
''') # 再增加 提成—_修正 列= 提成*1.1. 多列模式

  dept dept 1 name      销售额         时间      提成    提成_修正
0  部门1   小部门1   杨颖      NaN 2020-01-01     NaN      NaN
1  部门1   小部门1  侯婷婷  46064.0 2020-01-02  4606.4  5067.04
2  部门1   小部门2   秦楠  19799.0 2020-01-03  1979.9  2177.89
3  部门1   小部门2   张兵  55830.0 2020-01-04  5583.0  6141.30
4  部门1   小部门2  李秀芳  87647.0 2020-01-05  8764.7  9641.17
5  部门2   小部门3   张华  46064.0 2020-01-06  4606.4  5067.04
6  部门2   小部门4  殷秀珍  63625.0 2020-01-07  6362.5  6998.75
7  部门2   小部门4   袁勇  51770.0 2020-01-08  5177.0  5694.70
8  部门2   小部门4  张桂花  33423.0 2020-01-09  3342.3  3676.53
9  部门2   小部门4  岳凤兰  85151.0 2020-01-10  8515.1  9366.61

In [5]:
df.eval('提成= 销售额*.1') # 增加 提成列= 销售额*0.1

  dept dept 1 name      销售额         时间      提成
0  部门1   小部门1   杨颖      NaN 2020-01-01     NaN
1  部门1   小部门1  侯婷婷  46064.0 2020-01-02  4606.4
2  部门1   小部门2   秦楠  19799.0 2020-01-03  1979.9
3  部门1   小部门2   张兵  55830.0 2020-01-04  5583.0
4  部门1   小部门2  李秀芳  87647.0 2020-01-05  8764.7
5  部门2   小部门3   张华  46064.0 2020-01-06  4606.4
6  部门2   小部门4  殷秀珍  63625.0 2020-01-07  6362.5
7  部门2   小部门4   袁勇  51770.0 2020-01-08  5177.0
8  部门2   小部门4  张桂花  33423.0 2020-01-09  3342.3
9  部门2   小部门4  岳凤兰  85151.0 2020-01-10  8515.1

In [4]:
df.eval('销售额*.1') # 简单计算 销售额*0.1

0       NaN
1    4606.4
2    1979.9
3    5583.0
4    8764.7
5    4606.4
6    6362.5
7    5177.0
8    3342.3
9    8515.1
dtype: float64