## 82 常见表格属性

 shape 形状
ndim 维数
size 数据的元素个数
nbytes 数据的字节数
T，transpose  转置
memory_usage 内存使用

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['时间']=pd.date_range(start='2020-01-01',periods=10,freq='D')
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept 1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)

### 演示数据

In [2]:
df.iloc[0,3]=np.nan #  修改成nan
df.iloc[1,3]=df.iloc[5,3] #  修改成一样

In [3]:
df # 随机生成的数据

  dept dept 1 name      销售额         时间
0  部门1   小部门1  熊秀芳      NaN 2020-01-01
1  部门1   小部门1  赵秀兰  76194.0 2020-01-02
2  部门1   小部门2  邵秀荣  97114.0 2020-01-03
3  部门1   小部门2   傅琴  53305.0 2020-01-04
4  部门1   小部门2   张勇  59793.0 2020-01-05
5  部门2   小部门3   孙想  76194.0 2020-01-06
6  部门2   小部门4   王丽  27326.0 2020-01-07
7  部门2   小部门4   张雪  40904.0 2020-01-08
8  部门2   小部门4  李秀荣  44344.0 2020-01-09
9  部门2   小部门4  黄红梅  48316.0 2020-01-10

In [18]:
df.memory_usage(deep=True) # 内存使用。可选deep参数，是否深入详细分析内存占用。df上使用

Index     128
dept      960
dept 1    900
name      870
销售额        80
时间         80
dtype: int64

In [17]:
df.dept.memory_usage(deep=True) # 内存使用。可选deep参数，是否深入详细分析内存占用

1088

In [15]:
df.dept.transpose() # 转置。

0    部门1
1    部门1
2    部门1
3    部门1
4    部门1
5    部门2
6    部门2
7    部门2
8    部门2
9    部门2
Name: dept, dtype: object

In [14]:
df.transpose() # 转置。等效

,0,1,2,3,4,5,6,7,8,9
dept,部门1,部门1,部门1,部门1,部门1,部门2,部门2,部门2,部门2,部门2
dept 1,小部门1,小部门1,小部门2,小部门2,小部门2,小部门3,小部门4,小部门4,小部门4,小部门4
name,熊秀芳,赵秀兰,邵秀荣,傅琴,张勇,孙想,王丽,张雪,李秀荣,黄红梅
销售额,NaN,76194.0,97114.0,53305.0,59793.0,76194.0,27326.0,40904.0,44344.0,48316.0
时间,2020-01-01 00:00:00,2020-01-02 00:00:00,2020-01-03 00:00:00,2020-01-04 00:00:00,2020-01-05 00:00:00,2020-01-06 00:00:00,2020-01-07 00:00:00,2020-01-08 00:00:00,2020-01-09 00:00:00,2020-01-10 00:00:00

In [13]:
df.T # 转置。

,0,1,2,3,4,5,6,7,8,9
dept,部门1,部门1,部门1,部门1,部门1,部门2,部门2,部门2,部门2,部门2
dept 1,小部门1,小部门1,小部门2,小部门2,小部门2,小部门3,小部门4,小部门4,小部门4,小部门4
name,熊秀芳,赵秀兰,邵秀荣,傅琴,张勇,孙想,王丽,张雪,李秀荣,黄红梅
销售额,NaN,76194.0,97114.0,53305.0,59793.0,76194.0,27326.0,40904.0,44344.0,48316.0
时间,2020-01-01 00:00:00,2020-01-02 00:00:00,2020-01-03 00:00:00,2020-01-04 00:00:00,2020-01-05 00:00:00,2020-01-06 00:00:00,2020-01-07 00:00:00,2020-01-08 00:00:00,2020-01-09 00:00:00,2020-01-10 00:00:00

In [12]:
df.dept.nbytes # 字节数

80

In [9]:
df.size # 50个元素

50

In [8]:
df.dept.size # 10个元素

10

In [7]:
df.dept.ndim # 一维

1

In [6]:
df.ndim # 二维

2

In [5]:
df.dept.shape # 一维。10行

(10,)

In [4]:
df.shape # 二维。10行5列

(10, 5)