## 85 数据类型转换

### astype
参数 dtype, copy=True, errors='raise'

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['时间']=pd.date_range(start='2020-01-01',periods=10,freq='D')
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept 1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)
df.iloc[1,1]=np.nan #  修改成nan

### 演示数据

In [2]:
df # 随机生成的数据

  dept dept 1 name    销售额         时间
0  部门1   小部门1  张淑华  98990 2020-01-01
1  部门1    NaN  汪凤英  22824 2020-01-02
2  部门1   小部门2   谢明  31300 2020-01-03
3  部门1   小部门2   黄兵   7745 2020-01-04
4  部门1   小部门2   张兵  82926 2020-01-05
5  部门2   小部门3   张雪   2705 2020-01-06
6  部门2   小部门4   张雪   3370 2020-01-07
7  部门2   小部门4  张玉珍  47478 2020-01-08
8  部门2   小部门4   潘洁  70174 2020-01-09
9  部门2   小部门4  冯淑珍  79287 2020-01-10

In [3]:
df.dtypes

dept              object
dept 1            object
name              object
销售额                int64
时间        datetime64[ns]
dtype: object

In [17]:
df.astype(dtype={'销售额':'float','时间':'string'},errors='ignore').dtypes # 多列转换，dict 映射

dept       object
dept 1     object
name       object
销售额       float64
时间         string
dtype: object

In [13]:
df['dept 1'].astype('int',errors='ignore') # 转换为 失败，默认报错，也可以忽略 转换失败的错误并保持元素的原样

0    小部门1
1     NaN
2    小部门2
3    小部门2
4    小部门2
5    小部门3
6    小部门4
7    小部门4
8    小部门4
9    小部门4
Name: dept 1, dtype: object

In [9]:
df.销售额.astype(str) # 转换为 object

0    98990
1    22824
2    31300
3     7745
4    82926
5     2705
6     3370
7    47478
8    70174
9    79287
Name: 销售额, dtype: object

In [8]:
df.销售额.astype(pd.StringDtype()) # 转换为 string。等效

0    98990
1    22824
2    31300
3     7745
4    82926
5     2705
6     3370
7    47478
8    70174
9    79287
Name: 销售额, dtype: string

In [7]:
df.销售额.astype('string') # 转换为 string

0    98990
1    22824
2    31300
3     7745
4    82926
5     2705
6     3370
7    47478
8    70174
9    79287
Name: 销售额, dtype: string

In [6]:
df.销售额.astype('datetime64[ns]') # 转换为 datetime，注意unit

0   1970-01-01 00:00:00.000098990
1   1970-01-01 00:00:00.000022824
2   1970-01-01 00:00:00.000031300
3   1970-01-01 00:00:00.000007745
4   1970-01-01 00:00:00.000082926
5   1970-01-01 00:00:00.000002705
6   1970-01-01 00:00:00.000003370
7   1970-01-01 00:00:00.000047478
8   1970-01-01 00:00:00.000070174
9   1970-01-01 00:00:00.000079287
Name: 销售额, dtype: datetime64[ns]

In [5]:
df.销售额.astype('float32') # 转换为 float32

0    98990.0
1    22824.0
2    31300.0
3     7745.0
4    82926.0
5     2705.0
6     3370.0
7    47478.0
8    70174.0
9    79287.0
Name: 销售额, dtype: float32

In [4]:
df.销售额.astype('float') # 转换为 float

0    98990.0
1    22824.0
2    31300.0
3     7745.0
4    82926.0
5     2705.0
6     3370.0
7    47478.0
8    70174.0
9    79287.0
Name: 销售额, dtype: float64