## 86 数据类型转换（二）

### astype to_numeric

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['时间']=pd.date_range(start='2020-01-01',periods=10,freq='D')
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept 1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)
df.iloc[1,1]=np.nan #  修改成nan

### 演示数据

In [2]:
df # 随机生成的数据

  dept dept 1 name    销售额         时间
0  部门1   小部门1  迟淑华  90730 2020-01-01
1  部门1    NaN   宋伟  64142 2020-01-02
2  部门1   小部门2   卢雪  51633 2020-01-03
3  部门1   小部门2   吴洁  43061 2020-01-04
4  部门1   小部门2  周秀英  97544 2020-01-05
5  部门2   小部门3   张玉  20944 2020-01-06
6  部门2   小部门4  伍秀荣  48690 2020-01-07
7  部门2   小部门4   夏晶  27949 2020-01-08
8  部门2   小部门4   韩峰  41775 2020-01-09
9  部门2   小部门4   孔旭  95981 2020-01-10

In [3]:
df.dtypes

dept              object
dept 1            object
name              object
销售额                int32
时间        datetime64[ns]
dtype: object

In [10]:
pd.to_numeric(df.销售额,downcast='float') # 指定downcast 目标类型，具体参数值选取参考官方文档

0    90730.0
1    64142.0
2    51633.0
3    43061.0
4    97544.0
5    20944.0
6    48690.0
7    27949.0
8    41775.0
9    95981.0
Name: 销售额, dtype: float32

In [9]:
pd.to_numeric(df.dept,errors='coerce') # 如果失败 ，强制将转换失败的转换为nan

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
Name: dept, dtype: float64

In [8]:
pd.to_numeric(df.dept,errors='ignore') # 如果失败 ，忽略并保持相关数据不变

0    部门1
1    部门1
2    部门1
3    部门1
4    部门1
5    部门2
6    部门2
7    部门2
8    部门2
9    部门2
Name: dept, dtype: object

In [7]:
pd.to_numeric(df.dept,errors='raise') # 尝试转换成数字，如果失败 默认报错

ValueError: Unable to parse string "部门1" at position 0

In [5]:
pd.to_numeric(df.销售额)

0    90730
1    64142
2    51633
3    43061
4    97544
5    20944
6    48690
7    27949
8    41775
9    95981
Name: 销售额, dtype: int32

In [4]:
df.dept.astype('category') # 转换成 分类数据

0    部门1
1    部门1
2    部门1
3    部门1
4    部门1
5    部门2
6    部门2
7    部门2
8    部门2
9    部门2
Name: dept, dtype: category
Categories (2, object): ['部门1', '部门2']