## 87 数据类型转换（三）

### to_datetime 转换成时间
参数 arg, errors='raise', dayfirst=False, yearfirst=False, utc=None, format=None, exact=True, unit=None, infer_datetime_format=False, origin='unix', cache=True

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['时间']=pd.date_range(start='2020-01-01',periods=10,freq='D')
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept 1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)
df.iloc[1,1]=np.nan #  修改成nan

### 演示数据

In [2]:
df # 随机生成的数据

  dept dept 1 name    销售额         时间
0  部门1   小部门1   王坤  83716 2020-01-01
1  部门1    NaN  徐丽华  76979 2020-01-02
2  部门1   小部门2   曹磊  26657 2020-01-03
3  部门1   小部门2   卢兵  45838 2020-01-04
4  部门1   小部门2  田凤兰  98094 2020-01-05
5  部门2   小部门3  张红霞  42912 2020-01-06
6  部门2   小部门4  皮志强  98762 2020-01-07
7  部门2   小部门4  杨淑兰   6843 2020-01-08
8  部门2   小部门4  郑丹丹  14927 2020-01-09
9  部门2   小部门4   葛帆  64013 2020-01-10

In [3]:
df.dtypes

dept              object
dept 1            object
name              object
销售额                int32
时间        datetime64[ns]
dtype: object

In [23]:
pd.to_datetime('10/11/12',format='%y/%m/%d') # 设置时间格式字符串

Timestamp('2010-11-12 00:00:00')

In [22]:
pd.to_datetime('10/11/12',format='%d/%m/%y') # 设置时间格式字符串

Timestamp('2012-11-10 00:00:00')

In [21]:
pd.to_datetime(df.时间,infer_datetime_format=True) # 推断第一个时间字符串的格式，尝试转换加速

0   2020-01-01
1   2020-01-02
2   2020-01-03
3   2020-01-04
4   2020-01-05
5   2020-01-06
6   2020-01-07
7   2020-01-08
8   2020-01-09
9   2020-01-10
Name: 时间, dtype: datetime64[ns]

In [17]:
pd.to_datetime('10/11/12',yearfirst=True) # 指定第一个数字（10）为年

Timestamp('2010-11-12 00:00:00')

In [16]:
pd.to_datetime('10/11/12',dayfirst=True) # 指定第一个数字（10）为日

Timestamp('2012-11-10 00:00:00')

In [14]:
pd.to_datetime(490382858.9,unit='ms',origin='unix')  # 将时间偏移数量转换成时间。unit 指定时间单位  origin 指定 时间的起点类型

Timestamp('1970-01-06 16:13:02.858900')

In [11]:
pd.to_datetime(490382858,unit='ns',origin='unix')  # 将时间偏移数量转换成时间。unit 指定时间单位  origin 指定 时间的起点类型

Timestamp('1970-01-01 00:00:00.490382858')

In [9]:
pd.to_datetime(df.dept,errors='ignore') # 转换失败的保留原数据

0    部门1
1    部门1
2    部门1
3    部门1
4    部门1
5    部门2
6    部门2
7    部门2
8    部门2
9    部门2
Name: dept, dtype: object

In [8]:
pd.to_datetime(df.dept,errors='coerce') # 转换失败，强制转换成nat

0   NaT
1   NaT
2   NaT
3   NaT
4   NaT
5   NaT
6   NaT
7   NaT
8   NaT
9   NaT
Name: dept, dtype: datetime64[ns]

In [7]:
pd.to_datetime(df.dept,errors='raise') # 转换失败默认报错

ParserError: Unknown string format: 部门1

In [5]:
pd.to_datetime(df.时间.astype(str)) # 简单的，将转换成str的时间列再转换回时间类型

0   2020-01-01
1   2020-01-02
2   2020-01-03
3   2020-01-04
4   2020-01-05
5   2020-01-06
6   2020-01-07
7   2020-01-08
8   2020-01-09
9   2020-01-10
Name: 时间, dtype: datetime64[ns]