## 89 数据类型转换（五）

### convert_dtypes 将列转换成最可能的类型
参数 infer_objects=True, convert_string=True, convert_integer=True, convert_boolean=True, convert_floating=True
### infer_objects 尝试推断列的最可能的类型

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['时间']=pd.date_range(start='2020-01-01',periods=10,freq='D')
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept 1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)
df.iloc[1,1]=np.nan #  修改成nan

In [2]:
df2 = pd.DataFrame({"A": ["a", 1, 2, 3]})

### 演示数据

In [3]:
df # 随机生成的数据

  dept dept 1 name    销售额         时间
0  部门1   小部门1   曹勇  74927 2020-01-01
1  部门1    NaN  张丽丽  93559 2020-01-02
2  部门1   小部门2  覃红梅  27166 2020-01-03
3  部门1   小部门2   柳波  62734 2020-01-04
4  部门1   小部门2   吕玉  21535 2020-01-05
5  部门2   小部门3   岳磊  98682 2020-01-06
6  部门2   小部门4   史博  89210 2020-01-07
7  部门2   小部门4  周玉梅    484 2020-01-08
8  部门2   小部门4   李宁  18741 2020-01-09
9  部门2   小部门4   祝婷  77837 2020-01-10

In [4]:
df.dtypes

dept              object
dept 1            object
name              object
销售额                int32
时间        datetime64[ns]
dtype: object

In [5]:
df.convert_dtypes() # 转换成可能的类型（更合适精确）

  dept dept 1 name    销售额         时间
0  部门1   小部门1   曹勇  74927 2020-01-01
1  部门1   <NA>  张丽丽  93559 2020-01-02
2  部门1   小部门2  覃红梅  27166 2020-01-03
3  部门1   小部门2   柳波  62734 2020-01-04
4  部门1   小部门2   吕玉  21535 2020-01-05
5  部门2   小部门3   岳磊  98682 2020-01-06
6  部门2   小部门4   史博  89210 2020-01-07
7  部门2   小部门4  周玉梅    484 2020-01-08
8  部门2   小部门4   李宁  18741 2020-01-09
9  部门2   小部门4   祝婷  77837 2020-01-10

In [6]:
df.convert_dtypes().dtypes

dept              string
dept 1            string
name              string
销售额                Int32
时间        datetime64[ns]
dtype: object

In [7]:
df.convert_dtypes(convert_string=False) # 转换成可能的类型（更合适精确）

  dept dept 1 name    销售额         时间
0  部门1   小部门1   曹勇  74927 2020-01-01
1  部门1    NaN  张丽丽  93559 2020-01-02
2  部门1   小部门2  覃红梅  27166 2020-01-03
3  部门1   小部门2   柳波  62734 2020-01-04
4  部门1   小部门2   吕玉  21535 2020-01-05
5  部门2   小部门3   岳磊  98682 2020-01-06
6  部门2   小部门4   史博  89210 2020-01-07
7  部门2   小部门4  周玉梅    484 2020-01-08
8  部门2   小部门4   李宁  18741 2020-01-09
9  部门2   小部门4   祝婷  77837 2020-01-10

In [8]:
df.convert_dtypes(convert_string=False).dtypes # 转换成可能的类型（更合适精确）
# 参数 ，可以指定不转换某些可能的类型，此处不转化可能的string类型。注意，string和pd.NA是pandas中新的特定类型

dept              object
dept 1            object
name              object
销售额                Int32
时间        datetime64[ns]
dtype: object

In [9]:
df2

   A
0  a
1  1
2  2
3  3

In [10]:
df2.dtypes

A    object
dtype: object

In [11]:
df3=df2[1:]

In [12]:
df3

   A
1  1
2  2
3  3

In [13]:
df3.dtypes

A    object
dtype: object

In [14]:
df3.infer_objects().dtypes # 推断可能的类型

A    int64
dtype: object