## 92 第一个或最后一个有效值索引

### first_valid_index 返回第一个非空值的索引
### last_valid_index 返回最后一个非空值的索引
### 这里，有效值就是指 非空（na）元素

In [8]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['时间']=pd.date_range(start='2020-01-01',periods=10,freq='D')
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept 1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)
df.iloc[[0,9],[3]]=np.nan #  修改成nan

### 演示数据

In [9]:
df

  dept dept 1 name      销售额         时间
0  部门1   小部门1   黄华      NaN 2020-01-01
1  部门1   小部门1  周玉英  10120.0 2020-01-02
2  部门1   小部门2  刘玉珍  54946.0 2020-01-03
3  部门1   小部门2   李娟  46189.0 2020-01-04
4  部门1   小部门2  曲桂英  67862.0 2020-01-05
5  部门2   小部门3   郑芳  14193.0 2020-01-06
6  部门2   小部门4  王淑英  93215.0 2020-01-07
7  部门2   小部门4   郭丽  77822.0 2020-01-08
8  部门2   小部门4   傅辉  27265.0 2020-01-09
9  部门2   小部门4   罗琳      NaN 2020-01-10

In [18]:
df.销售额.last_valid_index() # 倒数第二个元素才是非空，返回索引8
# 两者用法类似，不再重复举例

8

In [17]:
df.销售额[df.销售额.last_valid_index()]  # 获取到最后一个非空元素

27265.0

In [16]:
df.销售额[df.销售额.first_valid_index()]  # 获取到第一个非空元素

10120.0

In [15]:
df.iloc[df.销售额.first_valid_index(),:] # 获取到这一行

dept                      部门1
dept 1                   小部门1
name                      周玉英
销售额                   10120.0
时间        2020-01-02 00:00:00
Name: 1, dtype: object

In [13]:
df.销售额.first_valid_index() # 第二个元素才是非空，返回索引1

1

In [12]:
df.first_valid_index()  # 第一行非空

0