##  94 pandas分组聚合统计（十一）

### 分组聚合统计
#### ngroup  给每组标数字，从从开始
参数 ascending=True
### nth 找出每组中的第nth行
参数 n, dropna={‘any’, ‘all’, None}, default None

In [33]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])
df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['奖金']=np.random.randint(100,100000,size=(10, 1))
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)
df.iloc[0,2]=np.nan # 修改一下

In [34]:
df # 随机生成的数据

  dept dept1 name    销售额     奖金
0  部门1  小部门1  NaN  68079  79509
1  部门1  小部门1   陈瑞  97371  86469
2  部门1  小部门2   张萍  43498  96583
3  部门1  小部门2  刘桂芝  81560  19415
4  部门1  小部门2  刘丽娟  19386  60902
5  部门2  小部门3  印海燕   2461   6254
6  部门2  小部门4   陈雷  13515  15401
7  部门2  小部门4   周兵  73044  18583
8  部门2  小部门4  杨秀芳  88959   3466
9  部门2  小部门4  金丽娟  85271  76301

In [40]:
df.groupby(by=['dept','dept1']).nth([0,2]) # 每组第0,2个

           name    销售额     奖金
dept dept1
部门1  小部门1   NaN  68079  79509
     小部门2    张萍  43498  96583
     小部门2   刘丽娟  19386  60902
部门2  小部门3   印海燕   2461   6254
     小部门4    陈雷  13515  15401
     小部门4   杨秀芳  88959   3466

In [39]:
df.groupby(by=['dept','dept1']).nth([0,1]) # 每组前两个

           name    销售额     奖金
dept dept1
部门1  小部门1   NaN  68079  79509
     小部门1    陈瑞  97371  86469
     小部门2    张萍  43498  96583
     小部门2   刘桂芝  81560  19415
部门2  小部门3   印海燕   2461   6254
     小部门4    陈雷  13515  15401
     小部门4    周兵  73044  18583

In [47]:
df.groupby(by=['dept','dept1']).nth(0,dropna='any') # 每组第一个。对照dropna 参数带来的区别

           name    销售额     奖金
dept dept1
部门1  小部门1    陈瑞  97371  86469
     小部门2    张萍  43498  96583
部门2  小部门3   印海燕   2461   6254
     小部门4    陈雷  13515  15401

In [46]:
df.groupby(by=['dept','dept1']).nth(0,dropna='all') # 每组第一个

           name    销售额     奖金
dept dept1
部门1  小部门1   NaN  68079  79509
     小部门2    张萍  43498  96583
部门2  小部门3   印海燕   2461   6254
     小部门4    陈雷  13515  15401

In [42]:
df.groupby(by=['dept','dept1']).nth(0,dropna=None) # 每组第一个

           name    销售额     奖金
dept dept1
部门1  小部门1   NaN  68079  79509
     小部门2    张萍  43498  96583
部门2  小部门3   印海燕   2461   6254
     小部门4    陈雷  13515  15401

In [35]:
df.groupby(by=['dept','dept1']).groups # 打出每个组所拥有的行

{('部门1', '小部门1'): [0, 1], ('部门1', '小部门2'): [2, 3, 4], ('部门2', '小部门3'): [5], ('部门2', '小部门4'): [6, 7, 8, 9]}

In [36]:
df.groupby(by=['dept','dept1']).ngroup() # 自然数排序，给每行元素标记组

0    0
1    0
2    1
3    1
4    1
5    2
6    3
7    3
8    3
9    3
dtype: int64

In [37]:
df.groupby(by=['dept','dept1']).ngroup(ascending=False) # 自然数排序，给每行元素标记组。降序

0    3
1    3
2    2
3    2
4    2
5    1
6    0
7    0
8    0
9    0
dtype: int64