## 97 变化百分比同环比

### pct_change 计算序列数据变化的百分比
参数 periods=1, fill_method='pad', limit=None, freq=None, **kwargs

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=pd.date_range(start='2020-01-01',periods=15,freq='MS'),columns=['时间'])

df['销售额']=np.random.randint(100,100000,size=(15, 1))
# df['时间']=pd.date_range(start='2020-01-01',periods=10,freq='M')
df.insert(0,'dept','部门1')
# df.insert(1,'dept 1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)
df.iloc[1:3,2]=np.nan #  修改成nan

### 演示数据

In [17]:
df # 随机生成的数据

   dept       时间      销售额    change
0   部门1  2020-01  18904.0       NaN
1   部门1  2020-02      NaN  0.000000
2   部门1  2020-03      NaN  0.000000
3   部门1  2020-04  57649.0  2.049566
4   部门1  2020-05  23428.0 -0.593610
5   部门1  2020-06  58444.0  1.494622
6   部门1  2020-07  50283.0 -0.139638
7   部门1  2020-08  66858.0  0.329634
8   部门1  2020-09  18483.0 -0.723548
9   部门1  2020-10  29962.0  0.621057
10  部门1  2020-11  95654.0  2.192511
11  部门1  2020-12  20452.0 -0.786188
12  部门1  2021-01  70287.0  2.436681
13  部门1  2021-02  43920.0 -0.375133
14  部门1  2021-03  67967.0  0.547518

In [3]:
df.时间=df.时间.dt.to_period('M')

In [20]:
df.销售额.pct_change(periods=3) # 同比,自定义间隔周期数

0          NaN
1          NaN
2          NaN
3     2.049566
4     0.239314
5     2.091621
6    -0.127773
7     1.853765
8    -0.683749
9    -0.404133
10    0.430704
11    0.106530
12    1.345871
13   -0.540845
14    2.323245
Name: 销售额, dtype: float64

In [16]:
df['change']=df.销售额.pct_change()

In [13]:
df.销售额.pad(limit=1)

0     18904.0
1     18904.0
2         NaN
3     57649.0
4     23428.0
5     58444.0
6     50283.0
7     66858.0
8     18483.0
9     29962.0
10    95654.0
11    20452.0
12    70287.0
13    43920.0
14    67967.0
Name: 销售额, dtype: float64

In [12]:
df.销售额.pct_change(periods=1,limit=1) # 同比

0          NaN
1     0.000000
2          NaN
3          NaN
4    -0.593610
5     1.494622
6    -0.139638
7     0.329634
8    -0.723548
9     0.621057
10    2.192511
11   -0.786188
12    2.436681
13   -0.375133
14    0.547518
Name: 销售额, dtype: float64

In [11]:
df.销售额.pct_change(periods=12) # 同比

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12    2.718102
13    1.323318
14    2.595377
Name: 销售额, dtype: float64

In [5]:
df.销售额.pct_change() # 环比

0          NaN
1     0.000000
2     0.000000
3     2.049566
4    -0.593610
5     1.494622
6    -0.139638
7     0.329634
8    -0.723548
9     0.621057
10    2.192511
11   -0.786188
12    2.436681
13   -0.375133
14    0.547518
Name: 销售额, dtype: float64

In [8]:
df.销售额.pad()

0     18904.0
1     18904.0
2     18904.0
3     57649.0
4     23428.0
5     58444.0
6     50283.0
7     66858.0
8     18483.0
9     29962.0
10    95654.0
11    20452.0
12    70287.0
13    43920.0
14    67967.0
Name: 销售额, dtype: float64

In [9]:
df.销售额.pad().pct_change()

0          NaN
1     0.000000
2     0.000000
3     2.049566
4    -0.593610
5     1.494622
6    -0.139638
7     0.329634
8    -0.723548
9     0.621057
10    2.192511
11   -0.786188
12    2.436681
13   -0.375133
14    0.547518
Name: 销售额, dtype: float64