## 99 方差和标准差

### var 计算无偏方差
参数 axis=None, skipna=None, level=None, ddof=1, numeric_only=None, **kwargs
### std 计算样本标准偏差
参数 axis=None, skipna=None, level=None, ddof=1, numeric_only=None, **kwargs

In [1]:
import numpy  as np
import pandas as pd

df=pd.DataFrame(data=np.random.randint(100,100000,size=(10, 1)),columns=['a'])
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)
df['b']=np.random.randint(100,100000,size=(10, 1))
df.iloc[1,2:4]=np.nan

### 演示数据

In [2]:
df # 随机生成的数据

  dept dept1        a        b
0  部门1  小部门1  21183.0    808.0
1  部门1  小部门1      NaN      NaN
2  部门1  小部门2  53844.0  89822.0
3  部门1  小部门2  63113.0  57270.0
4  部门1  小部门2  10410.0  47414.0
5  部门2  小部门3  79632.0  11410.0
6  部门2  小部门4  52481.0   2458.0
7  部门2  小部门4  45570.0  82165.0
8  部门2  小部门4  33602.0  11648.0
9  部门2  小部门4  37682.0   7365.0

In [13]:
df.std() # 标准偏差 示例。 参数 用法与var 一致。不再重复演示

a    21221.823108
b    35304.441796
dtype: float64

In [12]:
df.set_index(['dept','dept1']).std(level=1,numeric_only=1) # numeric_only 是否只计算数字类型列/行 # 标准偏差

                  a             b
dept1
小部门1            NaN           NaN
小部门2   28136.669212  22193.136717
小部门3            NaN           NaN
小部门4    8392.898442  37691.480001

In [11]:
df.set_index(['dept','dept1']).var(level=1,numeric_only=1) # numeric_only 是否只计算数字类型列/行

                  a             b
dept1
小部门1            NaN           NaN
小部门2   7.916722e+08  4.925353e+08
小部门3            NaN           NaN
小部门4   7.044074e+07  1.420648e+09

In [10]:
df.set_index(['dept','dept1']).var(level=1,ddof=1) # ddof delta 自由度

                  a             b
dept1
小部门1            NaN           NaN
小部门2   7.916722e+08  4.925353e+08
小部门3            NaN           NaN
小部门4   7.044074e+07  1.420648e+09

In [8]:
df.set_index(['dept','dept1']).var(level=1)

                  a             b
dept1
小部门1            NaN           NaN
小部门2   7.916722e+08  4.925353e+08
小部门3            NaN           NaN
小部门4   7.044074e+07  1.420648e+09

In [9]:
df.set_index(['dept','dept1']).var(level=0) # level 指定 多索引的层级

                a             b
dept
部门1   640913023.0  1.353232e+09
部门2   331062448.8  1.107530e+09

In [7]:
df.set_index(['dept','dept1']).var() #

a    4.503658e+08
b    1.246404e+09
dtype: float64

In [6]:
df.var(skipna=False) # skipna  是否排除nan

a   NaN
b   NaN
dtype: float64

In [3]:
df.var() # 列数据的 方差

a    4.503658e+08
b    1.246404e+09
dtype: float64

In [5]:
df.var(axis=1) # 行数据的 方差

0    2.075703e+08
1             NaN
2    6.472082e+08
3    1.707032e+07
4    6.846480e+08
5    2.327121e+09
6    1.251150e+09
7    6.695970e+08
8    2.409891e+08
9    4.595602e+08
dtype: float64