## pandas字符串处理(六)

### 字符串其它操作
#### extract extractall rpartition rfind rsplit ljust rjust match

In [69]:
from faker import Faker
fake = Faker('zh_CN')

In [70]:
import pandas as pd
df=pd.DataFrame(data=[ [fake.name(),fake.company(),fake.numerify(),'空格 空格2 空格3'] for x in range(10) ],columns=['user','company','number','空格列'])

In [71]:
df #生成的测试数据来演示

  user      company number         空格列
0   谭彬     快讯网络有限公司    678  空格 空格2 空格3
1   程荣    飞利信网络有限公司    940  空格 空格2 空格3
2   程瑜   合联电子信息有限公司    517  空格 空格2 空格3
3  王玉华  襄樊地球村科技有限公司    061  空格 空格2 空格3
4  胡春梅   昂歌信息科技有限公司    121  空格 空格2 空格3
5   黄晶  襄樊地球村科技有限公司    362  空格 空格2 空格3
6   阎璐   图龙信息传媒有限公司    554  空格 空格2 空格3
7   王峰   商软冠联传媒有限公司    671  空格 空格2 空格3
8  叶兰英     国讯信息有限公司    200  空格 空格2 空格3
9   李建   华远软件网络有限公司    483  空格 空格2 空格3

In [73]:
df.company.str.extract(r'([网络科技])')
# 在元素字符串中找到与给定字符串中匹配的第一个字符，并将该字符返回
# 例如，在第一行元素中，依次查找是否包含“网络科技”中的某个字，找到“网”，将其返回，不再进行后续查找

     0
0    网
1    网
2  NaN
3    科
4    科
5    科
6  NaN
7  NaN
8  NaN
9    网

In [74]:
df.company.str.extract(r'(?P<结果>[网络科技])')
# 在元素字符串中找到与给定字符串中匹配的第一个字符，并将该字符返回
# 例如，在第一行元素中，依次查找是否包含“网络科技”中的某个字，找到“网”，将其返回，不再进行后续查找
# 指定返回结果的列名

    结果
0    网
1    网
2  NaN
3    科
4    科
5    科
6  NaN
7  NaN
8  NaN
9    网

In [75]:
df.company.str.extractall(r'(?P<结果>[网络科技])')
# 在元素字符串中找到与给定字符串中匹配的第一个字符，并将该字符返回
# 例如，在第一行元素中，依次查找是否包含“网络科技”中的某些字，找到“网”，将其返回，继续进行后续查找，“络”也返回，后面的均不匹配
# 指定返回结果的列名

        结果
  match
0 0      网
  1      络
1 0      网
  1      络
3 0      科
  1      技
4 0      科
  1      技
5 0      科
  1      技
9 0      网
  1      络

In [77]:
df.空格列.str.partition() # 分割开，类似split，但是包含分隔符。与partition的区别是 从右侧开始向左

    0  1        2
0  空格     空格2 空格3
1  空格     空格2 空格3
2  空格     空格2 空格3
3  空格     空格2 空格3
4  空格     空格2 空格3
5  空格     空格2 空格3
6  空格     空格2 空格3
7  空格     空格2 空格3
8  空格     空格2 空格3
9  空格     空格2 空格3

In [88]:
df.空格列.str.rsplit(" ") # 分割开，从右侧开始向左

0    [空格, 空格2, 空格3]
1    [空格, 空格2, 空格3]
2    [空格, 空格2, 空格3]
3    [空格, 空格2, 空格3]
4    [空格, 空格2, 空格3]
5    [空格, 空格2, 空格3]
6    [空格, 空格2, 空格3]
7    [空格, 空格2, 空格3]
8    [空格, 空格2, 空格3]
9    [空格, 空格2, 空格3]
Name: 空格列, dtype: object

In [81]:
df.company.str.rfind("科技") #从右侧查找指定字符串并返回位置，与find方向相反

0   -1
1   -1
2   -1
3    5
4    4
5    5
6   -1
7   -1
8   -1
9   -1
Name: company, dtype: int64

In [82]:
df.user.str.ljust(3,'*') # 对齐字符串元素，右侧填充指定字符

0    谭彬*
1    程荣*
2    程瑜*
3    王玉华
4    胡春梅
5    黄晶*
6    阎璐*
7    王峰*
8    叶兰英
9    李建*
Name: user, dtype: object

In [83]:
df.user.str.rjust(3,'*') # 对齐字符串元素，左侧填充指定字符

0    *谭彬
1    *程荣
2    *程瑜
3    王玉华
4    胡春梅
5    *黄晶
6    *阎璐
7    *王峰
8    叶兰英
9    *李建
Name: user, dtype: object

In [84]:
df.user.str.match(r'([程])') # 判断是否以某个正则表达式形式的字符串开始

0    False
1     True
2     True
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: user, dtype: bool