## pandas字符串处理(七)

### 字符串其它操作（类型判断）
#### isdigit isalpha isnumeric isalnum isdecimal isspace isupper islower istitle

In [75]:
import pandas as pd
df=pd.DataFrame(data=[ 'one', 'ONE','One', '1', '',1.5,'1.2','3,000','4 2',' ' ,'³', '⅕'],columns=['data'])

In [76]:
df

     data
0     one
1     ONE
2     One
3       1
4
5     1.5
6     1.2
7   3,000
8     4 2
9
10      ³
11      ⅕

In [77]:
df.data.str.isdigit() # 判断是否是数字

0     False
1     False
2     False
3      True
4     False
5       NaN
6     False
7     False
8     False
9     False
10     True
11    False
Name: data, dtype: object

In [78]:
df.data.str.isalpha() # 判断是否是字母

0      True
1      True
2      True
3     False
4     False
5       NaN
6     False
7     False
8     False
9     False
10    False
11    False
Name: data, dtype: object

In [79]:
df.data.str.isnumeric() # 判断是否是数字，注意与 isdigit的区别，isnumeric可以包含一些额外的特定字符

0     False
1     False
2     False
3      True
4     False
5       NaN
6     False
7     False
8     False
9     False
10     True
11     True
Name: data, dtype: object

In [80]:
df.data.str.isalnum() # 判断是否是字母或数字，alpha和numeric 的结合

0      True
1      True
2      True
3      True
4     False
5       NaN
6     False
7     False
8     False
9     False
10     True
11     True
Name: data, dtype: object

In [82]:
df.data.str.isdecimal() # 判断是否是10进制数字

0     False
1     False
2     False
3      True
4     False
5       NaN
6     False
7     False
8     False
9     False
10    False
11    False
Name: data, dtype: object

In [83]:
df.data.str.isspace() # 判断是否是空格

0     False
1     False
2     False
3     False
4     False
5       NaN
6     False
7     False
8     False
9      True
10    False
11    False
Name: data, dtype: object

In [84]:
df.data.str.islower() # 判断是否是小写字母

0      True
1     False
2     False
3     False
4     False
5       NaN
6     False
7     False
8     False
9     False
10    False
11    False
Name: data, dtype: object

In [85]:
df.data.str.isupper() # 判断是否是大写字母，注意空的处理

0     False
1      True
2     False
3     False
4     False
5       NaN
6     False
7     False
8     False
9     False
10    False
11    False
Name: data, dtype: object

In [87]:
df.data.str.istitle() # 判断是否是符合title样式的字母

0     False
1     False
2      True
3     False
4     False
5       NaN
6     False
7     False
8     False
9     False
10    False
11    False
Name: data, dtype: object