## pandas时间处理（一）

### 比较常用的时间处理函数。
#### 字符串转时间、year 、month、day、hour、minute、second、quarter、dayofweek、dayofyear、date、time

In [10]:
from faker import Faker
fake = Faker('zh_CN')

In [11]:
import pandas as pd
df=pd.DataFrame(data=[ [fake.date()+' '+fake.time()] for x in range(10) ],columns=['time'])

In [12]:
df

                  time
0  1987-02-11 21:37:39
1  2000-07-20 15:40:50
2  1999-08-16 17:13:15
3  2008-11-12 09:51:38
4  1972-09-10 22:17:21
5  1971-11-08 15:52:11
6  1977-12-25 21:37:30
7  1976-02-01 15:07:33
8  2015-08-10 09:21:32
9  2018-06-04 07:38:49

In [13]:
df.time=df.time.astype('datetime64') # 将时间字符串转换成时间格式

In [14]:
df.time.dt.dayofyear # 获取时间是一年的第几天

0     42
1    202
2    228
3    317
4    254
5    312
6    359
7     32
8    222
9    155
Name: time, dtype: int64

In [15]:
df.time.dt.dayofweek # 获取时间属于一周的第几天，注意范围0-6

0    2
1    3
2    0
3    2
4    6
5    0
6    6
7    6
8    0
9    0
Name: time, dtype: int64

In [16]:
df.time.dt.quarter # 获取时间属于哪个季度

0    1
1    3
2    3
3    4
4    3
5    4
6    4
7    1
8    3
9    2
Name: time, dtype: int64

In [17]:
df.time.dt.time # 获取时间部分

0    21:37:39
1    15:40:50
2    17:13:15
3    09:51:38
4    22:17:21
5    15:52:11
6    21:37:30
7    15:07:33
8    09:21:32
9    07:38:49
Name: time, dtype: object

In [18]:
df.time.dt.date # 获取日期部分

0    1987-02-11
1    2000-07-20
2    1999-08-16
3    2008-11-12
4    1972-09-10
5    1971-11-08
6    1977-12-25
7    1976-02-01
8    2015-08-10
9    2018-06-04
Name: time, dtype: object

In [19]:
df.time.dt.second # 获取秒部分

0    39
1    50
2    15
3    38
4    21
5    11
6    30
7    33
8    32
9    49
Name: time, dtype: int64

In [20]:
df.time.dt.minute # 获取分钟部分

0    37
1    40
2    13
3    51
4    17
5    52
6    37
7     7
8    21
9    38
Name: time, dtype: int64

In [21]:
df.time.dt.hour # 获取小时部分

0    21
1    15
2    17
3     9
4    22
5    15
6    21
7    15
8     9
9     7
Name: time, dtype: int64

In [22]:
df.time.dt.day # 获取日部分

0    11
1    20
2    16
3    12
4    10
5     8
6    25
7     1
8    10
9     4
Name: time, dtype: int64

In [23]:
df.time.dt.month # 获取月部分

0     2
1     7
2     8
3    11
4     9
5    11
6    12
7     2
8     8
9     6
Name: time, dtype: int64

In [24]:
df.time.dt.year # 获取年部分

0    1987
1    2000
2    1999
3    2008
4    1972
5    1971
6    1977
7    1976
8    2015
9    2018
Name: time, dtype: int64