## 100 平均绝对偏差和标准误差

### mad 计算平均绝对偏差
参数 axis=None, skipna=None, level=None
### sem 计算平均值的无偏标准误差
参数 axis=None, skipna=None, level=None, ddof=1, numeric_only=None, **kwargs

In [1]:
import numpy  as np
import pandas as pd

df=pd.DataFrame(data=np.random.randint(100,100000,size=(10, 1)),columns=['a'])
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)
df['b']=np.random.randint(100,100000,size=(10, 1))
df.iloc[1,2:4]=np.nan

### 演示数据

In [2]:
df # 随机生成的数据

  dept dept1        a        b
0  部门1  小部门1  65165.0  55458.0
1  部门1  小部门1      NaN      NaN
2  部门1  小部门2  77684.0  11183.0
3  部门1  小部门2  49164.0  11638.0
4  部门1  小部门2  21033.0  87951.0
5  部门2  小部门3  16830.0  64463.0
6  部门2  小部门4  88319.0  69324.0
7  部门2  小部门4  64278.0  86251.0
8  部门2  小部门4  45943.0  77804.0
9  部门2  小部门4  33883.0  14310.0

In [20]:
df.sem(numeric_only=True) # numeric_only 是否仅仅计算 数字类型列/行

a     8222.625191
b    10738.388656
dtype: float64

In [11]:
df.sem(ddof=1) # ddof delta 自由度

a     8222.625191
b    10738.388656
dtype: float64

In [10]:
df.sem() # 平均值的无偏标准误差

a     8222.625191
b    10738.388656
dtype: float64

In [9]:
df.set_index(['dept','dept1']).mad(level=1) # level 设置多索引的层级

                  a          b
dept1
小部门1       0.000000      0.000
小部门2   18926.888889  34018.000
小部门3       0.000000      0.000
小部门4   18192.750000  23806.125

In [7]:
df.set_index(['dept','dept1']).mad(level=0) # level 设置多索引的层级

             a         b
dept
部门1   18163.00  30147.00
部门2   21158.32  19248.16

In [6]:
df.mad(skipna=0) # skipna 是否排除nan

a   NaN
b   NaN
dtype: float64

In [4]:
df.mad(axis=1) # 行数据的平均绝对偏差

0     4853.5
1        NaN
2    33250.5
3    18763.0
4    33459.0
5    23816.5
6     9497.5
7    10986.5
8    15930.5
9     9786.5
dtype: float64

In [3]:
df.mad() # 列数据的平均绝对偏差

a    19995.506173
b    27184.370370
dtype: float64