## 101 偏度和峰度

### skew 计算无偏偏度
参数 axis=None, skipna=None, level=None, numeric_only=None, **kwargs
### kurtosis 计算无偏峰度
参数 axis=None, skipna=None, level=None, numeric_only=None, **kwargs

In [1]:
import numpy  as np
import pandas as pd

df=pd.DataFrame(data=np.random.randint(100,100000,size=(10, 1)),columns=['a'])
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)
df['b']=np.random.randint(100,100000,size=(10, 1))
df.iloc[1,2:4]=np.nan

### 演示数据

In [2]:
df # 随机生成的数据

  dept dept1        a        b
0  部门1  小部门1  79761.0   9406.0
1  部门1  小部门1      NaN      NaN
2  部门1  小部门2    559.0  23810.0
3  部门1  小部门2  71385.0  80978.0
4  部门1  小部门2  75712.0  13345.0
5  部门2  小部门3  33713.0   7723.0
6  部门2  小部门4  83724.0  84127.0
7  部门2  小部门4  10333.0  96814.0
8  部门2  小部门4  56687.0  22638.0
9  部门2  小部门4  49080.0  96696.0

In [16]:
df.kurt() # 峰度。等效。 参数的含义用法 与 skew 的一样，不再重复演示

a   -0.939576
b   -2.328386
dtype: float64

In [15]:
df.kurtosis() # 峰度

a   -0.939576
b   -2.328386
dtype: float64

In [14]:
df.skew(numeric_only=False)# numeric_only 是否仅仅计算数字类型的列/行

TypeError: could not convert string to float: '部门1'

In [12]:
df.set_index(['dept','dept1']).skew(level='dept1')# level 索引层级

              a         b
dept1
小部门1        NaN       NaN
小部门2  -1.711583  1.572427
小部门3        NaN       NaN
小部门4  -0.560113 -1.839357

In [11]:
df.set_index(['dept','dept1']).skew(level=0)# level 索引层级

             a         b
dept
部门1  -1.950796  1.808455
部门2   0.029023 -0.613708

In [10]:
df.skew(skipna=0)# skipna 是否排除nan

a   NaN
b   NaN
dtype: float64

In [8]:
df.skew(axis=1)# axis 行方向

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
dtype: float64

In [7]:
df.skew()# 计算偏度

a   -0.694884
b    0.267048
dtype: float64