## 104 累计最大最小乘积求和

### cummax 累计最大 cummin 累计最小 cumprod 累计乘积 cumsum 累计求和
参数一致 axis=None, skipna=True, *args, **kwargs

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['时间']=pd.date_range(start='2020-01-01',periods=10,freq='D')
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept 1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)
df.iloc[1,1]=np.nan #  修改成nan

### 演示数据

In [7]:
df # 随机生成的数据

  dept dept 1 name      销售额         时间
0  部门1   小部门1   孙倩  68823.0 2020-01-01
1  部门1    NaN  刘秀梅      NaN 2020-01-02
2  部门1   小部门2  张秀云  83045.0 2020-01-03
3  部门1   小部门2   楼想  87794.0 2020-01-04
4  部门1   小部门2   项辉  16677.0 2020-01-05
5  部门2   小部门3   马佳  15866.0 2020-01-06
6  部门2   小部门4  郭桂珍  55156.0 2020-01-07
7  部门2   小部门4  郑淑英   9409.0 2020-01-08
8  部门2   小部门4   杨帆  38322.0 2020-01-09
9  部门2   小部门4   万瑜  56410.0 2020-01-10

In [6]:
df.iloc[1,3]=np.nan # 修改一个为nan

In [12]:
df.销售额.cumsum() # 累计求和 。这几个参数使用方法一样，就不再重复演示

0     68823.0
1         NaN
2    151868.0
3    239662.0
4    256339.0
5    272205.0
6    327361.0
7    336770.0
8    375092.0
9    431502.0
Name: 销售额, dtype: float64

In [11]:
df.销售额.cumprod() # 累计乘积

0    6.882300e+04
1             NaN
2    5.715406e+09
3    5.017784e+14
4    8.368158e+18
5    1.327692e+23
6    7.323017e+27
7    6.890227e+31
8    2.640473e+36
9    1.489491e+41
Name: 销售额, dtype: float64

In [10]:
df.销售额.cummin() # 累计最小

0    68823.0
1        NaN
2    68823.0
3    68823.0
4    16677.0
5    15866.0
6    15866.0
7     9409.0
8     9409.0
9     9409.0
Name: 销售额, dtype: float64

In [9]:
df.销售额.cumsum(skipna=False) # 累计求和。skipna 是否排除nan

0    68823.0
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
Name: 销售额, dtype: float64

In [8]:
df.销售额.cumsum() # 累计求和

0     68823.0
1         NaN
2    151868.0
3    239662.0
4    256339.0
5    272205.0
6    327361.0
7    336770.0
8    375092.0
9    431502.0
Name: 销售额, dtype: float64