## 107 几个比较大小的函数

### eq, ne, le, lt, ge, gt 比较大小 作用分别等同于 ==, !=, <=, <, >=, >
### 区别在于可以指定轴方向和层级
参数 other, axis='columns', level=None

In [1]:
import numpy  as np
import pandas as pd

df = pd.DataFrame({'cost': [250, 150, 100],
                   'revenue': [100, 250, 300]},
                  index=['A', 'B', 'C'])
df_multindex = pd.DataFrame({'cost': [250, 150, 100, 150, 300, 220],
                             'revenue': [100, 250, 300, 200, 175, 225]},
                            index=[['Q1', 'Q1', 'Q1', 'Q2', 'Q2', 'Q2'],
                                   ['A', 'B', 'C', 'A', 'B', 'C']])

### 演示数据

In [2]:
df

   cost  revenue
A   250      100
B   150      250
C   100      300

In [18]:
df.eq(df) # 其它五个用法类似。，仅仅含义不同。不在重复演示

   cost  revenue
A  True     True
B  True     True
C  True     True

In [9]:
df.gt(other=df) # other 可以是df作为数据源

    cost  revenue
A  False    False
B  False    False
C  False    False

In [8]:
df.gt(other=100,axis=1) # 表格中每个元素都和100比较，返回结果.axis指定轴方向

    cost  revenue
A   True    False
B   True     True
C  False     True

In [6]:
df.gt(other=100) # 表格中每个元素都和100比较，返回结果

    cost  revenue
A   True    False
B   True     True
C  False     True

In [5]:
df.cost>100 # 传统逻辑符号>

A     True
B     True
C    False
Name: cost, dtype: bool

In [4]:
df.cost.gt(100) # 函数gt 。等效

A     True
B     True
C    False
Name: cost, dtype: bool

In [3]:
df_multindex

      cost  revenue
Q1 A   250      100
   B   150      250
   C   100      300
Q2 A   150      200
   B   300      175
   C   220      225

In [15]:
df.gt(df_multindex,level=1)

       cost  revenue
Q1 A  False    False
   B  False    False
   C  False    False
Q2 A   True    False
   B  False     True
   C  False     True

In [16]:
df.gt(df_multindex,level=0) # level 按照层级对齐索引比较

       cost  revenue
Q1 A  False    False
   B  False    False
   C  False    False
Q2 A  False    False
   B  False    False
   C  False    False

In [13]:
df_multindex.gt(df,level=1)

       cost  revenue
Q1 A  False    False
   B  False    False
   C  False    False
Q2 A  False     True
   B   True    False
   C   True    False

In [14]:
df_multindex.gt(df,level=0)

       cost  revenue
Q1 A  False    False
   B  False    False
   C  False    False
Q2 A  False    False
   B  False    False
   C  False    False