## 111 take根据位置选择数据

### take ：根据位置选择数据，类似iloc
参数 indices, axis=0, is_copy=None, **kwargs

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['时间']=pd.date_range(start='2020-01-01',periods=10,freq='D')
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept 1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)
df.iloc[1,3]=np.nan #  修改成nan

### 演示数据

In [2]:
df

  dept dept 1 name      销售额         时间
0  部门1   小部门1   许杰   1923.0 2020-01-01
1  部门1   小部门1   黄燕      NaN 2020-01-02
2  部门1   小部门2   刘琳  56269.0 2020-01-03
3  部门1   小部门2  王桂香  21049.0 2020-01-04
4  部门1   小部门2  王桂花  51581.0 2020-01-05
5  部门2   小部门3   周博   3892.0 2020-01-06
6  部门2   小部门4   赵亮  53773.0 2020-01-07
7  部门2   小部门4  王玉英  58444.0 2020-01-08
8  部门2   小部门4   张艳  62996.0 2020-01-09
9  部门2   小部门4   杨瑞  15664.0 2020-01-10

In [ ]:
# is_copy 官方文档表示 该参数已经弃用

In [7]:
df.take(indices=[1,0,-3],axis=1) # axis 指定方向，行或者列

  dept 1 dept name
0   小部门1  部门1   许杰
1   小部门1  部门1   黄燕
2   小部门2  部门1   刘琳
3   小部门2  部门1  王桂香
4   小部门2  部门1  王桂花
5   小部门3  部门2   周博
6   小部门4  部门2   赵亮
7   小部门4  部门2  王玉英
8   小部门4  部门2   张艳
9   小部门4  部门2   杨瑞

In [6]:
df.take(indices=[1,0,-3]) # indices 返回的行的位置，整数，可以多行

  dept dept 1 name      销售额         时间
1  部门1   小部门1   黄燕      NaN 2020-01-02
0  部门1   小部门1   许杰   1923.0 2020-01-01
7  部门2   小部门4  王玉英  58444.0 2020-01-08

In [8]:
df.set_index('dept').take(indices=[1,0,-3]) # indices 返回的行的位置，整数，可以多行

     dept 1 name      销售额         时间
dept
部门1    小部门1   黄燕      NaN 2020-01-02
部门1    小部门1   许杰   1923.0 2020-01-01
部门2    小部门4  王玉英  58444.0 2020-01-08