## 113 时间查询between_time

### between_time ：返回位于一天的特定时间之间的值
参数 start_time, end_time, include_start=True, include_end=True, axis=None
### indexer_between_time：返回位于一天的特定时间之间的值的索引位置
参数 start_time, end_time, include_start=True, include_end=True

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['时间']=pd.date_range(start='2020-01-01',periods=10,freq='3H')
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept 1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)
df.iloc[1,3]=np.nan #  修改成nan

### 演示数据

In [2]:
df

  dept dept 1 name      销售额                  时间
0  部门1   小部门1   李超   4852.0 2020-01-01 00:00:00
1  部门1   小部门1   郑瑞      NaN 2020-01-01 03:00:00
2  部门1   小部门2   白坤  35836.0 2020-01-01 06:00:00
3  部门1   小部门2  倪建平  64972.0 2020-01-01 09:00:00
4  部门1   小部门2   秦超  74589.0 2020-01-01 12:00:00
5  部门2   小部门3   梁艳  63756.0 2020-01-01 15:00:00
6  部门2   小部门4   吴刚   9702.0 2020-01-01 18:00:00
7  部门2   小部门4   萧建  18982.0 2020-01-01 21:00:00
8  部门2   小部门4  庞秀兰   9327.0 2020-01-02 00:00:00
9  部门2   小部门4  赵建军  96213.0 2020-01-02 03:00:00

In [4]:
df.set_index('时间').between_time(start_time='03:00',end_time='6:00') # 返回介于3点和6点之间的所有值

                    dept dept 1 name      销售额
时间
2020-01-01 03:00:00  部门1   小部门1   郑瑞      NaN
2020-01-01 06:00:00  部门1   小部门2   白坤  35836.0
2020-01-02 03:00:00  部门2   小部门4  赵建军  96213.0

In [5]:
df.set_index('时间').between_time(start_time='03:00',end_time='6:00',include_end=False) # 返回介于3点和6点之间的所有值, include_end 是否包含结束时间

                    dept dept 1 name      销售额
时间
2020-01-01 03:00:00  部门1   小部门1   郑瑞      NaN
2020-01-02 03:00:00  部门2   小部门4  赵建军  96213.0

In [6]:
df.set_index('时间').between_time(start_time='03:00',end_time='6:00',include_start=False) # 返回介于3点和6点之间的所有值, include_start 是否包含开始时间

                    dept dept 1 name      销售额
时间
2020-01-01 06:00:00  部门1   小部门2   白坤  35836.0

In [8]:
df.set_index('时间').index.indexer_between_time(start_time='03:00',end_time='6:00',include_start=False) # 返回介于3点和6点之间的所有值的索引位置，不包含开始时间

array([2])

In [9]:
df.set_index('时间').index.indexer_between_time(start_time='03:00',end_time='6:00') # 返回介于3点和6点之间的所有值的索引位置

array([1, 2, 9])