## 115 filter根据行列标签索引选择子集

### filter ：根据行列标签索引选择子集数据
参数 items=None, like=None, regex=None, axis=None

In [1]:
import numpy  as np
import pandas as pd
df = pd.DataFrame(np.array(([1, 2, 3], [4, 5, 6])),
                  index=['mouse', 'rabbit'],
                  columns=['one', 'two', 'three'])

### 演示数据

In [2]:
df

        one  two  three
mouse     1    2      3
rabbit    4    5      6

In [16]:
df.filter(regex='b',axis=0) # regex 根据正则表达式筛选符合条件的索引或标签的数据

        one  two  three
rabbit    4    5      6

In [3]:
df.filter(items=['one','three'])

        one  three
mouse     1      3
rabbit    4      6

In [13]:
df.filter(like='bb',axis=0) # axis 选择是索引还是 列名

        one  two  three
rabbit    4    5      6

In [12]:
df.filter(like='ne',axis=1) # like 将包含 ne 的 索引或者 列名筛选出来

        one
mouse     1
rabbit    4

In [8]:
df.filter(items=['one','three'],axis=0) # items 选择筛选出来那些索引 或者列名

Empty DataFrame
Columns: [one, two, three]
Index: []

In [6]:
df.filter(items=['one','three'],axis=1) # items 选择筛选出来那些索引 或者列名

        one  three
mouse     1      3
rabbit    4      6