## pandas时间处理（三）

### 比较常用的时间处理函数。
#### weekofyear、to_period 、to_pydatetime、round、floor、ceil、month_name、day_name

In [20]:
import pandas as pd
df=pd.DataFrame(data=[ '2020-01-01','2020-01-02','2020-12-31','2020-02-01 10:10:00','2020-02-01 09:50:00','2020-02-01 19:50:00','2021-03-01 00:00:00'] ,columns=['time'])

In [21]:
df

                  time
0           2020-01-01
1           2020-01-02
2           2020-12-31
3  2020-02-01 10:10:00
4  2020-02-01 09:50:00
5  2020-02-01 19:50:00
6  2021-03-01 00:00:00

In [22]:
df.time=df.time.astype('datetime64') # 将时间字符串转换成时间格式

In [31]:
df.time.dt.month_name() # 获取时间对应的月份名字

0     January
1     January
2    December
3    February
4    February
5    February
6       March
Name: time, dtype: object

In [32]:
df.time.dt.day_name() # 获取时间对应的周几的名字

0    Wednesday
1     Thursday
2     Thursday
3     Saturday
4     Saturday
5     Saturday
6       Monday
Name: time, dtype: object

In [29]:
df.time.dt.ceil('H') # 类似数学中数字的按某位进行向上取整。参数可调

0   2020-01-01 00:00:00
1   2020-01-02 00:00:00
2   2020-12-31 00:00:00
3   2020-02-01 11:00:00
4   2020-02-01 10:00:00
5   2020-02-01 20:00:00
6   2021-03-01 00:00:00
Name: time, dtype: datetime64[ns]

In [28]:
df.time.dt.floor('H') # 类似数学中数字的按某位进行向下取整。参数可调

0   2020-01-01 00:00:00
1   2020-01-02 00:00:00
2   2020-12-31 00:00:00
3   2020-02-01 10:00:00
4   2020-02-01 09:00:00
5   2020-02-01 19:00:00
6   2021-03-01 00:00:00
Name: time, dtype: datetime64[ns]

In [27]:
df.time.dt.round('H') # 类似数学中数字的按某位进行四舍五入，这里对小时进行四舍五入。比如，10：10 回四舍五入到10：00，而19：50会四舍五入到20：00。可以调整参数

0   2020-01-01 00:00:00
1   2020-01-02 00:00:00
2   2020-12-31 00:00:00
3   2020-02-01 10:00:00
4   2020-02-01 10:00:00
5   2020-02-01 20:00:00
6   2021-03-01 00:00:00
Name: time, dtype: datetime64[ns]

In [24]:
df.time.dt.isocalendar().week # 获取日期属于所在年第几周，不推荐的用法;isocalendar().week 是推荐未来的用法

0     1
1     1
2    53
3     5
4     5
5     5
6     9
Name: week, dtype: UInt32

In [25]:
df.time.dt.to_period('M') # 获取指定频率周期的时间。这里是月份，可以选择其它

0    2020-01
1    2020-01
2    2020-12
3    2020-02
4    2020-02
5    2020-02
6    2021-03
Name: time, dtype: period[M]

In [26]:
df.time.dt.to_pydatetime() # 转换成本机python时间对象

array([datetime.datetime(2020, 1, 1, 0, 0),
       datetime.datetime(2020, 1, 2, 0, 0),
       datetime.datetime(2020, 12, 31, 0, 0),
       datetime.datetime(2020, 2, 1, 10, 10),
       datetime.datetime(2020, 2, 1, 9, 50),
       datetime.datetime(2020, 2, 1, 19, 50),
       datetime.datetime(2021, 3, 1, 0, 0)], dtype=object)