## 120 combine表格合并

### combine：表格合并，并相应更新值
参数 other, func, fill_value=None, overwrite=True

In [7]:
import numpy  as np 
import pandas as pd
df1 = pd.DataFrame({'A': [0, 0], 'B': [4, 4]})
df2 = pd.DataFrame({'A': [1, 1], 'B': [3, 3]})
take_smaller = lambda s1, s2: s1 if s1.sum() < s2.sum() else s2

In [9]:
df1.combine(df2,take_smaller)

   A  B
0  0  3
1  0  3

In [10]:
df1.combine(df2,np.minimum)

   A  B
0  0  3
1  0  3

In [11]:
df1.combine(df2,np.maximum)

   A  B
0  1  4
1  1  4

In [21]:
df1.combine(df2,sum)

   A   B
0  1  11
1  1  11

In [ ]:
df1.combine(df2,sum)