## 126 transform表格计算

###  transform：根据表格和函数计算产生结果表
参数 func, axis=0, *args, **kwargs

In [1]:
import numpy  as np
import pandas as pd
df = pd.DataFrame({'A': range(3), 'B': range(1, 4)})

In [2]:
df

   A  B
0  0  1
1  1  2
2  2  3

In [6]:
df.transform(func=[np.exp,np.sqrt],axis=1) # axis 结果的展示排版方式

               A          B
0 exp   1.000000   2.718282
  sqrt  0.000000   1.000000
1 exp   2.718282   7.389056
  sqrt  1.000000   1.414214
2 exp   7.389056  20.085537
  sqrt  1.414214   1.732051

In [5]:
df.transform(func=[np.exp,np.sqrt]) # func 以是符合要求的多个函数

          A                    B
        exp      sqrt        exp      sqrt
0  1.000000  0.000000   2.718282  1.000000
1  2.718282  1.000000   7.389056  1.414214
2  7.389056  1.414214  20.085537  1.732051

In [3]:
df.transform(lambda x: x+8) # 将每个元素+8，返回结果表

    A   B
0   8   9
1   9  10
2  10  11

In [4]:
df.transform(func=np.exp) # 可以是符合要求的函数

          A          B
0  1.000000   2.718282
1  2.718282   7.389056
2  7.389056  20.085537

In [7]:
df.transform(func={'A':np.sqrt,'B':np.exp}) # 可以使用字典dict 指定每列的计算函数

          A          B
0  0.000000   2.718282
1  1.000000   7.389056
2  1.414214  20.085537

In [8]:
df.transform(func={'A':np.sqrt,}) # 可以使用字典dict 指定每列的计算函数

          A
0  0.000000
1  1.000000
2  1.414214