## 128 clip修剪平整数据

### clip：修剪平整数据，将超过界限的数据修改成界限
参数 lower=None, upper=None, axis=None, inplace=False, *args, **kwargs

In [1]:
import numpy  as np
import pandas as pd
data = {'col_0': [9, -3, 0, -1, 5], 'col_1': [-2, -7, 6, 8, -5]}
df = pd.DataFrame(data)
tmp=pd.Series([-1,0,1,np.nan,3])

In [2]:
df

   col_0  col_1
0      9     -2
1     -3     -7
2      0      6
3     -1      8
4      5     -5

In [8]:
df # 对照

   col_0  col_1
0    1.0   -1.0
1    0.0    0.0
2    1.0    3.0
3    NaN    NaN
4    5.0    3.0

In [9]:
df.col_0.clip(tmp,tmp+2) # 可以用在序列上，多组边界

0    1.0
1    0.0
2    1.0
3    NaN
4    5.0
Name: col_0, dtype: float64

In [7]:
df.clip(lower=tmp,upper=tmp+2,axis=0,inplace=True) # inplace 是否直接在原来的df上修改数据

In [6]:
df.clip(lower=tmp,upper=tmp+2,axis=0) # 将超出界限的数据分别修改到上下界限,多组边界值，axis 指定轴方向

   col_0  col_1
0    1.0   -1.0
1    0.0    0.0
2    1.0    3.0
3    NaN    NaN
4    5.0    3.0

In [3]:
df.clip(lower=-2,upper=2) # 将超出界限的数据分别修改到上下界限

   col_0  col_1
0      2     -2
1     -2     -2
2      0      2
3     -1      2
4      2     -2

In [4]:
df.col_0.clip(-2,2) # 可以用在序列上

0    2
1   -2
2    0
3   -1
4    2
Name: col_0, dtype: int64