## 133 add_prefix和add_suffix添加前后缀

### add_prefix和add_suffix添加前后缀
参数 分别对应prefix和suffix

In [1]:
import numpy  as np
import pandas as pd
data = {'A': [9, -3, 0, -1, 5], 'B': [-2, -7, 6, 8, -5]}
df = pd.DataFrame(data,dtype='int16')

In [2]:
df

   A  B
0  9 -2
1 -3 -7
2  0  6
3 -1  8
4  5 -5

In [10]:
df.A.add_suffix(suffix='_col') # 给索引添加后缀 ，用在序列上

0_col    9
1_col   -3
2_col    0
3_col   -1
4_col    5
Name: A, dtype: int16

In [9]:
df.add_suffix(suffix='_col') # 给列名添加后缀

   A_col  B_col
0      9     -2
1     -3     -7
2      0      6
3     -1      8
4      5     -5

In [6]:
df.A.add_prefix(prefix='col_') # 给索引添加前缀 ，用在序列上

col_0    9
col_1   -3
col_2    0
col_3   -1
col_4    5
Name: A, dtype: int16

In [5]:
df.add_prefix(prefix='col_') # 给列名添加前缀

   col_A  col_B
0      9     -2
1     -3     -7
2      0      6
3     -1      8
4      5     -5