## 137 between查询数据

### between查询数据
参数 left, right

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['时间']=pd.date_range(start='2020-01-01',periods=10,freq='D')
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)
df.iloc[1,1]=np.nan #  修改成nan

### 演示数据

In [2]:
df

  dept dept1 name    销售额         时间
0  部门1  小部门1   庄琴  72437 2020-01-01
1  部门1   NaN   窦楠  79182 2020-01-02
2  部门1  小部门2   黄瑜  55515 2020-01-03
3  部门1  小部门2   邹涛  77201 2020-01-04
4  部门1  小部门2   张颖  44810 2020-01-05
5  部门2  小部门3  王桂芳  59309 2020-01-06
6  部门2  小部门4   曹伟  18125 2020-01-07
7  部门2  小部门4   刘东  10489 2020-01-08
8  部门2  小部门4   刘彬  65888 2020-01-09
9  部门2  小部门4   陈霞  87725 2020-01-10

In [7]:
df.时间.between(left='2020-01-05',right='2020-01-09') # 返回每个元素是否满足条件。时间类型

0    False
1    False
2    False
3    False
4     True
5     True
6     True
7     True
8     True
9    False
Name: 时间, dtype: bool

In [6]:
df.销售额.between(left=50000,right=10000) # 返回每个元素是否满足条件。数字类型

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: 销售额, dtype: bool

In [5]:
df.销售额.between(left=10000,right=50000) # 返回每个元素是否满足条件。数字类型

0    False
1    False
2    False
3    False
4     True
5    False
6     True
7     True
8    False
9    False
Name: 销售额, dtype: bool

In [4]:
df.dept1.between(left='小部门1',right='小部门2') # 返回每个元素是否满足条件。字符串上

0     True
1    False
2     True
3     True
4     True
5    False
6    False
7    False
8    False
9    False
Name: dept1, dtype: bool