## 139 abs求绝对值

### abs：求绝对值

In [1]:
import numpy  as np
import pandas as pd
df = pd.DataFrame([(10.21, .32), (.01, .67), (-.66, .03), (.21, -.18)],
                  columns=['dogs', 'cats'])

### 演示数据

In [2]:
df

    dogs  cats
0  10.21  0.32
1   0.01  0.67
2  -0.66  0.03
3   0.21 -0.18

In [4]:
df.cats.abs() # 列所有元素的绝对值

0    0.32
1    0.67
2    0.03
3    0.18
Name: cats, dtype: float64

In [3]:
df.abs() # 表格所有元素的绝对值

    dogs  cats
0  10.21  0.32
1   0.01  0.67
2   0.66  0.03
3   0.21  0.18