## pandas时间处理（五）

### 比较常用的时间处理函数。
#### 综合利用DateOffSet dateutil calendar 计算 时间/日期所在月的第一天或最后一天（可用以参考计算周/季度的第一天和最后一天）。方法较多，仅供参考

In [100]:
from faker import Faker
fake = Faker('zh_CN')

In [101]:
import pandas as pd
import  datetime,calendar
from pandas.tseries.offsets import *
from dateutil import relativedelta
df=pd.DataFrame(data=[ [fake.date()+' '+fake.time(),fake.date()] for x in range(10) ],columns=['datetime','date'])

In [102]:
df

              datetime        date
0  2019-05-12 14:13:21  1984-10-12
1  1993-08-08 16:05:03  2016-05-20
2  2015-09-21 03:12:29  2013-08-31
3  2013-01-19 01:55:31  2018-01-14
4  1982-01-02 02:12:12  2000-05-21
5  1980-12-02 14:52:04  1994-02-05
6  2008-04-17 05:30:02  1985-08-29
7  1977-02-10 14:12:47  1980-04-04
8  2013-08-23 02:33:21  1990-06-06
9  2003-03-15 17:18:55  2003-04-21

In [103]:
df.datetime=df.datetime.astype('datetime64') # 将时间字符串转换成时间格式

In [104]:
df.date=df.date.astype('datetime64') # 将时间字符串转换成时间格式

In [106]:
df.date.dt.strftime('%Y-%m-01').astype('datetime64') # 获取当月第一天，注意结果类型

0   1984-10-01
1   2016-05-01
2   2013-08-01
3   2018-01-01
4   2000-05-01
5   1994-02-01
6   1985-08-01
7   1980-04-01
8   1990-06-01
9   2003-04-01
Name: date, dtype: datetime64[ns]

In [107]:
df.date.map(lambda x :pd.Timestamp(x.year,x.month,1)) # 获取当月第一天

0   1984-10-01
1   2016-05-01
2   2013-08-01
3   2018-01-01
4   2000-05-01
5   1994-02-01
6   1985-08-01
7   1980-04-01
8   1990-06-01
9   2003-04-01
Name: date, dtype: datetime64[ns]

In [108]:
df.date.map(lambda x : x-pd.DateOffset(x.day-1)) # 获取当月第一天，利用时间天数差值

0   1984-10-01
1   2016-05-01
2   2013-08-01
3   2018-01-01
4   2000-05-01
5   1994-02-01
6   1985-08-01
7   1980-04-01
8   1990-06-01
9   2003-04-01
Name: date, dtype: datetime64[ns]

In [109]:
df.date.map(lambda x : datetime.datetime(x.year,x.month,1)) # 获取党羽第一天，利用datetime

0   1984-10-01
1   2016-05-01
2   2013-08-01
3   2018-01-01
4   2000-05-01
5   1994-02-01
6   1985-08-01
7   1980-04-01
8   1990-06-01
9   2003-04-01
Name: date, dtype: datetime64[ns]

In [116]:
df.date.map(lambda x : x-relativedelta.relativedelta(days=x.day-1)) # 获取党羽第一天，利用dateutil

0   1984-10-01
1   2016-05-01
2   2013-08-01
3   2018-01-01
4   2000-05-01
5   1994-02-01
6   1985-08-01
7   1980-04-01
8   1990-06-01
9   2003-04-01
Name: date, dtype: datetime64[ns]

In [111]:
df.date.map(lambda x :pd.Timestamp(x.year,x.month,x.daysinmonth)) # 获取当月最后一天

0   1984-10-31
1   2016-05-31
2   2013-08-31
3   2018-01-31
4   2000-05-31
5   1994-02-28
6   1985-08-31
7   1980-04-30
8   1990-06-30
9   2003-04-30
Name: date, dtype: datetime64[ns]

In [112]:
df.date.map(lambda x : x+ pd.DateOffset(x.daysinmonth-x.day)) # 获取当月最后一天，利用时间天数差值

0   1984-10-31
1   2016-05-31
2   2013-08-31
3   2018-01-31
4   2000-05-31
5   1994-02-28
6   1985-08-31
7   1980-04-30
8   1990-06-30
9   2003-04-30
Name: date, dtype: datetime64[ns]

In [115]:
df.date.map(lambda x : datetime.datetime(x.year,x.month, calendar.monthrange(x.year,x.month)[1])) # 获取当月最后一天，利用datetime和calendar

0   1984-10-31
1   2016-05-31
2   2013-08-31
3   2018-01-31
4   2000-05-31
5   1994-02-28
6   1985-08-31
7   1980-04-30
8   1990-06-30
9   2003-04-30
Name: date, dtype: datetime64[ns]