## 142 droplevel删除层级

### droplevel：删除层级
参数 level, axis=0

In [1]:
import numpy  as np
import pandas as pd
df = pd.DataFrame(
    [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
        
]).set_index([0, 1]).rename_axis(['a', 'b'])
df.columns = pd.MultiIndex.from_tuples([
    ('c', 'e'), ('d', 'f')
], names=['level_1', 'level_2'])
mi = pd.MultiIndex.from_arrays(
[[1, 2], [3, 4], [5, 6]], names=['x', 'y', 'z'])

### 演示数据

In [2]:
df

level_1   c   d
level_2   e   f
a b
1 2       3   4
5 6       7   8
9 10     11  12

In [8]:
mi

MultiIndex([(1, 3, 5),
            (2, 4, 6)],
           names=['x', 'y', 'z'])

In [13]:
mi.droplevel([0,2]) # 索引 索引上的层级,使用层级数字

Int64Index([3, 4], dtype='int64', name='y')

In [9]:
mi.droplevel(['x']) # 索引 索引上的一个层级

MultiIndex([(3, 5),
            (4, 6)],
           names=['y', 'z'])

In [10]:
mi.droplevel(['x','y']) # 索引 索引上的多个层级

Int64Index([5, 6], dtype='int64', name='z')

In [7]:
df.droplevel(level=1,axis=1) # axis 轴方向 1是列上

level_1   c   d
a b
1 2       3   4
5 6       7   8
9 10     11  12

In [14]:
df.droplevel(level=[0,1]) # 提示：必须保留至少一个层级

ValueError: Cannot remove 2 levels from an index with 2 levels: at least one level must be left.

In [6]:
df.droplevel(level=1) # 删除层级b(level=1)

level_1   c   d
level_2   e   f
a
1         3   4
5         7   8
9        11  12

In [3]:
df.droplevel('a') # 删除层级a

level_1   c   d
level_2   e   f
b
2         3   4
6         7   8
10       11  12