## 143 表格迭代遍历

### items iteritems iterrows 
### itertuples 
参数 index=True, name='Pandas'
#### 一般尽量优先使用pandas自带函数，特定情况使用这些实现自定义的迭代循环
### item

In [1]:

import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['时间']=pd.date_range(start='2020-01-01',periods=10,freq='D')
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept 1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)
df.iloc[1,1]=np.nan #  修改成nan

### 演示数据

In [2]:
df

  dept dept 1 name    销售额         时间
0  部门1   小部门1   王勇  94372 2020-01-01
1  部门1    NaN  刘丽丽  89110 2020-01-02
2  部门1   小部门2  陈秀华  72414 2020-01-03
3  部门1   小部门2   向洁   1524 2020-01-04
4  部门1   小部门2   王玉  51179 2020-01-05
5  部门2   小部门3   侯静  62828 2020-01-06
6  部门2   小部门4   赵超  80084 2020-01-07
7  部门2   小部门4  张婷婷  67557 2020-01-08
8  部门2   小部门4   吴琳  49623 2020-01-09
9  部门2   小部门4   邵勇   7845 2020-01-10

In [19]:
for x in df.itertuples(index=False,name='results'): # index=False,name='results' 不输出索引，结果名称是results
    print(x)

results(dept='部门1', _1='小部门1', name='王勇', 销售额=94372, 时间=Timestamp('2020-01-01 00:00:00'))
results(dept='部门1', _1=nan, name='刘丽丽', 销售额=89110, 时间=Timestamp('2020-01-02 00:00:00'))
results(dept='部门1', _1='小部门2', name='陈秀华', 销售额=72414, 时间=Timestamp('2020-01-03 00:00:00'))
results(dept='部门1', _1='小部门2', name='向洁', 销售额=1524, 时间=Timestamp('2020-01-04 00:00:00'))
results(dept='部门1', _1='小部门2', name='王玉', 销售额=51179, 时间=Timestamp('2020-01-05 00:00:00'))
results(dept='部门2', _1='小部门3', name='侯静', 销售额=62828, 时间=Timestamp('2020-01-06 00:00:00'))
results(dept='部门2', _1='小部门4', name='赵超', 销售额=80084, 时间=Timestamp('2020-01-07 00:00:00'))
results(dept='部门2', _1='小部门4', name='张婷婷', 销售额=67557, 时间=Timestamp('2020-01-08 00:00:00'))
results(dept='部门2', _1='小部门4', name='吴琳', 销售额=49623, 时间=Timestamp('2020-01-09 00:00:00'))
results(dept='部门2', _1='小部门4', name='邵勇', 销售额=7845, 时间=Timestamp('2020-01-10 00:00:00'))

In [15]:
for x in df.iterrows(): # 表格上,输出元组
    print(x)

(0, dept                      部门1
dept 1                   小部门1
name                       王勇
销售额                     94372
时间        2020-01-01 00:00:00
Name: 0, dtype: object)
(1, dept                      部门1
dept 1                    NaN
name                      刘丽丽
销售额                     89110
时间        2020-01-02 00:00:00
Name: 1, dtype: object)
(2, dept                      部门1
dept 1                   小部门2
name                      陈秀华
销售额                     72414
时间        2020-01-03 00:00:00
Name: 2, dtype: object)
(3, dept                      部门1
dept 1                   小部门2
name                       向洁
销售额                      1524
时间        2020-01-04 00:00:00
Name: 3, dtype: object)
(4, dept                      部门1
dept 1                   小部门2
name                       王玉
销售额                     51179
时间        2020-01-05 00:00:00
Name: 4, dtype: object)
(5, dept                      部门2
dept 1                   小部门3
name                       侯静
销售额                     62828
时间        2020-01-06 00:00:00
Name: 5, dtype: object)
(6, dept                      部门2
dept 1                   小部门4
name                       赵超
销售额                     80084
时间        2020-01-07 00:00:00
Name: 6, dtype: object)
(7, dept                      部门2
dept 1                   小部门4
name                      张婷婷
销售额                     67557
时间        2020-01-08 00:00:00
Name: 7, dtype: object)
(8, dept                      部门2
dept 1                   小部门4
name                       吴琳
销售额                     49623
时间        2020-01-09 00:00:00
Name: 8, dtype: object)
(9, dept                      部门2
dept 1                   小部门4
name                       邵勇
销售额                      7845
时间        2020-01-10 00:00:00
Name: 9, dtype: object)

In [14]:
for x,y in df.iterrows(): # 表格上,输出元组内容
    print(x,y)

0 dept                      部门1
dept 1                   小部门1
name                       王勇
销售额                     94372
时间        2020-01-01 00:00:00
Name: 0, dtype: object
1 dept                      部门1
dept 1                    NaN
name                      刘丽丽
销售额                     89110
时间        2020-01-02 00:00:00
Name: 1, dtype: object
2 dept                      部门1
dept 1                   小部门2
name                      陈秀华
销售额                     72414
时间        2020-01-03 00:00:00
Name: 2, dtype: object
3 dept                      部门1
dept 1                   小部门2
name                       向洁
销售额                      1524
时间        2020-01-04 00:00:00
Name: 3, dtype: object
4 dept                      部门1
dept 1                   小部门2
name                       王玉
销售额                     51179
时间        2020-01-05 00:00:00
Name: 4, dtype: object
5 dept                      部门2
dept 1                   小部门3
name                       侯静
销售额                     62828
时间        2020-01-06 00:00:00
Name: 5, dtype: object
6 dept                      部门2
dept 1                   小部门4
name                       赵超
销售额                     80084
时间        2020-01-07 00:00:00
Name: 6, dtype: object
7 dept                      部门2
dept 1                   小部门4
name                      张婷婷
销售额                     67557
时间        2020-01-08 00:00:00
Name: 7, dtype: object
8 dept                      部门2
dept 1                   小部门4
name                       吴琳
销售额                     49623
时间        2020-01-09 00:00:00
Name: 8, dtype: object
9 dept                      部门2
dept 1                   小部门4
name                       邵勇
销售额                      7845
时间        2020-01-10 00:00:00
Name: 9, dtype: object

In [13]:
for x,y in df.iteritems(): # 表格上,输出元组内容
    print(x,y)

dept 0    部门1
1    部门1
2    部门1
3    部门1
4    部门1
5    部门2
6    部门2
7    部门2
8    部门2
9    部门2
Name: dept, dtype: object
dept 1 0    小部门1
1     NaN
2    小部门2
3    小部门2
4    小部门2
5    小部门3
6    小部门4
7    小部门4
8    小部门4
9    小部门4
Name: dept 1, dtype: object
name 0     王勇
1    刘丽丽
2    陈秀华
3     向洁
4     王玉
5     侯静
6     赵超
7    张婷婷
8     吴琳
9     邵勇
Name: name, dtype: object
销售额 0    94372
1    89110
2    72414
3     1524
4    51179
5    62828
6    80084
7    67557
8    49623
9     7845
Name: 销售额, dtype: int64
时间 0   2020-01-01
1   2020-01-02
2   2020-01-03
3   2020-01-04
4   2020-01-05
5   2020-01-06
6   2020-01-07
7   2020-01-08
8   2020-01-09
9   2020-01-10
Name: 时间, dtype: datetime64[ns]

In [12]:
for x in df.iteritems(): # 表格上
    print(x)

('dept', 0    部门1
1    部门1
2    部门1
3    部门1
4    部门1
5    部门2
6    部门2
7    部门2
8    部门2
9    部门2
Name: dept, dtype: object)
('dept 1', 0    小部门1
1     NaN
2    小部门2
3    小部门2
4    小部门2
5    小部门3
6    小部门4
7    小部门4
8    小部门4
9    小部门4
Name: dept 1, dtype: object)
('name', 0     王勇
1    刘丽丽
2    陈秀华
3     向洁
4     王玉
5     侯静
6     赵超
7    张婷婷
8     吴琳
9     邵勇
Name: name, dtype: object)
('销售额', 0    94372
1    89110
2    72414
3     1524
4    51179
5    62828
6    80084
7    67557
8    49623
9     7845
Name: 销售额, dtype: int64)
('时间', 0   2020-01-01
1   2020-01-02
2   2020-01-03
3   2020-01-04
4   2020-01-05
5   2020-01-06
6   2020-01-07
7   2020-01-08
8   2020-01-09
9   2020-01-10
Name: 时间, dtype: datetime64[ns])

In [11]:
for x in df.dept.iteritems(): # 序列上逐个元素输出 tuple 的两个值
    print(x)

(0, '部门1')
(1, '部门1')
(2, '部门1')
(3, '部门1')
(4, '部门1')
(5, '部门2')
(6, '部门2')
(7, '部门2')
(8, '部门2')
(9, '部门2')

In [10]:
for x,y in df.dept.iteritems(): # 序列上逐个元素输出 tuple 的两个值
    print(x,y)

0 部门1
1 部门1
2 部门1
3 部门1
4 部门1
5 部门2
6 部门2
7 部门2
8 部门2
9 部门2

In [8]:
for x,y in df.dept.items(): # 序列上逐个元素输出 tuple 的两个值
    print(x,y)

0 部门1
1 部门1
2 部门1
3 部门1
4 部门1
5 部门2
6 部门2
7 部门2
8 部门2
9 部门2

In [9]:
for x in df.dept.items(): # 序列上逐个元素输出 元素，tuple 的整体
    print(x)

(0, '部门1')
(1, '部门1')
(2, '部门1')
(3, '部门1')
(4, '部门1')
(5, '部门2')
(6, '部门2')
(7, '部门2')
(8, '部门2')
(9, '部门2')

In [7]:
for x,y in df.items(): # 逐个列输出
    print(x,y)

dept 0    部门1
1    部门1
2    部门1
3    部门1
4    部门1
5    部门2
6    部门2
7    部门2
8    部门2
9    部门2
Name: dept, dtype: object
dept 1 0    小部门1
1     NaN
2    小部门2
3    小部门2
4    小部门2
5    小部门3
6    小部门4
7    小部门4
8    小部门4
9    小部门4
Name: dept 1, dtype: object
name 0     王勇
1    刘丽丽
2    陈秀华
3     向洁
4     王玉
5     侯静
6     赵超
7    张婷婷
8     吴琳
9     邵勇
Name: name, dtype: object
销售额 0    94372
1    89110
2    72414
3     1524
4    51179
5    62828
6    80084
7    67557
8    49623
9     7845
Name: 销售额, dtype: int64
时间 0   2020-01-01
1   2020-01-02
2   2020-01-03
3   2020-01-04
4   2020-01-05
5   2020-01-06
6   2020-01-07
7   2020-01-08
8   2020-01-09
9   2020-01-10
Name: 时间, dtype: datetime64[ns]

In [6]:
for x in df.items(): # 逐个列输出
    print(x)

('dept', 0    部门1
1    部门1
2    部门1
3    部门1
4    部门1
5    部门2
6    部门2
7    部门2
8    部门2
9    部门2
Name: dept, dtype: object)
('dept 1', 0    小部门1
1     NaN
2    小部门2
3    小部门2
4    小部门2
5    小部门3
6    小部门4
7    小部门4
8    小部门4
9    小部门4
Name: dept 1, dtype: object)
('name', 0     王勇
1    刘丽丽
2    陈秀华
3     向洁
4     王玉
5     侯静
6     赵超
7    张婷婷
8     吴琳
9     邵勇
Name: name, dtype: object)
('销售额', 0    94372
1    89110
2    72414
3     1524
4    51179
5    62828
6    80084
7    67557
8    49623
9     7845
Name: 销售额, dtype: int64)
('时间', 0   2020-01-01
1   2020-01-02
2   2020-01-03
3   2020-01-04
4   2020-01-05
5   2020-01-06
6   2020-01-07
7   2020-01-08
8   2020-01-09
9   2020-01-10
Name: 时间, dtype: datetime64[ns])

In [3]:
df.iloc[[1],0]

1    部门1
Name: dept, dtype: object

In [4]:
df.iloc[[1],0].item() # 将只有一行元素的序列的唯一一个值转成标量

'部门1'

In [5]:
df.iloc[[1],0].squeeze() # 将只有一行元素的序列的唯一一个值转成标量。对照上面

'部门1'