## pandas 使用自定义函数

### 在行/列上使用自定义的函数。
#### apply map applymap

In [63]:
import pandas as pd

df=pd.DataFrame(data=[ [x ,x+0.1*x] for x in range(10) ],columns=['A','B'])

In [64]:
df

   A    B
0  0  0.0
1  1  1.1
2  2  2.2
3  3  3.3
4  4  4.4
5  5  5.5
6  6  6.6
7  7  7.7
8  8  8.8
9  9  9.9

In [67]:
df.apply(lambda x :x.max()-x.min(),axis=1) # 在行或者列方向上使用自定义函数

0    0.0
1    0.1
2    0.2
3    0.3
4    0.4
5    0.5
6    0.6
7    0.7
8    0.8
9    0.9
dtype: float64

In [69]:
# 两个简单函数，稍后使用
def get_result(x):
    if x>5:
        return 1
    else:
        return 0
def get_result1(x,y):
    if x>y:
        return 1
    else:
        return 0

In [80]:
df.applymap(get_result) # 在所有元素上使用自定义函数。两种写法

   A  B
0  0  0
1  0  0
2  0  0
3  0  0
4  0  0
5  0  1
6  1  1
7  1  1
8  1  1
9  1  1

In [78]:
df.apply(lambda x: get_result1(x['A'],x['B']),axis=1) # 逐行遍历，传递两个元素.两种写法

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
dtype: int64

In [75]:
df.apply(lambda x: get_result(x.A),axis=1) # 使用apply实现同样效果

0    0
1    0
2    0
3    0
4    0
5    0
6    1
7    1
8    1
9    1
dtype: int64

In [70]:
df.A.map(lambda x :get_result(x)) # 在A列上逐行调用函数get_result

0    0
1    0
2    0
3    0
4    0
5    0
6    1
7    1
8    1
9    1
Name: A, dtype: int64

In [71]:
df['A'].map(lambda x :get_result(x))  # 等效写法

0    0
1    0
2    0
3    0
4    0
5    0
6    1
7    1
8    1
9    1
Name: A, dtype: int64

In [73]:
df.A.map(get_result)  # 等效写法

0    0
1    0
2    0
3    0
4    0
5    0
6    1
7    1
8    1
9    1
Name: A, dtype: int64