## 152 pandas数据抽样（六）

### asfreq：将源时序数据转换成特定频率的结果时序数据，实现时序数据的频率转换方式的“采样”
#### asfreq与resample区别：asfreq采样时间区间边上的值（时刻值），resample采样的是时间区间内的值（一段时间内）
参数 freq, method=None, how=None, normalize=False, fill_value=None

In [1]:
import pandas as pd
import numpy as np
index = pd.date_range('1/1/2000', periods=4, freq='T')
series = pd.Series([0.0, None, 2.0, 3.0], index=index)
df = pd.DataFrame({'s': series})

In [2]:
series

2000-01-01 00:00:00    0.0
2000-01-01 00:01:00    NaN
2000-01-01 00:02:00    2.0
2000-01-01 00:03:00    3.0
Freq: T, dtype: float64

In [8]:
series.asfreq(freq='3T') # freq 采样频率

2000-01-01 00:00:00    0.0
2000-01-01 00:03:00    3.0
Freq: 3T, dtype: float64

In [3]:
df2 =df.copy()

In [4]:
df2.index=df2.index.astype('period[D]')

In [5]:
df2

              s
2000-01-01  0.0
2000-01-01  NaN
2000-01-01  2.0
2000-01-01  3.0

In [9]:
df2.index

PeriodIndex(['2000-01-01', '2000-01-01', '2000-01-01', '2000-01-01'], dtype='period[D]')

In [10]:
df2.index.asfreq('H') # 在索引上使用

PeriodIndex(['2000-01-01 23:00', '2000-01-01 23:00', '2000-01-01 23:00',
             '2000-01-01 23:00'],
            dtype='period[H]')

In [12]:
df2.index.asfreq('H', how='start') # how ：用于周期索引，start end  确定 时间点是开始时间还是结束时间

PeriodIndex(['2000-01-01 00:00', '2000-01-01 00:00', '2000-01-01 00:00',
             '2000-01-01 00:00'],
            dtype='period[H]')

In [13]:
df2.index.asfreq('H', how='end') #

PeriodIndex(['2000-01-01 23:00', '2000-01-01 23:00', '2000-01-01 23:00',
             '2000-01-01 23:00'],
            dtype='period[H]')

In [6]:
df

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:01:00  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:03:00  3.0

In [14]:
df.asfreq('3T') # 下采样。df上使用

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:03:00  3.0

In [15]:
df.asfreq('.5T') # 上采样

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:00:30  NaN
2000-01-01 00:01:00  NaN
2000-01-01 00:01:30  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:02:30  NaN
2000-01-01 00:03:00  3.0

In [16]:
df.asfreq('.5T',fill_value=1) # 上采样.将新生成的行的nan填充成指定的值，注意原有行 的nan不管

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:00:30  1.0
2000-01-01 00:01:00  NaN
2000-01-01 00:01:30  1.0
2000-01-01 00:02:00  2.0
2000-01-01 00:02:30  1.0
2000-01-01 00:03:00  3.0

In [17]:
df.asfreq('.5T',method='pad') # method 指定填充方式，参考fillna函数的method。上采样.将新生成的行的nan填充成指定的值，注意原有行 的nan不管

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:00:30  0.0
2000-01-01 00:01:00  NaN
2000-01-01 00:01:30  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:02:30  2.0
2000-01-01 00:03:00  3.0

In [19]:
df.asfreq('.5T',method='pad',normalize=True) # normalize 将结果的时间统一调整成当天午夜（即零点）

              s
2000-01-01  0.0
2000-01-01  0.0
2000-01-01  NaN
2000-01-01  NaN
2000-01-01  2.0
2000-01-01  2.0
2000-01-01  3.0