## 162 DataFrame创建

###   DataFrame：创建操作
##### 参数 data=None, index=None, columns=None, dtype=None, copy=None

In [1]:
import pandas as pd
import numpy  as np

In [9]:
pd.DataFrame(data={'a':[1,2],'b':[3,4]},index=range(2))

   a  b
0  1  3
1  2  4

In [11]:
pd.DataFrame(data={'a':[1,2],'b':[3,4]},index=[3,4]) # data 表格元素的数据源，index 索引的数据源

   a  b
3  1  3
4  2  4

In [13]:
pd.DataFrame(data=np.array([[1,2],[3,4]]),index=[3,4],columns=['a','b']) # np数组作为数据源。columns 指定列名称

   a  b
3  1  2
4  3  4

In [14]:
pd.DataFrame(data=np.array([[1,2],[3,4]]),index=[3,4],columns=['a','b'],dtype='float') # dtype 指定元素的数据类型

     a    b
3  1.0  2.0
4  3.0  4.0

In [15]:
from dataclasses import make_dataclass # 利用数据类构建DataFrame
p=make_dataclass('p',[('a',int),('b',int)])

In [16]:
pd.DataFrame(data=[p(1,2),p(3,4)])

   a  b
0  1  2
1  3  4