## 175 equals判断两个表格是否相同

### equals判断两个表格是否相同，即是否相同形状并含有相同元素。同样位置的na元素视为相同，可与eq和compare对照。

In [1]:
import numpy  as np
import pandas as pd

In [2]:
df = pd.DataFrame({1: [10], 2: [20]})
df

    1   2
0  10  20

In [3]:
different_column_type = pd.DataFrame({1.0: [10], 2.0: [20]})
different_column_type

   1.0  2.0
0   10   20

In [6]:
df.equals(different_column_type) # 列明不同但是内容元素相同

True

In [4]:
exactly_equal = pd.DataFrame({1: [10], 2: [20]})
exactly_equal

    1   2
0  10  20

In [7]:
df.equals(exactly_equal) # 一样的表

True

In [5]:
different_data_type = pd.DataFrame({1: [10.0], 2: [20.0]})
different_data_type

      1     2
0  10.0  20.0

In [8]:
df.equals(different_data_type) # 表格内容元素的数据类型不同

False