##  pandas基本操作

### 基本操作
#### index columns dtypes info rename dtype

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

In [2]:
df['销售额']=np.random.randint(100,100000,size=(10, 1))

In [3]:
df.insert(0,'dept',['部门1']*5+['部门2']*5)

In [4]:
df # 随机生成的数据

  dept name    销售额
0  部门1   郭雪  79185
1  部门1  易丽丽  95056
2  部门1   刘帆  20776
3  部门1   蒲涛  78194
4  部门1  王桂芳  42497
5  部门2   杨飞  67377
6  部门2   张东  95072
7  部门2  江丽娟  25336
8  部门2  许秀兰  85541
9  部门2  陶淑兰   2310

In [5]:
df.index  # 获取索引信息

RangeIndex(start=0, stop=10, step=1)

In [6]:
df.columns # 获取列名信息

Index(['dept', 'name', '销售额'], dtype='object')

In [7]:
df.dtypes # 获取列的类型信息

dept    object
name    object
销售额      int32
dtype: object

In [8]:
df.rename({'dept':'部门'},axis=1,inplace=True) # 修改列明，用dict 表示 原名：修改名 的映射，可以一次修改多个列名
# inplace=True 直接在原来的df上修改，而非在副本上修改

In [9]:
df.info() # 获取一个df对象的基本信息 ，含 列 名称 类型 统计 内存使用 索引等

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   部门      10 non-null     object
 1   name    10 non-null     object
 2   销售额     10 non-null     int32
dtypes: int32(1), object(2)
memory usage: 328.0+ bytes

In [14]:
df.name.dtype # 新增：列类型

dtype('O')

In [15]:
df.index.dtype # 新增：索引类型

dtype('int64')