##  pandas基本运算

### 基本运算列之加减乘除(两个表)
#### +-*/

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['姓名'])

In [2]:
df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['工龄']=np.random.randint(1,10,size=(10, 1))
df.insert(0,'部门',['部门1']*5+['部门2']*5)
df['绩效系数']=np.random.randint(7,10,size=(10, 1))/10
df['补贴']=np.random.randint(10,1000,size=(10, 1))
df['请假扣除']=np.random.randint(0,1000,size=(10, 1))

In [3]:
df # 随机生成的数据

    部门   姓名    销售额  工龄  绩效系数   补贴  请假扣除
0  部门1  熊淑英  16279   2   0.9  839    99
1  部门1   李浩  30868   3   0.9  309   287
2  部门1   孙健    468   7   0.9  404   161
3  部门1   兰娟  15378   2   0.9  244    33
4  部门1  莫冬梅  75257   6   0.7  934   480
5  部门2  周兰英  61801   2   0.9  817   814
6  部门2   李成  54765   1   0.7  136   206
7  部门2   张浩  59945   7   0.7  465   981
8  部门2  刘丽华  72184   3   0.7  122   571
9  部门2   黄婷   1432   3   0.8  665   150

In [4]:
df2 =df[['部门','姓名']]

In [12]:
df2 # 创建df2 ，取df前两列。注意此处索引一样，类比Excel中行号一致

    部门   姓名  补贴调整  请假扣除     应发工资
0  部门1  熊淑英   939    49  15541.1
1  部门1   李浩   409   237  27953.2
2  部门1   孙健   504   111    814.2
3  部门1   兰娟   344   -17  14201.2
4  部门1  莫冬梅  1034   430  53283.9
5  部门2  周兰英   917   764  55773.9
6  部门2   李成   236   156  38415.5
7  部门2   张浩   565   931  41595.5
8  部门2  刘丽华   222   521  50229.8
9  部门2   黄婷   765   100   1810.6

In [6]:
df2.insert(2,'补贴调整',df['补贴']+100) # 加一列

In [8]:
df2['请假扣除']=df.请假扣除-50 # 另一种加列方式，虽然有警告，但是可以成功

d:\datacenterkun\jupyter\venv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
df2.补贴调整/df.工龄 # 跨表的两列相除。仅仅作为演示

0    469.500000
1    136.333333
2     72.000000
3    172.000000
4    172.333333
5    458.500000
6    236.000000
7     80.714286
8     74.000000
9    255.000000
dtype: float64

In [11]:
df2['应发工资']=df.销售额*df.绩效系数+df2.补贴调整-df2.请假扣除 # 跨表计算。也可以使用insert

d:\datacenterkun\jupyter\venv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.