## 34 pandas缺失值/空值处理

### fillna 相关的 ffill bfill pad backfill使用。

In [1]:
import  numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, 5],
                   [np.nan, 3, np.nan, 4]],
                  columns=list('ABCD'))

In [3]:
df

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5
3  NaN  3.0 NaN  4

In [9]:
df.backfill(axis=1,limit=1) # axis=1 方向填充,限制填充个数。

     A    B    C    D
0  2.0  2.0  0.0  0.0
1  3.0  4.0  1.0  1.0
2  NaN  NaN  5.0  5.0
3  3.0  3.0  4.0  4.0

In [8]:
df.backfill(axis=1) # axis=1 方向填充

     A    B    C    D
0  2.0  2.0  0.0  0.0
1  3.0  4.0  1.0  1.0
2  5.0  5.0  5.0  5.0
3  3.0  3.0  4.0  4.0

In [7]:
df.backfill() # 类似 fillna（method='backfill'） backfill 等效bfill

     A    B   C  D
0  3.0  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  3.0 NaN  5
3  NaN  3.0 NaN  4

In [6]:
df.bfill() # 类似 fillna（method='bfill'）

     A    B   C  D
0  3.0  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  3.0 NaN  5
3  NaN  3.0 NaN  4

In [5]:
df.ffill() # 类似 fillna（method='ffill'）

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  3.0  4.0 NaN  5
3  3.0  3.0 NaN  4

In [4]:
df.pad() # 类似 fillna（method='pad'）

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  3.0  4.0 NaN  5
3  3.0  3.0 NaN  4