## 35 pandas缺失值/空值处理

### fillna 相关的 ffill bfill pad backfill使用。由于后四个用法类似，仅以一个为主举例子

In [1]:
import  numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, 5],
                   [np.nan, 3, np.nan, 4]],
                  columns=list('ABCD'))

In [3]:
df

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5
3  NaN  3.0 NaN  4

In [4]:
df.fillna(value=tran_values,downcast='infer') # fillna  的downcast 类型推断转换

NameError: name 'tran_values' is not defined

In [7]:
tran_values={'A':1,'B':2,'C':3,'D':4} # 将各列空对应替换
df.fillna(value=tran_values)

     A    B    C  D
0  1.0  2.0  3.0  0
1  3.0  4.0  3.0  1
2  1.0  2.0  3.0  5
3  1.0  3.0  3.0  4

In [ ]:
df.B.pad(downcast='int') # 填充，同时进行类型转换。尝试转换int

In [ ]:
df.B.pad(downcast='infer') # 填充，同时进行类型转换。infer 是推断方式

In [ ]:
df.A.pad() # 在单列上使用