## 37 pandas索引
###  set_index

### 创建数据

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(6) ],columns=['name'])
df['销售额']=np.random.randint(100,100000,size=(6, 1))
df.insert(0,'dept',['部门1']*3+['部门2']*3)

In [2]:
df

  dept name    销售额
0  部门1   史刚  51590
1  部门1  王秀珍  50001
2  部门1   张杨  35937
3  部门2   文勇  87271
4  部门2   王彬  20007
5  部门2   史峰  62859

In [6]:
df1=df.set_index(['dept']) 
df1

     name    销售额
dept
部门1    史刚  51590
部门1   王秀珍  50001
部门1    张杨  35937
部门2    文勇  87271
部门2    王彬  20007
部门2    史峰  62859

In [9]:
df1.set_index(['name'],append=1) # 添加name列到 索引列

             销售额
dept name
部门1  史刚    51590
     王秀珍   50001
     张杨    35937
部门2  文勇    87271
     王彬    20007
     史峰    62859

In [5]:
df.set_index(['dept','name'],drop=False) # 设置索引dept 和names,同时并不删除 原数据列中的这两列

          dept name    销售额
dept name
部门1  史刚    部门1   史刚  51590
     王秀珍   部门1  王秀珍  50001
     张杨    部门1   张杨  35937
部门2  文勇    部门2   文勇  87271
     王彬    部门2   王彬  20007
     史峰    部门2   史峰  62859

In [4]:
df.set_index(['dept','name']) # 设置索引dept 和name

             销售额
dept name
部门1  史刚    51590
     王秀珍   50001
     张杨    35937
部门2  文勇    87271
     王彬    20007
     史峰    62859

In [3]:
df.set_index('dept') # 设置索引dept

     name    销售额
dept
部门1    史刚  51590
部门1   王秀珍  50001
部门1    张杨  35937
部门2    文勇  87271
部门2    王彬  20007
部门2    史峰  62859