## 38 pandas索引（二）
###  reset_index 移除索引

### 创建数据

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(6) ],columns=['name'])
df['销售额']=np.random.randint(100,100000,size=(6, 1))
df.insert(0,'dept',['部门1']*3+['部门2']*3)

In [10]:
df

     dept    销售额
name
崔建军   部门1  51802
陆文    部门1  89674
马健    部门1  28343
李淑兰   部门2  42950
陈畅    部门2  24397
刁欣    部门2  99240

In [9]:
df.reset_index(level=0,inplace=True) # inplace=True,表示不复制，直接替换df

In [8]:
df.reset_index(level=0,drop=True) # 移除指定层级索引 并 删除

        销售额
name
崔建军   51802
陆文    89674
马健    28343
李淑兰   42950
陈畅    24397
刁欣    99240

In [7]:
df.reset_index(level=1) # 移除指定层级索引，这里移除1层，即name

     name    销售额
dept
部门1   崔建军  51802
部门1    陆文  89674
部门1    马健  28343
部门2   李淑兰  42950
部门2    陈畅  24397
部门2    刁欣  99240

In [6]:
df.reset_index(level=0) # 移除指定层级索引，这里移除0层，即dept

     dept    销售额
name
崔建军   部门1  51802
陆文    部门1  89674
马健    部门1  28343
李淑兰   部门2  42950
陈畅    部门2  24397
刁欣    部门2  99240

In [5]:
df.reset_index() # 默认移除所有索引

  dept name    销售额
0  部门1  崔建军  51802
1  部门1   陆文  89674
2  部门1   马健  28343
3  部门2  李淑兰  42950
4  部门2   陈畅  24397
5  部门2   刁欣  99240

In [3]:
df.set_index(['dept','name'],inplace=True) # dept和name二级索引。inplace=True 表示不复制直接替换