## 39 pandas索引（三）
###  reindex 重新索引

### 创建数据

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(6) ],columns=['name'])
df['销售额']=np.random.randint(100,100000,size=(6, 1))
df.insert(0,'dept',['部门1']*3+['部门2']*3)

In [2]:
df

  dept name    销售额
0  部门1   周英  90098
1  部门1   仇波  62467
2  部门1   萧晨  59025
3  部门2  郑冬梅  27919
4  部门2  周桂香  47450
5  部门2   李荣  80927

In [15]:
df.reindex(index=df.index[::-1].values.tolist()+[6,7,8],fill_value=0,method='pad',columns=['name','dept','销售额']) # 索引反向重新排列,新项目 pad模式填充。提示limit在单调有序时才能用
# 设置列位置顺序

  name dept    销售额
5   李荣  部门2  80927
4  周桂香  部门2  47450
3  郑冬梅  部门2  27919
2   萧晨  部门1  59025
1   仇波  部门1  62467
0   周英  部门1  90098
6   李荣  部门2  80927
7   李荣  部门2  80927
8   李荣  部门2  80927

In [13]:
df.reindex(index=df.index[::-1].values.tolist()+[6,7,8],fill_value=0,method='pad',columns=['dept','name']) # 索引反向重新排列,新项目 pad模式填充。提示limit在单调有序时才能用
# 设置列

  dept name
5  部门2   李荣
4  部门2  周桂香
3  部门2  郑冬梅
2  部门1   萧晨
1  部门1   仇波
0  部门1   周英
6  部门2   李荣
7  部门2   李荣
8  部门2   李荣

In [10]:
df.reindex(index=df.index[::-1].values.tolist()+[6,7,8],fill_value=0,method='pad') # 索引反向重新排列,新项目 pad模式填充

  dept name    销售额
5  部门2   李荣  80927
4  部门2  周桂香  47450
3  部门2  郑冬梅  27919
2  部门1   萧晨  59025
1  部门1   仇波  62467
0  部门1   周英  90098
6  部门2   李荣  80927
7  部门2   李荣  80927
8  部门2   李荣  80927

In [9]:
df.reindex(index=df.index[::-1].values.tolist()+[6,7,8],fill_value=0) # 索引反向重新排列,新项目 默认nan,填充0 可自选其他值

  dept name    销售额
5  部门2   李荣  80927
4  部门2  周桂香  47450
3  部门2  郑冬梅  27919
2  部门1   萧晨  59025
1  部门1   仇波  62467
0  部门1   周英  90098
6    0    0      0
7    0    0      0
8    0    0      0

In [8]:
df.reindex(index=df.index[::-1].values.tolist()+[6,7,8]) # 索引反向重新排列,新项目 默认nan

  dept name      销售额
5  部门2   李荣  80927.0
4  部门2  周桂香  47450.0
3  部门2  郑冬梅  27919.0
2  部门1   萧晨  59025.0
1  部门1   仇波  62467.0
0  部门1   周英  90098.0
6  NaN  NaN      NaN
7  NaN  NaN      NaN
8  NaN  NaN      NaN

In [6]:
df.index[::-1].values.tolist()+[6,7,8] # 索引反向
# 索引加新项目

[5, 4, 3, 2, 1, 0, 6, 7, 8]

In [5]:
df.reindex(index=df.index[::-1]) # 索引反向重新排列

  dept name    销售额
5  部门2   李荣  80927
4  部门2  周桂香  47450
3  部门2  郑冬梅  27919
2  部门1   萧晨  59025
1  部门1   仇波  62467
0  部门1   周英  90098