## 40 pandas索引（四）
###  reindex_like： 参照另一个df重新索引
#### 因其参数method, copy, limit, tolerance作用类似reindex，此处仅演示其主要作用

### 创建数据

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(6) ],columns=['name'])
df['销售额']=np.random.randint(100,100000,size=(6, 1))
df.insert(0,'dept',['部门1']*3+['部门2']*3)

In [2]:
df

  dept name    销售额
0  部门1   余丽  71322
1  部门1   林辉  89908
2  部门1   赵静  39649
3  部门2  蒋雪梅  82117
4  部门2   石帆  56606
5  部门2   徐敏  24147

In [3]:
df1=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])
df1['销售额']=np.random.randint(100,100000,size=(10, 1))
df1.insert(0,'dept',['部门1']*5+['部门2']*5)
df1['其他']='other'

In [19]:
df1[::-1]

  dept name    销售额     其他
9  部门2   孙勇   4413  other
8  部门2   刘旭   7022  other
7  部门2  廖桂兰  71622  other
6  部门2  陈玉英  76292  other
5  部门2   胡燕  36087  other
4  部门1  杨建军  67504  other
3  部门1  王桂香   6353  other
2  部门1   李超  88914  other
1  部门1   陈文  43191  other
0  部门1   赵建  67538  other

In [6]:
df1.reindex_like(df) # df1按照df 进行索引重排，注意列减少和 行数减少

  dept name    销售额
0  部门1   赵建  67538
1  部门1   陈文  43191
2  部门1   李超  88914
3  部门1  王桂香   6353
4  部门1  杨建军  67504
5  部门2   胡燕  36087

In [22]:
df.reindex_like(df1) # df按照df1 进行索引重排，注意列变化和nan的填充

  dept name      销售额  其他
0  部门1   余丽  71322.0 NaN
1  部门1   林辉  89908.0 NaN
2  部门1   赵静  39649.0 NaN
3  部门2  蒋雪梅  82117.0 NaN
4  部门2   石帆  56606.0 NaN
5  部门2   徐敏  24147.0 NaN
6  NaN  NaN      NaN NaN
7  NaN  NaN      NaN NaN
8  NaN  NaN      NaN NaN
9  NaN  NaN      NaN NaN