##  44 pandas分组聚合统计（五）

### 分组聚合统计
#### groupby  get_group nunique count

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])
df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['奖金']=np.random.randint(100,100000,size=(10, 1))
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)

In [11]:
df # 随机生成的数据

  dept dept1 name    销售额     奖金
0  部门1   NaN  李秀兰  59585  57433
1  部门1   NaN   张娟  96350  96769
2  部门1  小部门2   姜琴  86085  34412
3  部门1  小部门2   阎俊  67593  72468
4  部门1  小部门2   伍莉  10707   2630
5  部门2  小部门3  石秀珍  32406  60175
6  部门2  小部门4  黄桂兰   9370  44283
7  部门2  小部门4   梁倩  32435  52669
8  部门2  小部门4  赵建国  89941  48170
9  部门2  小部门4  唐桂珍  13712  84863

In [15]:
df.groupby(['dept'])['dept1'].nunique(dropna=True) # 分组统计某个列 不同元素的个数（去重统计，类似sql distinct）。不含na

dept
部门1    1
部门2    2
Name: dept1, dtype: int64

In [13]:
df.groupby(['dept'])['dept1'].nunique(dropna=0) # 分组统计某个列 不同元素的个数（去重统计，类似sql distinct）

dept
部门1    2
部门2    2
Name: dept1, dtype: int64

In [10]:
df.loc[df.dept1=='小部门1','dept1']=np.nan # 将 小部门1  修改为空

In [16]:
df.groupby(['dept'])['dept1'].nunique() # 分组统计某个列 不同元素的个数（去重统计，类似sql distinct）。默认dropna=True

dept
部门1    1
部门2    2
Name: dept1, dtype: int64

In [8]:
df.groupby(['dept'])['dept1'].count() # 分组统计某个列的元素个数

dept
部门1    5
部门2    5
Name: dept1, dtype: int64

In [17]:
df.groupby(['dept','dept1']).count() # 分组统计个数

            name  销售额  奖金
dept dept1
部门1  小部门2      3    3   3
部门2  小部门3      1    1   1
     小部门4      4    4   4

In [6]:
df.groupby(['dept','dept1']).get_group(('部门1','小部门2')) # 多级分组的情况下获取某个组的数据

  dept dept1 name    销售额     奖金
2  部门1  小部门2   姜琴  86085  34412
3  部门1  小部门2   阎俊  67593  72468
4  部门1  小部门2   伍莉  10707   2630

In [3]:
groups=df.groupby('dept')

In [5]:
groups.get_group('部门2') # 获取某个分组的详细数据

  dept1 name    销售额     奖金
5  小部门3  石秀珍  32406  60175
6  小部门4  黄桂兰   9370  44283
7  小部门4   梁倩  32435  52669
8  小部门4  赵建国  89941  48170
9  小部门4  唐桂珍  13712  84863