##  45 pandas分组聚合统计（六）

### 分组聚合统计
#### groupby  agg unique 自定义函数等

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])
df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['奖金']=np.random.randint(100,100000,size=(10, 1))
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)

In [2]:
df # 随机生成的数据

  dept dept1 name    销售额     奖金
0  部门1  小部门1   卢彬  99237  14923
1  部门1  小部门1   孙丹  34572   4666
2  部门1  小部门2   饶涛  47487  28123
3  部门1  小部门2   戴洁  44577  59522
4  部门1  小部门2  李建平  68356  76668
5  部门2  小部门3   麦芳  98470  14968
6  部门2  小部门4   李杨    360   9192
7  部门2  小部门4   杨丽  91955  88835
8  部门2  小部门4   丁楠  53085  72271
9  部门2  小部门4  马凤英  90935  23962

In [21]:
df.groupby(['dept','dept1'],as_index=0).agg(xiasohou=('销售额','sum'),销售额_平均=('销售额','mean')) # 自定义结果列名称，命名方法求销售额合计

  dept dept1  xiasohou        销售额_平均
0  部门1  小部门1    133809  66904.500000
1  部门1  小部门2    160420  53473.333333
2  部门2  小部门3     98470  98470.000000
3  部门2  小部门4    236335  59083.750000

In [12]:
df.groupby(['dept','dept1'],as_index=0).agg(xiasohou=('销售额','sum')) # 自定义结果列名称，命名方法求销售额合计

  dept dept1  xiasohou
0  部门1  小部门1    133809
1  部门1  小部门2    160420
2  部门2  小部门3     98470
3  部门2  小部门4    236335

In [8]:
df.groupby(['dept','dept1'],as_index=0).agg({'销售额':['sum','mean',lambda x :x.max()-x.min()]}).rename({'<lambda_0>':'range'},axis=1) # agg 中加入自定函数.修改默认的列名

  dept dept1     销售额
                 sum          mean  range
0  部门1  小部门1  133809  66904.500000  64665
1  部门1  小部门2  160420  53473.333333  23779
2  部门2  小部门3   98470  98470.000000      0
3  部门2  小部门4  236335  59083.750000  91595

In [7]:
df.groupby(['dept','dept1'],as_index=0).agg({'销售额':['sum','mean',lambda x :x.max()-x.min()]}) # agg 中加入自定函数

  dept dept1     销售额
                 sum          mean <lambda_0>
0  部门1  小部门1  133809  66904.500000      64665
1  部门1  小部门2  160420  53473.333333      23779
2  部门2  小部门3   98470  98470.000000          0
3  部门2  小部门4  236335  59083.750000      91595

In [4]:
df.groupby(['dept'])['dept1'].unique() # 同前，换了统计对象，更简单清晰

dept
部门1    [小部门1, 小部门2]
部门2    [小部门3, 小部门4]
Name: dept1, dtype: object

In [3]:
df.groupby(['dept','dept1'])['name'].unique() # 分组统计每个组内的不重复的元素

dept  dept1
部门1   小部门1              [卢彬, 孙丹]
      小部门2         [饶涛, 戴洁, 李建平]
部门2   小部门3                  [麦芳]
      小部门4     [李杨, 杨丽, 丁楠, 马凤英]
Name: name, dtype: object