##  46 pandas分组聚合统计（七）

### 分组聚合统计
#### groupby  agg  自定义函数 列名 非标准列名

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])
df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['奖金']=np.random.randint(100,100000,size=(10, 1))
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)

In [2]:
df # 随机生成的数据

  dept dept1 name    销售额     奖金
0  部门1  小部门1   胡雷  30309  41215
1  部门1  小部门1   李丹  22173  54306
2  部门1  小部门2   高浩   8077  98163
3  部门1  小部门2   金琳  17774   4167
4  部门1  小部门2   罗静  95539  92517
5  部门2  小部门3   成璐  85574  76045
6  部门2  小部门4   王琴  35527  54822
7  部门2  小部门4   鞠娟  96039  81361
8  部门2  小部门4   吴云  49867  67502
9  部门2  小部门4  郑丹丹  31522  44010

In [12]:
df.groupby(['dept','dept1'],as_index=0).agg( # 自定义列名不符合python要求时 的写法
    **{'销售额':('销售额','sum'),
       '销售额 平均':('销售额','mean')}
)

  dept dept1     销售额        销售额 平均
0  部门1  小部门1   52482  26241.000000
1  部门1  小部门2  121390  40463.333333
2  部门2  小部门3   85574  85574.000000
3  部门2  小部门4  212955  53238.750000

In [5]:
df.groupby(['dept','dept1'],as_index=0).agg(销售额=pd.NamedAgg('销售额',lambda x:x.sum()),销售额_平均=('销售额','mean')) # 这是NamedAgg的标准写法，下方是简写

  dept dept1     销售额        销售额_平均
0  部门1  小部门1   52482  26241.000000
1  部门1  小部门2  121390  40463.333333
2  部门2  小部门3   85574  85574.000000
3  部门2  小部门4  212955  53238.750000

In [4]:
df.groupby(['dept','dept1'],as_index=0).agg(销售额=('销售额',lambda x:x.sum()),销售额_平均=('销售额','mean')) # 可以使用lambda

  dept dept1     销售额        销售额_平均
0  部门1  小部门1   52482  26241.000000
1  部门1  小部门2  121390  40463.333333
2  部门2  小部门3   85574  85574.000000
3  部门2  小部门4  212955  53238.750000

In [3]:
df.groupby(['dept','dept1'],as_index=0).agg(销售额=('销售额','sum'),销售额_平均=('销售额','mean'))

  dept dept1     销售额        销售额_平均
0  部门1  小部门1   52482  26241.000000
1  部门1  小部门2  121390  40463.333333
2  部门2  小部门3   85574  85574.000000
3  部门2  小部门4  212955  53238.750000