##  47 pandas分组聚合统计（八）

### 分组聚合统计
#### groupby  agg  transform

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])
df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['奖金']=np.random.randint(100,100000,size=(10, 1))
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)

In [18]:
df # 随机生成的数据

  dept dept1 name    销售额     奖金    销售额—占比  销售额—小部门占比
0  部门1  小部门1   黄坤  59406  30514  0.330118      0.700
1  部门1  小部门1   刘鹏  25497  54517  0.141686      0.300
2  部门1  小部门2   蔡璐  47603  69622  0.264529      0.501
3  部门1  小部门2   雷伟  10533  62148  0.058532      0.111
4  部门1  小部门2   周婷  36915  77583  0.205136      0.388
5  部门2  小部门3  陈淑英   5775  24060  0.030645      1.000
6  部门2  小部门4  宋桂香  75203    497  0.399063      0.412
7  部门2  小部门4  景建国   4022  93405  0.021343      0.022
8  部门2  小部门4  白海燕  51550  13873  0.273549      0.282
9  部门2  小部门4   陶磊  51899  20512  0.275401      0.284

In [17]:
df['销售额—小部门占比']=df.groupby(['dept','dept1'])['销售额'].transform(lambda x:x/x.sum()).round(3) # 可以调整格式

In [13]:
df['销售额—小部门占比']=df.groupby(['dept','dept1'])['销售额'].transform(lambda x:x/x.sum()) # 也可以计算小部门的成员的销售额占比

In [11]:
df['销售额—占比']=df.groupby(['dept'])['销售额'].transform(lambda x:x/x.sum()) # 自增一列，计算各个部门的成员的销售额占比

In [9]:
df.groupby(['dept'])[['销售额','奖金']].transform('mean','sum')# 可以看出，不支持聚合写法

       销售额       奖金
0  35990.8  58876.8
1  35990.8  58876.8
2  35990.8  58876.8
3  35990.8  58876.8
4  35990.8  58876.8
5  37689.8  30469.4
6  37689.8  30469.4
7  37689.8  30469.4
8  37689.8  30469.4
9  37689.8  30469.4

In [6]:
df.groupby(['dept'])[['销售额','奖金']].transform('sum') # 计算各个dept的销售额的合计，返回列的形状行数与原来相同，对比下面。可以计算多列

      销售额      奖金
0  179954  294384
1  179954  294384
2  179954  294384
3  179954  294384
4  179954  294384
5  188449  152347
6  188449  152347
7  188449  152347
8  188449  152347
9  188449  152347

In [3]:
df.groupby(['dept'])['销售额'].transform('sum') # 计算各个dept的销售额的合计，返回列的形状行数与原来相同，对比下面

0    179954
1    179954
2    179954
3    179954
4    179954
5    188449
6    188449
7    188449
8    188449
9    188449
Name: 销售额, dtype: int32

In [4]:
df.groupby(['dept'])['销售额'].sum()

dept
部门1    179954
部门2    188449
Name: 销售额, dtype: int32