## 50 pandas基本运算(四)

### 加减乘除等与空值处理
#### +-*/ // % **与 add sub mul div truediv floordiv mod pow

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['姓名'])

In [2]:
df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['工龄']=np.random.randint(1,10,size=(10, 1))
df.insert(0,'部门',['部门1']*5+['部门2']*5)
df['绩效系数']=np.random.randint(7,10,size=(10, 1))/10
df['补贴']=np.random.randint(10,1000,size=(10, 1))
df['请假扣除']=np.random.randint(0,1000,size=(10, 1))

In [7]:
df # 随机生成的数据

    部门   姓名    销售额  工龄  绩效系数     补贴  请假扣除
0  部门1   田艳  54285   3   0.7    NaN   794
1  部门1   洪艳  62028   2   0.9  343.0   756
2  部门1   余文  13790   9   0.9   12.0   802
3  部门1   迟凯  91290   2   0.8  190.0   985
4  部门1   毛欣   1170   6   0.9  658.0   168
5  部门2  祝金凤  74280   5   0.8  629.0   968
6  部门2   刘丹  44322   2   0.7  116.0   466
7  部门2   苗杨  86968   4   0.8  587.0   638
8  部门2   银斌  97070   3   0.7  495.0     4
9  部门2   李阳  73086   9   0.7   68.0   475

In [31]:
df[['补贴','绩效系数']].pow([5,10]) # 等效下面

             补贴      绩效系数
0           NaN  0.028248
1  4.747562e+12  0.348678
2  2.488320e+05  0.348678
3  2.476099e+11  0.107374
4  1.233472e+14  0.348678
5  9.845850e+13  0.107374
6  2.100342e+10  0.028248
7  6.969322e+13  0.107374
8  2.971844e+13  0.028248
9  1.453934e+09  0.028248

In [30]:
df[['补贴','绩效系数']]**([5,10]) # 也可以多列

             补贴      绩效系数
0           NaN  0.028248
1  4.747562e+12  0.348678
2  2.488320e+05  0.348678
3  2.476099e+11  0.107374
4  1.233472e+14  0.348678
5  9.845850e+13  0.107374
6  2.100342e+10  0.028248
7  6.969322e+13  0.107374
8  2.971844e+13  0.028248
9  1.453934e+09  0.028248

In [24]:
df.补贴**10  # 指数幂乘。x的y次方。y大容易超出计算机数值范围

0             NaN
1    2.253934e+25
2    6.191736e+10
3    6.131066e+22
4    1.521454e+28
5    9.694077e+27
6    4.411435e+20
7    4.857144e+27
8    8.831856e+26
9    2.113923e+18
Name: 补贴, dtype: float64

In [26]:
df.补贴.pow(10,fill_value=0) # 同上

0    0.000000e+00
1    2.253934e+25
2    6.191736e+10
3    6.131066e+22
4    1.521454e+28
5    9.694077e+27
6    4.411435e+20
7    4.857144e+27
8    8.831856e+26
9    2.113923e+18
Name: 补贴, dtype: float64

In [21]:
df.补贴%100  # 注意 nan

0     NaN
1    43.0
2    12.0
3    90.0
4    58.0
5    29.0
6    16.0
7    87.0
8    95.0
9    68.0
Name: 补贴, dtype: float64

In [22]:
df.补贴.mod(100,fill_value=0) # 求余数

0     0.0
1    43.0
2    12.0
3    90.0
4    58.0
5    29.0
6    16.0
7    87.0
8    95.0
9    68.0
Name: 补贴, dtype: float64

In [19]:
df.补贴//100  # 注意 nan

0    NaN
1    3.0
2    0.0
3    1.0
4    6.0
5    6.0
6    1.0
7    5.0
8    4.0
9    0.0
Name: 补贴, dtype: float64

In [20]:
df.补贴.floordiv(100,fill_value=0) # 除法，保留整数结果，float方式。同样效果

0    0.0
1    3.0
2    0.0
3    1.0
4    6.0
5    6.0
6    1.0
7    5.0
8    4.0
9    0.0
Name: 补贴, dtype: float64

In [18]:
df.补贴.truediv(100,fill_value=0) # 除法，float方式。同样效果

0    0.00
1    3.43
2    0.12
3    1.90
4    6.58
5    6.29
6    1.16
7    5.87
8    4.95
9    0.68
Name: 补贴, dtype: float64

In [16]:
df.补贴/100  # 注意 nan

0     NaN
1    3.43
2    0.12
3    1.90
4    6.58
5    6.29
6    1.16
7    5.87
8    4.95
9    0.68
Name: 补贴, dtype: float64

In [17]:
df.补贴.div(100,fill_value=0) # 除法，float方式

0    0.00
1    3.43
2    0.12
3    1.90
4    6.58
5    6.29
6    1.16
7    5.87
8    4.95
9    0.68
Name: 补贴, dtype: float64

In [14]:
df.补贴*100  # 注意 nan

0        NaN
1    34300.0
2     1200.0
3    19000.0
4    65800.0
5    62900.0
6    11600.0
7    58700.0
8    49500.0
9     6800.0
Name: 补贴, dtype: float64

In [15]:
df.补贴.mul(100,fill_value=0) # 乘法

0        0.0
1    34300.0
2     1200.0
3    19000.0
4    65800.0
5    62900.0
6    11600.0
7    58700.0
8    49500.0
9     6800.0
Name: 补贴, dtype: float64

In [12]:
df.补贴-100  # 注意 nan

0      NaN
1    243.0
2    -88.0
3     90.0
4    558.0
5    529.0
6     16.0
7    487.0
8    395.0
9    -32.0
Name: 补贴, dtype: float64

In [13]:
df.补贴.sub(100,fill_value=0) # 减法

0   -100.0
1    243.0
2    -88.0
3     90.0
4    558.0
5    529.0
6     16.0
7    487.0
8    395.0
9    -32.0
Name: 补贴, dtype: float64

In [6]:
df.loc[0,'补贴']=np.nan # 修改出来一个nan

In [8]:
df.补贴+100  # 注意 nan

0      NaN
1    443.0
2    112.0
3    290.0
4    758.0
5    729.0
6    216.0
7    687.0
8    595.0
9    168.0
Name: 补贴, dtype: float64

In [9]:
df.补贴.add(100) # 效果同上

0      NaN
1    443.0
2    112.0
3    290.0
4    758.0
5    729.0
6    216.0
7    687.0
8    595.0
9    168.0
Name: 补贴, dtype: float64

In [11]:
df.补贴.add(100,fill_value=0) # 将nan填充代替为0，再计算和。类似sql isnull()。 其它几个 函数都可以类似操作

0    100.0
1    443.0
2    112.0
3    290.0
4    758.0
5    729.0
6    216.0
7    687.0
8    595.0
9    168.0
Name: 补贴, dtype: float64