## 52 pandas窗口函数（二）

### 窗口函数
#### ewm 指数加权。仅展示使用，数学物理意义参考网络
#### 可以使用 mean(), var(), std(), corr(), cov()，不再一一示例

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

In [2]:
df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['时间']=pd.date_range(start='2020-01-01',periods=10,freq='D')

In [3]:
df.insert(0,'dept',['部门1']*5+['部门2']*5)

In [4]:
df # 随机生成的数据

  dept name    销售额         时间
0  部门1  张玉梅  37342 2020-01-01
1  部门1   王华  19003 2020-01-02
2  部门1  李金凤  29812 2020-01-03
3  部门1   陈婷  31563 2020-01-04
4  部门1   陈帆  13244 2020-01-05
5  部门2  李丹丹  11844 2020-01-06
6  部门2   卢俊  12374 2020-01-07
7  部门2  林丹丹  86427 2020-01-08
8  部门2  宋玉珍  89915 2020-01-09
9  部门2   李霞  36113 2020-01-10

In [5]:
df.销售额.ewm(com=.5).mean() # 指定 com 质心

0    37342.000000
1    23587.750000
2    27896.846154
3    30371.500000
4    18905.983471
5    14191.527473
6    12979.288198
7    61951.893598
8    80594.911696
9    50939.801687
Name: 销售额, dtype: float64

In [8]:
df.销售额.ewm(halflife='4 days',times=df.时间).mean() # 依据时间列，指定半衰期

0    37342.000000
1    27380.005480
2    28334.476229
3    29361.815640
4    24937.013094
5    21714.557770
6    19599.686578
7    33776.306744
8    45085.676127
9    43351.535550
Name: 销售额, dtype: float64