## 64 pandas分类数据（四）

### 分类数据 Categorical data （也有翻译为范畴数据）
#### 分类数据操作：增加/删除/设置/删除未使用的分类

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

In [2]:
df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['时间']=pd.date_range(start='2020-01-01',periods=10,freq='D')
df.insert(0,'dept',['部门1']*5+['部门2']*5)

In [3]:
df # 随机生成的数据

  dept name    销售额         时间
0  部门1   何阳   4274 2020-01-01
1  部门1   杨刚  99471 2020-01-02
2  部门1   王鑫  17248 2020-01-03
3  部门1   钟帆  68406 2020-01-04
4  部门1  杜玉珍  76326 2020-01-05
5  部门2  胡桂兰  63195 2020-01-06
6  部门2   艾瑜  27118 2020-01-07
7  部门2   李慧  80047 2020-01-08
8  部门2   许静  96507 2020-01-09
9  部门2   胡成   4848 2020-01-10

In [4]:
t=df.dept.astype(pd.CategoricalDtype())

In [20]:
t

0    部门1
1    部门1
2    部门1
3    部门1
4    部门1
5    部门2
6    部门2
7    部门2
8    部门2
9    部门2
Name: dept, dtype: category
Categories (2, object): ['部门1', '部门2']

In [6]:
t=t.cat.add_categories(['dept3','dept4']) # 增加分类

In [13]:
t=t.cat.add_categories(['dept1','dept2']) #  新增加的分类中 不能 包含已有的分类

In [ ]:
t=t.cat.remove_categories(['dept1','dept2']) #  删除 指定的分类
# 提示不能 删除 没有的分类

In [19]:
t=t.cat.remove_unused_categories() # 删除元素数据中未使用到的分类

In [23]:
t.cat.set_categories(['部门1', '部门3','dept1','dept2']) # 设置分类
# 注意 数据元素无法找到相同的分类，显示为nan

0    部门1
1    部门1
2    部门1
3    部门1
4    部门1
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: dept, dtype: category
Categories (4, object): ['部门1', '部门3', 'dept1', 'dept2']