## 79 pandas排序（二）

### rank 排名函数，计算数字排序
参数 axis=0, method={‘average’, ‘min’, ‘max’, ‘first’, ‘dense’}, numeric_only=None, na_option={‘keep’, ‘top’, ‘bottom’}, ascending=True, pct=False

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['时间']=pd.date_range(start='2020-01-01',periods=10,freq='D')
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept 1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)

### 演示数据

In [2]:
df.iloc[0,3]=np.nan #  修改成nan
df.iloc[1,3]=df.iloc[5,3] #  修改成一样

In [22]:
df # 随机生成的数据

  dept dept 1 name      销售额         时间   排名
0  部门1   小部门1  谢秀珍      NaN 2020-01-01  NaN
1  部门1   小部门1  刘婷婷  94971.0 2020-01-02  7.5
2  部门1   小部门2  赵玉兰  47657.0 2020-01-03  4.0
3  部门1   小部门2   方芳   3452.0 2020-01-04  1.0
4  部门1   小部门2   苑凯  86060.0 2020-01-05  6.0
5  部门2   小部门3  谢凤兰  94971.0 2020-01-06  7.5
6  部门2   小部门4   邓静   6533.0 2020-01-07  2.0
7  部门2   小部门4   李霞  69390.0 2020-01-08  5.0
8  部门2   小部门4   姜佳  95820.0 2020-01-09  9.0
9  部门2   小部门4   阎亮  11306.0 2020-01-10  3.0

In [21]:
df['排名']=df.销售额.rank(ascending=1) #

In [30]:
df.groupby('dept').销售额.rank(ascending=False) # 也可以用于分组

0    NaN
1    1.0
2    3.0
3    4.0
4    2.0
5    2.0
6    5.0
7    3.0
8    1.0
9    4.0
Name: 销售额, dtype: float64

In [26]:
df.销售额.rank(pct=1) # 给出排序分位数

0         NaN
1    0.833333
2    0.444444
3    0.111111
4    0.666667
5    0.833333
6    0.222222
7    0.555556
8    1.000000
9    0.333333
Name: 销售额, dtype: float64

In [33]:
df.销售额.rank(ascending=0) # 结果排序

0    NaN
1    2.5
2    6.0
3    9.0
4    4.0
5    2.5
6    8.0
7    5.0
8    1.0
9    7.0
Name: 销售额, dtype: float64

In [15]:
df.销售额.rank(na_option='bottom') # 对于 nan怎么处理。保持，最前，最后

0    10.0
1     7.5
2     4.0
3     1.0
4     6.0
5     7.5
6     2.0
7     5.0
8     9.0
9     3.0
Name: 销售额, dtype: float64

In [8]:
df.销售额.rank(method='average') # 对于 相同的数字怎么排序。默认 平均

0    NaN
1    7.5
2    4.0
3    1.0
4    6.0
5    7.5
6    2.0
7    5.0
8    9.0
9    3.0
Name: 销售额, dtype: float64

In [6]:
df.销售额.min()

3452.0

In [5]:
df.rank(numeric_only=True) # 仅仅对数字类型列排序

   销售额
0  NaN
1  7.5
2  4.0
3  1.0
4  6.0
5  7.5
6  2.0
7  5.0
8  9.0
9  3.0

In [4]:
df.rank() # 一个简单的，虽然没什么意义

   dept  dept 1  name  销售额    时间
0   3.0     1.5   7.0  NaN   1.0
1   3.0     1.5   1.0  7.5   2.0
2   3.0     4.0   8.0  4.0   3.0
3   3.0     4.0   3.0  1.0   4.0
4   3.0     4.0   5.0  6.0   5.0
5   8.0     6.0   6.0  7.5   6.0
6   8.0     8.5   9.0  2.0   7.0
7   8.0     8.5   4.0  5.0   8.0
8   8.0     8.5   2.0  9.0   9.0
9   8.0     8.5  10.0  3.0  10.0