## 90 查询最大最小值

### nlargest 返回降序排列后的最前面n行
参数 n, columns, keep={‘first’, ‘last’, ‘all’}, default ‘first’
### nsmallest 返回升序排列后的最前面n行
参数 和 用法 类似 nlargest

In [1]:
import numpy  as np
import pandas as pd
df = pd.DataFrame({'population': [59000000, 65000000, 434000,
                                  434000, 434000, 337000, 11300,
                                  11300, 11300],
                   'GDP': [1937894, 2583560 , 12011, 4520, 12128,
                           17036, 182, 38, 311],
                   'alpha-2': ["IT", "FR", "MT", "MV", "BN",
                               "IS", "NR", "TV", "AI"]},
                  index=["Italy", "France", "Malta",
                         "Maldives", "Brunei", "Iceland",
                         "Nauru", "Tuvalu", "Anguilla"])

### 演示数据

In [2]:
df

          population      GDP alpha-2
Italy       59000000  1937894      IT
France      65000000  2583560      FR
Malta         434000    12011      MT
Maldives      434000     4520      MV
Brunei        434000    12128      BN
Iceland       337000    17036      IS
Nauru          11300      182      NR
Tuvalu         11300       38      TV
Anguilla       11300      311      AI

In [5]:
df.nlargest(2,columns='population') # 查询按照population 降序排列结果的前2行。即 population 最多的两个国家

        population      GDP alpha-2
France    65000000  2583560      FR
Italy     59000000  1937894      IT

In [7]:
df.sort_values(by=['population'],ascending=False).head(2) # 等效。上面的更简洁高效

        population      GDP alpha-2
France    65000000  2583560      FR
Italy     59000000  1937894      IT

In [8]:
df.nlargest(2,columns=['population','GDP']) # 查询按照population GDP 两列 逐个列降序排列结果的前2行。

        population      GDP alpha-2
France    65000000  2583560      FR
Italy     59000000  1937894      IT

In [11]:
df.nlargest(2,columns=['population','GDP'],keep='all') # 查询按照population GDP 两列 逐个列降序排列结果的前2行。
# 遇见相同数据怎么处理： 保留 第一个 最后一个 或者 全部

        population      GDP alpha-2
France    65000000  2583560      FR
Italy     59000000  1937894      IT

In [12]:
df.population.nlargest(2) # 使用在某列上

France    65000000
Italy     59000000
Name: population, dtype: int64

In [13]:
df.index.nlargest(2) # 索引上不可用

AttributeError: 'Index' object has no attribute 'nlargest'

In [14]:
df.nsmallest(2,columns=['population','GDP'],keep='all') # nsmallest 使用方法类似

        population  GDP alpha-2
Tuvalu       11300   38      TV
Nauru        11300  182      NR

In [18]:
df.nsmallest(2,columns=['population'],keep='all') # nsmallest 使用方法类似。注意区别 参数keep

          population  GDP alpha-2
Nauru          11300  182      NR
Tuvalu         11300   38      TV
Anguilla       11300  311      AI

In [20]:
df.population.nsmallest(2,keep='all') # nsmallest 列上使用

Nauru       11300
Tuvalu      11300
Anguilla    11300
Name: population, dtype: int64