## 91 查询最大最小值的索引

### idxmax 返回沿着指定轴方向出现的第一个最大值的索引
参数 axis=0, skipna=True
### idxmin 返回沿着指定轴方向出现的第一个最小值的索引
参数 和 使用 类似idxmax

In [1]:
import numpy  as np
import pandas as pd
df = pd.DataFrame({'population': [59000000, 65000000, 434000,
                                  434000, 434000, 337000, 11300,
                                  11300, 11300],
                   'GDP': [1937894, 2583560 , 12011, 4520, 12128,
                           17036, 182, 38, 311]},
                  index=["Italy", "France", "Malta",
                         "Maldives", "Brunei", "Iceland",
                         "Nauru", "Tuvalu", "Anguilla"])

### 演示数据

In [12]:
df

          population      GDP
Italy       59000000  1937894
France      65000000  2583560
Malta         434000    12011
Maldives      434000     4520
Brunei        434000    12128
Iceland       337000    17036
Nauru          11300      182
Tuvalu         11300       38
Anguilla       11300      311

In [10]:
df.idxmin() #  idxmin 使用类似。找第一个出现的最小的行的索引

population     Nauru
GDP           Tuvalu
dtype: object

In [9]:
df.population.idxmin(axis=0,skipna=1) #  idxmin 使用类似

'Nauru'

In [8]:
df.index.idxmax(axis=0,skipna=1) #  提示我们 index 上 不能使用

AttributeError: 'Index' object has no attribute 'idxmax'

In [7]:
df.population.idxmax(axis=0,skipna=1) #  在 列 上使用

'France'

In [6]:
df.idxmax(axis=0,skipna=1) #  计算时 是否排除nan

population    France
GDP           France
dtype: object

In [5]:
df.idxmax(axis=1) #  使用在axis=1 ，列方向。均是 population 大于 GDP

Italy       population
France      population
Malta       population
Maldives    population
Brunei      population
Iceland     population
Nauru       population
Tuvalu      population
Anguilla    population
dtype: object

In [4]:
df.idxmax() #  population 的最大值 65000000 对应的索引是France；GDP 则也是对应 France

population    France
GDP           France
dtype: object