## 93 first与last使用

### first 和last不同情况下用途不同
参数 numeric_only=False, min_count=- 1

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['时间']=pd.date_range(start='2020-01-01',periods=10,freq='2D')
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept 1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)
df.iloc[[0,9],[3]]=np.nan #  修改成nan

### 演示数据

In [2]:
df

  dept dept 1 name      销售额         时间
0  部门1   小部门1  张淑珍      NaN 2020-01-01
1  部门1   小部门1   周超  10870.0 2020-01-03
2  部门1   小部门2   史丽  37889.0 2020-01-05
3  部门1   小部门2   袁丽  55858.0 2020-01-07
4  部门1   小部门2   姜柳  46129.0 2020-01-09
5  部门2   小部门3  张志强  13510.0 2020-01-11
6  部门2   小部门4   许颖  20283.0 2020-01-13
7  部门2   小部门4  纪建华  50494.0 2020-01-15
8  部门2   小部门4  张凤英  23592.0 2020-01-17
9  部门2   小部门4  张桂珍      NaN 2020-01-19

In [16]:
df.set_index('时间').last(offset='1D') # 最后一个。
# 因 last 与 first 的方向相反，参数用法相似，不再重复

           dept dept 1 name  销售额
时间
2020-01-19  部门2   小部门4  张桂珍  NaN

In [15]:
df.groupby(by=['dept','dept 1']).last(min_count=2)# last 与 first 的方向相反

             name      销售额         时间
dept dept 1
部门1  小部门1      周超      NaN 2020-01-03
     小部门2      姜柳  46129.0 2020-01-09
部门2  小部门3    None      NaN        NaT
     小部门4     张桂珍  23592.0 2020-01-19

In [14]:
df.groupby(by=['dept','dept 1']).first(min_count=2)# 当每组不足二个时以nan 替代显示

             name      销售额         时间
dept dept 1
部门1  小部门1     张淑珍      NaN 2020-01-01
     小部门2      史丽  37889.0 2020-01-05
部门2  小部门3    None      NaN        NaT
     小部门4      许颖  20283.0 2020-01-13

In [13]:
df.groupby(by=['dept','dept 1']).first(min_count=3)# 当每组不足三个时以nan 替代显示

             name      销售额         时间
dept dept 1
部门1  小部门1    None      NaN        NaT
     小部门2      史丽  37889.0 2020-01-05
部门2  小部门3    None      NaN        NaT
     小部门4      许颖  20283.0 2020-01-13

In [12]:
df.groupby(by=['dept','dept 1']).first(min_count=1)# 分组获取各组第一个。注意nan被忽略。只计算 数字类型的列

            name      销售额         时间
dept dept 1
部门1  小部门1    张淑珍  10870.0 2020-01-01
     小部门2     史丽  37889.0 2020-01-05
部门2  小部门3    张志强  13510.0 2020-01-11
     小部门4     许颖  20283.0 2020-01-13

In [8]:
df.groupby(by=['dept','dept 1']).first(numeric_only=1)# 分组获取各组第一个。注意nan被忽略。只计算 数字类型的列

                 销售额
dept dept 1
部门1  小部门1    10870.0
     小部门2    37889.0
部门2  小部门3    13510.0
     小部门4    20283.0

In [7]:
df.groupby(by=['dept','dept 1']).first()# 分组获取各组第一个。注意nan被忽略

            name      销售额         时间
dept dept 1
部门1  小部门1    张淑珍  10870.0 2020-01-01
     小部门2     史丽  37889.0 2020-01-05
部门2  小部门3    张志强  13510.0 2020-01-11
     小部门4     许颖  20283.0 2020-01-13

In [6]:
df.set_index('时间').first(offset='3D') # 时间列为索引，求第一个，偏移offset=3天
# 对照区别，采用日历日期计算天数，而非行数

           dept dept 1 name      销售额
时间
2020-01-01  部门1   小部门1  张淑珍      NaN
2020-01-03  部门1   小部门1   周超  10870.0

In [5]:
df.set_index('时间').first(offset='2D') # 时间列为索引，求第一个，偏移offset=2天

           dept dept 1 name  销售额
时间
2020-01-01  部门1   小部门1  张淑珍  NaN

In [4]:
df.set_index('时间').first(offset='1D') # 时间列为索引，求第一个，偏移offset=1天

           dept dept 1 name  销售额
时间
2020-01-01  部门1   小部门1  张淑珍  NaN