## 98 协方差和相关系数

### cov 计算列数据之间的协方差，不含NA
参数 min_periods=None, ddof=1
### corr 计算列数据之间的相关系数，不含NA
参数 method='pearson', min_periods=1 
### corrwith 计算两个表/列数据之间的相关系数
参数 other, axis=0, drop=False, method='pearson'

In [1]:
import numpy  as np
import pandas as pd

df=pd.DataFrame(data=np.random.randint(100,100000,size=(10, 1)),columns=['a'])
df['b']=np.random.randint(100,100000,size=(10, 1))

### 演示数据

In [2]:
df # 随机生成的数据

       a      b
0   5917  43163
1  84904  14392
2  53514  97468
3  19165  64583
4  56462  50090
5  82707  77684
6  50365  62362
7  84980   2301
8  55871   7270
9  36568  84222

In [3]:
df.cov() # a，b 两列之间的协方差

              a             b
a  7.313481e+08 -3.003989e+08
b -3.003989e+08  1.107858e+09

In [4]:
df.cov(min_periods=1,ddof=1) # a，b 两列之间的协方差 min_periods 未获取有效计算 设定的最少数量，  ddof  delta 自由度

              a             b
a  7.313481e+08 -3.003989e+08
b -3.003989e+08  1.107858e+09

In [5]:
df.corr() # 相关系数

          a         b
a  1.000000 -0.333729
b -0.333729  1.000000

In [7]:
df.corr(method='pearson',min_periods=1) # 相关系数 .method 相关系数算法 min_periods的含义同上

          a         b
a  1.000000 -0.333729
b -0.333729  1.000000

In [8]:
df.corrwith(df) # 两个df 或列 之间的相关系数

a    1.0
b    1.0
dtype: float64

In [11]:
df.corrwith(df.a) # df a，b 与 a 之间的相关系数

a    1.000000
b   -0.333729
dtype: float64